[2020-03-06 15:50] dusty-phillips opened #2 "Is it possible to specify a mutable self on a query?"
I want to do something like this:

[code]

Where the balance function needs to accept self mutably. But I'm getting this error:

[code]

Is there a way to do this without resorting to interior mutability?

[2020-03-06 16:15] sunli829 commented on #2
GraphQLObject should be a temporary object, so don't need mutable.
You can change the type of self.client to Arc<Mutex<Client>>.

[2020-03-07 01:32] #2 closed

[2020-03-07 02:01] sunli829 opened #3 "add more test"
- [ ] Derive
    - [ ] Object
    - [ ] Enum
    - [ ] InputObject
    - [ ] Interface
- [ ] Types
    - [ ] Scalar
        - [x] Integer
        - [x] Float
        - [x] String
        - [x] Bool
        - [ ] ID
        - [ ] DateTime
        - [ ] UUID
    - [ ] Containers
        - [x] List
        - [x] Non-Null
    - [ ] Object
        - [ ] Generic Types
        - [ ] Lifetime cycle
    -

[2020-03-07 02:46] sunli829 opened #4 "Add tutorial"

[2020-03-07 02:46] sunli829 opened #5 "Add more examples"

[2020-03-10 19:33] dusty-phillips opened #6 "How to access a future through parking_lot guard"
I have a repro here:

https://github.com/dusty-phillips/async-graphql/blob/parking_lot_repro/examples/parking_lot.rs

In short, I'm using the [parking_lot](https://github.com/Amanieu/parking_lot) crate to get an `RwLock.` I've put the lock inside an Arc, and tried to access it from both a query and a mutation. However, I'm getting the following compile errors:

[code]

I've tried moving the guard

[2020-03-11 01:56] sunli829 commented on #6
This could be the reason:
Async_graphql internally calls MutationRoot::set_value with an indirect boxing Pin<Box<dyn Future<Output = Result<()>> + 'a + Send>>, and RwLockGuard does not implement Send.

Synchronization lock is not recommended, use async_std::sync::RwLock to solve this problem.

[code]

[2020-03-11 13:08] dusty-phillips commented on #6
Ah, thanks. That works for my immediate problem, although it shows that I'm going to have a much worse time working with a deeply nested parking_lot lock in a dependent library later. 🤢

[2020-03-16 06:12] #6 closed

[2020-03-22 13:41] geofmureithi commented on #5
I would suggest a subscription with Stream?

[2020-03-22 13:47] sunli829 commented on #5
Yes, I'm working on it. I think I can get it done the day after tomorrow.

[2020-03-22 18:08] geofmureithi commented on #5
Would you need any help?

[2020-03-23 01:08] sunli829 commented on #5
There are two main problems that have not been solved:

1. The guide book, similar to https://graphql-rust.github.io/juniper/current/
2. More test code

I'd appreciate it if you could help me with some of this! 😁

[2020-03-23 06:52] sunli829 commented on #5
Stream-based subscriptions, which may not be necessary, I dropped the change. GraphQL Subscription is usually based on a websocket connection. You should use 'async-graphql-acx-web' crate, which already provides everything you need.

[2020-03-23 20:40] geofmureithi commented on #5
Will check it out.
I can help with test code. Where should I start?

[2020-03-24 09:40] sunli829 commented on #5
src/validation/rules need to test.
You first need to create a schema for the tests, and then write the test code for each rule.
Take a look at `juniper`, its test code is comprehensive.

[2020-03-24 16:12] cksac opened #8 "Integration with dataloader to solve N+1 query problem"
I am trying to make `async-graphql` work with `dataloader`, [examples](https://github.com/cksac/dataloader-rs/tree/master/examples).
`cargo run --example juniper`
`cargo run --example async_graphql`

the async-await branch of `juniper` is able to do batch load, but `async-grapqhl` still not able to do so.

[2020-03-25 01:06] sunli829 commented on #8
This is because `async-graphql` does not yet support concurrent resolver, I'm adding this feature.

[2020-03-25 03:44] sunli829 commented on #8
I fixed this problem, please upgrade to `1.5.1`.

[2020-03-25 03:52] #8 closed

[2020-03-28 08:34] nicolaiunrein opened #9 "Support Error Extensions"
Hey,
first of all, I really enjoy using your library so far. I think it is already very comprehensive. One thing I am missing though is returning extensions for errors as described [here](https://github.com/graphql/graphql-spec/blob/master/spec/Section%207%20--%20Response.md) in the spec. Something like:
[code]

In terms of api, I think it would be nice to have a trait with a single method `with_e

[2020-03-28 09:47] sunli829 commented on #9
Thank you for your advice, that's a great idea, and I really need your help. These days I want to optimize the code in the subscription to make it easier to use, so our work doesn't conflict.If you have time, you can help implement `ErrorExtensions'.😁
Thanks again!

[2020-03-28 16:30] nicolaiunrein commented on #9
I thought a little about it and started implementing a first draft. Will be ready for review tomorrow or on monday I think.

[2020-03-29 11:56] sunli829 commented on #9
Is it a wrapper similar to `PositionError`?

[2020-03-29 15:11] nicolaiunrein commented on #9
Yes exactly. See PR for details.

[2020-03-29 15:45] #9 closed

[2020-03-30 01:01] dvdmgl opened #11 "InputObject not validating or i`m missing something"
Using the actix subscriptions example, adding validations to `InputObject` fails to validate

[code]

[2020-03-30 01:43] sunli829 commented on #11
I haven't supported validation of inputobject yet, and I'm adding this functionality.

[2020-03-30 02:51] sunli829 commented on #11
Please upgrade to 1.6.6😁

[2020-03-30 17:18] dvdmgl commented on #11
Super :sunglasses: :100:

I have updated the tests, to notice with arguments returns 2 errors, but with `InputObject` it returns only the 1st error.

[code]
Thank you for your awesome work.

[2020-03-30 17:18] #11 closed

[2020-03-30 19:08] snapiz opened #13 "Access to request in schema"
How to pass some context to schema with `web::Json(req.into_inner().execute(&s).await)` ? like a token from request

[2020-03-31 03:23] sunli829 commented on #13
Sorry, I missed such an important feature.🤢
Please upgrade to 1.6.8, I have added it.
Here's an example https://github.com/sunli829/async-graphql/blob/master/async-graphql-actix-web/examples/token.rs, get the token from the `Header` and access it through the `Context`

[2020-03-31 07:12] snapiz commented on #13
Very nice, Thanks

[2020-03-31 07:12] #13 closed

[2020-03-31 11:10] geofmureithi commented on #5
Hey been unable to help due to the current status of things. Lets see how things go.

[2020-04-01 04:39] sunli829 commented on #5
I'm write an example and you can see if you can do it together？

[2020-04-01 16:55] geofmureithi commented on #5
Sure, that would help.

[2020-04-02 02:23] sunli829 commented on #9
I reimplemented the error type in branch `error-type`, the error extension is still not very good, give some advice?

[2020-04-02 12:48] nicolaiunrein commented on #9
I looked at the `error-type` and made some adjustments. Please have a look and also at the example uses cases. It turns out to be quite tricky to implement some sort of default implementation but still let the user implement custom behaviour. Feel free to undo the commit if you don't like it.

[2020-04-02 12:49] nicolaiunrein commented on #9
I also replaced the trait bound std::err::Error with std::fmt::Display because I think Error is an unnecessary restriction.

[2020-04-02 13:08] sunli829 commented on #9
Thank you, It's merged to master.😁

[2020-04-02 18:00] nicolaiunrein opened #14 "Upload panics"
I get the following error when trying to upload a .png:
```panicked at 'byte index 19 is not a char boundary; it is inside '|' (bytes 18..19) of `test.png:image/png|PNG` ```

And this is my form data:
[code]

[2020-04-03 01:28] sunli829 commented on #14
I caused this problem by saving the file contents directly into the string, and now I base64 it.

[2020-04-03 07:42] nicolaiunrein opened #15 "Support Upload Stream"
The `Upload` type should provide a stream of bytes instead of a `Vec<u8>` leaving it to the user to decide what to do with it eg. stream it into a tempfile. I think loading the file contents into memory is a big performance and security issue.

Alternatively let the user define a location for uploads (eg. /tmp) and stream the content into files at this location and pass handles to these files to t

[2020-04-03 08:42] sunli829 commented on #15
I'm also leaning towards the first option, and I want to remove the dependency on the `actix-multipart` to make it more compatible with other web servers. I searched existing crates and didn't have a working asynchronous multipart parser, so I probably had to write a new one.

Then add a function like `Schema::query_from_request<R: AsyncRead>(&self, content_type: &str, body: R)`, should be easier

[2020-04-03 09:13] nicolaiunrein commented on #15
Sounds good. :thumbsup:

[2020-04-06 11:27] #14 closed

[2020-04-06 12:41] nicolaiunrein opened #16 "Provide example with global stream for subscription"
Now that subscription handlers return a stream. What is the most idiomatic way for subscribers sharing a stream as opposed to each subscriber starting a new stream? Also is there an idiomatic way of implementing something like the publish method to emit to subscribers from a mutation handler directly?
I can think of two solutions:

1. Use lazy_static or
2. Store a channel on the SubscriptionRoot

[2020-04-06 14:27] sunli829 commented on #16
Global subscriptions are easy to implement, and I'll add a component tomorrow to do just that.

Creating the stream should be an asynchronous function, so I'm going to do that first.

[2020-04-06 15:03] sunli829 commented on #16
Are you Chinese?

[2020-04-06 19:31] nicolaiunrein commented on #16
No German :blush:
Why?

[2020-04-07 06:44] sunli829 commented on #16
I thought we were in the same time zone.😄

I added `SimpeBroker` and updated the example.
`SimpleBroker` should be used for standalone testing, and later I will provide support for `Kafka`, `Redis`, etc.

[2020-04-07 11:23] nicolaiunrein commented on #16
Yeah thought so too. :laughing:  Are you from china?

[2020-04-07 11:30] nicolaiunrein opened #17 "Serde alias gets ignored on Enums"
I ran into the following bug:
[code]

```thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Error("unknown variant `Other`, expected `Real`", line: 1, column: 19)', src/libcore/result.rs:1188:5```

Without the `async_graphql::Enum` annotation everything is fine.

[2020-04-07 11:36] nicolaiunrein commented on #17
Structs do not seem to be affected. The following code runs just fine
[code]

[2020-04-07 13:06] sunli829 commented on #16
Yes, I'm Chinese.😁

[2020-04-07 13:08] sunli829 commented on #17
Yes, there was a problem with this place, and I ignored #derive because there was another problem, but now I can solve it.

[2020-04-07 13:50] sunli829 commented on #17
I fixed this on the master branch.

[2020-04-07 13:52] nicolaiunrein commented on #16
SimpleBroker panics at ```called `Option::unwrap()` on a `None` value``` if used with more than one type. Is this intended? If so this should be reflected in the docs/example.

[2020-04-07 14:18] sunli829 commented on #16
The problem has been solved.😁

[2020-04-07 14:20] sunli829 commented on #16
I didn't have a test because I was going to sleep. That should be fine.

[2020-04-08 00:04] #5 closed

[2020-04-08 00:04] #4 closed

[2020-04-08 00:04] #3 closed

[2020-04-12 09:22] #16 closed

[2020-04-12 09:22] #17 closed

[2020-04-14 04:00] sunli829 commented on #15
I ended up choosing the first option because the second option had some problems with the order of requests.

[2020-04-19 03:59] phated opened #18 "Multiple interfaces?"
First, I wanted to say thank you for this amazing project! 🙇

I'm currently implementing a Relay client against my async-graphql server and they require everything to implement the `Node { id }` interface for every object.

If I implement `Node` for every interface, I'm not sure how to implement another interface on the same object. Have you considered this for the `#[async_graphql::Interface]` ma

[2020-04-19 05:37] sunli829 commented on #18
Very easy，here's an example, `MyObj` implemented`IntefaceA` and `InterfaceB`.

[code]

[2020-04-19 19:25] phated commented on #18
I think there might be a problem in representing that structure in a resolver.

If you implement:
[code]

In the above example, the server doesn't know about `InterfaceB` and the query execution fails.

I put together a sample repository at https://github.com/phated/async-graphql-interfaces that identifies the problem.

[2020-04-19 19:50] phated commented on #18
I've been thinking *a lot* about Interfaces in GraphQL to support Relay in my data structures and I wonder if they are better represented in Rust by implementing a trait.

What do you think of this API?

[code]

I'm not sure if this is possible with Rust macros because I don't understand them enough.

[2020-04-20 01:13] sunli829 commented on #18
This seems like a pretty good design, but unfortunately it cannot be implemented due to the limitations of the rust procedural macros. The current interface is defined in a way that I've thought about for a long time, is easy to use and easy to understand, and more importantly is rustfmt friendly. See how juniper defines the interface. It's similar to what you want, but not easy to use.

[2020-04-20 02:01] sunli829 commented on #18
I see what you mean. You want to return a combination of two interfaces. Let me think for a moment.

[2020-04-20 02:04] phated commented on #18
Thank you, I was just going to write that. I believe it is a requirement by [GraphQL spec](https://spec.graphql.org/draft/#sec-Interfaces).

This is a common pattern when using Relay because their client adds the Node fragment onto every query.

Juniper doesn't support this as far as I can tell, which was the reason I found your awesome library.

[2020-04-20 02:28] sunli829 commented on #18
Is it something like that?

[code]

[2020-04-20 02:44] sunli829 commented on #18
Why not just return `MyObj`?
[code]

[2020-04-20 02:46] phated commented on #18
Each interface doesn't need to implement the others in a chain. See https://spec.graphql.org/draft/#example-ab5e5

[2020-04-20 02:47] phated commented on #18
MyObj isn't the only struct implemention the interface, I just trying to shrink the example.

[2020-04-20 02:51] sunli829 commented on #18
Does GraphQL support such a field type?
[code]

[2020-04-20 03:01] phated commented on #18
I believe each would need to be an object that implements each interface. The interface values seem to be attached to the type declaration.

[2020-04-20 03:04] sunli829 commented on #18
'Async-graphql' currently does not support interface implementing interface.
Is the following function what you want?
`MyObj` implements `InterfaceB`, and because `InterfaceB` implements `InterfaceA`, `MyObj` automatically implements `InterfaceA`.

[code]

[2020-04-20 03:07] phated commented on #18
I believe that would solve my current problem, yes.

[2020-04-20 03:10] sunli829 commented on #18
This is really a big problem, and I'm going to solve it now. Thank you very much.😁

[2020-04-20 06:43] sunli829 commented on #18
Upgrade to `1.9.4` and take a look at this test.
https://github.com/sunli829/async-graphql/blob/fd156500e316e596a5ae47b40f6d99825b5990f7/tests/interface.rs#L4

[2020-04-20 06:44] nicolaiunrein opened #19 "What happened to `async_graphql_actix_web::HandlerBuilder`?"
I was about to upgrade from 1.7.8 to 1.9.3 when I realised that quite a lot has changed. So I looked at the examples and codebase but I could not find any info on how I would transition the below code to 1.9.3. Where do I specify `max_file_size` and `temp_dir`?

[code]

[2020-04-20 06:49] sunli829 commented on #19
I didn't think that was flexible enough, so I just removed this.😁
`async_graphql_actix_web::GQLRequest` is an Extractor that is easier to use.
Look at this
https://github.com/sunli829/async-graphql-examples/blob/fc28d830ba0aaeac3b8ece3ec5e2f725a146aafd/actix-web/starwars/src/main.rs#L7

[2020-04-20 06:52] sunli829 commented on #19
I moved all the examples to https://github.com/sunli829/async-graphql-examples/

[2020-04-20 06:58] phated commented on #18
It seems to be working! Thank you so much 🙇

I will keep testing it on my project and file anything I find.

[2020-04-20 07:00] sunli829 commented on #19
The `max_file_size` and `tempdir` properties are not supported yet, and this is easy to add because now we have our own multipart parser(https://github.com/sunli829/async-graphql/blob/master/src/http/multipart.rs). I'll add them tomorrow.

[2020-04-20 07:11] nicolaiunrein commented on #19
👍 I was just about to ask. I liked the builder though and I think it made it very intuitive for people getting started with the library.

[2020-04-20 07:47] sunli829 commented on #19
Builder is convenient, but not easy to combine with other Extractor, I haven't found a good way yet.

[2020-04-20 07:54] nicolaiunrein commented on #19
I agree. And I think we should get the features straight first and can add convenience functionality once everything has settled.

[2020-04-21 04:32] sunli829 commented on #19
Take a look at this example, add some parameters.

https://github.com/sunli829/async-graphql-examples/blob/6bfcf4498a6134bee144dc770b7c18fde37e45d3/actix-web/upload/src/main.rs#L29

[2020-04-21 06:54] phated opened #20 "Interface doesn't work with SimpleObject?"
I was trying to implement an Interface for my structs annotated with SimpleObject and it fails with `field, not a method`. Is it possible to support Interfaces using SimpleObjects?

Here's an example:
[code]

[2020-04-21 07:07] sunli829 commented on #20
Just a moment, let me have a look

[2020-04-21 07:12] sunli829 commented on #20
This is my problem, I forgot to add interface support to `SimpleObject`, so I'm going to do that。😁

[2020-04-21 07:47] sunli829 commented on #20
I solved the problem, upgrade to `1.9.7`.

Below is test:

https://github.com/sunli829/async-graphql/blob/6a3c54613bb7e18ec8f1a6a50f06c48059ae77d3/tests/interface.rs#L4

https://github.com/sunli829/async-graphql/blob/6a3c54613bb7e18ec8f1a6a50f06c48059ae77d3/tests/interface.rs#L51

[2020-04-21 12:58] sunli829 commented on #18
The last time the solution is not good, I think because I'm not support `http://spec.graphql.org/draft/#sec-Interfaces.Interfaces-Implementing-Interfaces` **(Draft)**, but in fact is another bug.
I fixed this bug in version `1.9.8` and removed the `implements` attribute on the `async_graphql::Interface`.

----------------------------

Below is the updated test, which requires manual registration b

[2020-04-22 00:46] Ejhfast opened #21 "Is it possible to pass session data (or other actix middleware data) into the GraphQL execution context?"
First, awesome work on this library! I started using it with actix as Juniper doesn't support subscriptions well and so far everything has worked great. But I've recently run into an issue:

Is it possible to pass actix-web session data into the execution context of a GraphQL resolver? I would like to use this to authenticate certain queries against a session token. Poor pseudocode for what I'm lo

[2020-04-22 01:50] sunli829 commented on #21
Here's an example:
https://github.com/sunli829/async-graphql-examples/tree/master/actix-web/token-from-header

[2020-04-22 02:21] Ejhfast commented on #21
Thank you! Can't believe I missed that, should have double checked in the examples

[2020-04-22 02:28] sunli829 commented on #21
The document is not very detailed.😁

[2020-04-22 03:50] phated commented on #20
There seems to be a different issue, but I'm investigating my code now.

[2020-04-22 04:20] phated opened #22 "Interfaces don't support FieldResult type"
It seems that Interfaces don't support the FieldResult type. This might be a scoping issue in the macro expansion?

Here is an example:

[code]

[2020-04-22 04:40] sunli829 commented on #22
I’ll add it now.😊

[2020-04-22 05:21] phated commented on #20
This is working now. Thank you! 🙇

[2020-04-22 05:21] #20 closed

[2020-04-22 05:35] sunli829 commented on #22
This feature is actually supported, but there is a bug that calls a deprecated function.
Upgrade to `v1.9.9`, the problem has been solved.😁

Here is the test code:
https://github.com/sunli829/async-graphql/blob/64d897a38433009ff6ff17dc13c3da249787ecb0/tests/interface.rs#L166

[2020-04-22 05:47] #21 closed

[2020-04-22 06:52] Relaxe111 opened #24 "Does async-graphql federation support subscriptions ?"
Hello, i'm sorry if question is stupid. Does async-graphql federation support subscriptions form remote graphql schemes?

[2020-04-22 07:19] sunli829 commented on #24
No, that's a good question.😁
It's not that I don't want to support it, but federation doesn't. If it does, I can add it soon.
------------------------
https://www.apollographql.com/docs/apollo-server/federation/introduction/

[2020-04-22 07:45] Relaxe111 commented on #24
Thank you for quick answer. I hope they will ad it at some time :)

[2020-04-22 07:45] #24 closed

[2020-04-22 18:59] Ejhfast opened #25 "Accessing context within subscriptions"
Thanks again for the great library and the fast response to my question yesterday! I now have a similar question around subscriptions. How do we pass data into the GraphQL resolver for a subscription? Here is pseudocode for what I would like to do:

[code]

And then:

[code]

Is this possible? I reviewed the [subscription example](https://github.com/sunli829/async-graphql-examples/blob/master/mode

[2020-04-23 00:00] sunli829 commented on #25
I'm adding this feature.😃

[2020-04-23 06:05] phated commented on #22
This is working now. I am using it at https://github.com/phated/twentyfive-stars/blob/516bb22/server/src/data/card.rs#L28

[2020-04-23 06:05] #22 closed

[2020-04-23 08:34] sunli829 commented on #25
Adding this feature took a little longer than I expected. 😁

`async-graphql` upgrade to  `1.9.16`.
`async-graphql-actix-web` upgrade to `1.1.5` if you use `actix-web`.
`async-graphql-warp` upgrade to `1.1.5` if you use `warp`.

Example: https://github.com/sunli829/async-graphql-examples/blob/2337bcbbcb5bedb3cc2f3ebdb8f71cb6ba88f768/actix-web/token-from-header/src/main.rs#L57

You can test it in Gr

[2020-04-23 08:36] #18 closed

[2020-04-23 12:56] nicolaiunrein commented on #25
Just in case anyone scratches their head like I did while trying to figure out how to embed the ctx into the stream.
Here is how I solved it using zip and repeat:
[code]

[2020-04-23 14:19] sunli829 commented on #25
Maybe you can try ‘Async-stream’.

[2020-04-23 16:47] nicolaiunrein commented on #25
It does not seem to fix the problem that I cannot prove that the stream does not outlive the Context because the returned stream has a `'static` lifetime and `&Context` does not.

[2020-04-23 17:31] Ejhfast commented on #25
Awesome work with the fast update! Just to give my current status, I also ran into an issue using my async DB representation within the stream:

[code]

And `await` is not allowed, as it is not an async block.

Will see if this can be solved with `async-stream`. I imagine that many people would be interacting with context that presents async APIs, so maybe SimpleBroker should produce an async-comp

[2020-04-23 22:04] nicolaiunrein commented on #25
I think this boils down to the same issue I was having.
What do you mean by async-compatible?
I think it would be nice to be able to get a clone of the context with every event. Something like this:

[code]
Should be easy to implement and simplify client code. Are there better solutions? What do you think?

[2020-04-23 23:21] Ejhfast commented on #25
@nicolaiunrein my Rust is not super strong, but I think there are two different problems here. One is the lifetime issue, giving whatever you want to pass into the stream a `'static` lifetime. I also ran into this issue but in my case was able to solve it by wrapping the data I wanted to share in `Arc`.

[code]

But there is also the fact that the stream itself does not allow for calling async fun

[2020-04-24 01:14] sunli829 commented on #25
Yes, this does not solve the lifetime problem.😄

[2020-04-24 01:29] sunli829 commented on #25
@nicolaiunrein This is hard to implement, because the context borrows some data that can't be cloned, I think solve this problem by appending Arc<T> to the context data.

[2020-04-24 01:50] sunli829 commented on #25
@Ejhfast

'StreamExt::map' can only accept one synchronous closure, you should use `StreamExt::then` replace `StreamExt::map`.

[code]

`StreamExt::filter` does not have this problem

[code]

----------------------

**Your code above should be changed like this**

[code]

[2020-04-24 14:27] nicolaiunrein commented on #25
To recap: I guess the trick is to move your data into the closure, clone it and move the clone into the `async` block. This seems to work with or without `Arc` but for performance reasons this should of course be an `Arc` on most types to avoid expensive clones.  My problem was that I always moved the data straight to the `async` block and tried to clone there.

[2020-04-24 15:54] sunli829 commented on #25
This should be the best solution.

[2020-04-25 08:49] nicolaiunrein opened #28 "Defining fields in traits"
I just thought it would be really neat to move some common fields from my concrete impl blocks to a shared trait.  I can think of a lot of situations where this might be handy:

- DRYing code
- Composing types
- Ensuring consistency
- Libraries exposing GQL endpoints for user defined types etc.

So Is this possible?

[2020-04-25 09:11] sunli829 commented on #28
Can you give me an example?😄

[2020-04-25 09:29] nicolaiunrein commented on #28
Imagine something like this:
[code]

Which allows you run queries like this:
[code]

This example is quite silly but I think it reflects the idea of what I am trying to accomplish.

[2020-04-25 09:33] nicolaiunrein commented on #28
Maybe you could even do something like:
[code]

[2020-04-25 09:37] sunli829 commented on #28
Let me think about how do I do this.😆

[2020-04-25 09:47] nicolaiunrein commented on #28
I think returning trait objects will not work because of introspection queries though.

[2020-04-25 09:59] nicolaiunrein commented on #28
To help you better understand my concrete needs: I have a bunch of services which each needs to provide a query of the same type but fetching that data depends on the implementation of the individual service. So if the above was possible, I could extract the trait to a shared crate and implement it for every service giving me consistent results and clean code. I could implement something like this

[2020-04-25 11:07] sunli829 commented on #28
I fully understand your purpose.😁

[2020-04-25 12:13] sunli829 commented on #28
Add the property `flatten` to #[field], flatten the contents of this field into the container it is defined in. how about this?

[code]

[code]

[2020-04-25 13:35] nicolaiunrein commented on #28
I think this could work. What happens on nested fields? I guess flatten reduces by one level?

[2020-04-25 13:43] sunli829 commented on #28
Right, the behavior is the same as in the serde.

[2020-04-25 13:47] nicolaiunrein commented on #28
Would something like this also work?
[code]

[2020-04-25 13:56] sunli829 commented on #28
I can't do that right now. I can't get the `GraphQLType` for `InfoObject`.

[2020-04-25 13:58] sunli829 commented on #28
Maybe rust's constant generics will be stable enough to be implemented.

[2020-04-25 14:09] nicolaiunrein commented on #28
I think being able to do something like in your example would be awesome. What about SimpleObject? Would it work there as well?
[code]

[2020-04-25 14:13] sunli829 commented on #28
Yes, it can also do. 😄

[2020-04-25 14:18] nicolaiunrein commented on #28
Got it!

[2020-04-25 14:28] sunli829 commented on #28
I am adding it now.😁

[2020-04-26 02:07] sunli829 commented on #28
Flatten doesn't work. There are some other problems. I'll think of another way.☹️

[2020-04-26 04:36] sunli829 commented on #28
Why don't you try macros? I didn't find a good solution.😕

[2020-04-26 06:49] nicolaiunrein commented on #28
Don’t worry I’ll find a solution to my problem. I just thought it would be something nice to have.

[2020-04-26 06:51] sunli829 commented on #28
Well, procedural macros have some limitations, and many ideas are impossible to implement.😠

[2020-04-26 07:20] nicolaiunrein commented on #28
What about having a compose attribute on Object where you pass in the name and getter of the fields you want to resolve where the getter has is defined on an implemented trait.

[2020-04-26 07:24] sunli829 commented on #28
Something like `Interface`, right?

[2020-04-26 07:27] nicolaiunrein commented on #28
[code]

Yes a little bit like Interface.

[2020-04-26 07:28] sunli829 commented on #28
Like this:

[code]

[code]

[2020-04-26 07:30] sunli829 commented on #28
That's a good idea, and it can be implemented! I'll do it right now.😁

[2020-04-26 07:49] nicolaiunrein commented on #28
What happens when two implemented traits have the same method. I would need to specify a fully qualified path to the method which is not a nice field name. 😆 Maybe we should have a "method" attribute and an optional "rename" attribute

[2020-04-26 07:55] nicolaiunrein commented on #28
[code]

[code]

[2020-04-26 08:16] nicolaiunrein commented on #28
And maybe as a next step we can have an optional "getter" attribute. This would enable us to use traits already defined or from other crates:
[code]

[code]

[2020-04-26 08:25] sunli829 commented on #28
I suddenly feel like this thing doesn't make any sense.😂

[code]

It's just one line of code, and it's only written once.

[2020-04-26 08:52] nicolaiunrein commented on #28
Well maybe your are right and we are chasing our tail 😆.  What we really want is this:
[code]

[code]

[2020-04-26 09:31] sunli829 commented on #28
There's no way to do that.😂

[2020-04-26 10:16] nicolaiunrein commented on #28
I know. 😂. So to summarise: All solutions are either impossible to implement or trivial. The best idea is a "flatten" attribute which is also not possible as of now but maybe in the future. So I close this issue and open a new one as a feature request for "flatten".

[2020-04-26 10:16] #28 closed

[2020-04-26 11:00] nicolaiunrein opened #29 "Add "flatten" attribute to field"
As discussed in #28, it would be nice to have a flatten attribute on fields. Note: This does not seem to be possible as of now! This issue is just a reminder to implement it when it becomes possible. Here is a very basic example of what we want to accomplish:

[code]

Instead of getting this:
[code]

You would be getting this:
[code]

[2020-04-26 11:01] #25 closed

[2020-04-26 11:02] #19 closed

[2020-04-26 11:10] sunli829 opened #30 "Dynamic schema"
`Async-graphql` lacks an important feature that most graphql implementations do not. Support both static and dynamic schema, and only with dynamic schema can write something like `hasaru`.

I have some preliminary ideas about the implementation of this feature. Do you think this feature is important?

@nicolaiunrein  @phated

[2020-04-26 11:24] nicolaiunrein commented on #30
I’m relatively new to GraphQL and haven’t encountered dynamic schemas. Could you provide a link? Or an example use-case?

[2020-04-26 11:30] sunli829 commented on #30
https://github.com/graphql-go/graphql

Like this, allows change schema at run time.

[2020-04-26 15:48] ruseinov opened #32 "Accept a SimpleObject as input type."
Currently if I want to define a struct with a bunch of fields as an InputType I would also have to define the `impl` for it and all the fields there, which makes the amount of boilerplate unbearable.

I'd like to be able to simply define a struct and use it's fields as input fields.

[2020-04-26 15:54] ruseinov commented on #32
My bad, it looks like the object is not accepted either. I'm not sure how this is supposed to worth then as the docs are pretty scarce on this subject, I'll keep investigating.

[2020-04-26 15:56] #32 closed

[2020-04-26 15:56] ruseinov commented on #32
```#[InputObject]``` there we go. I was misled by rust compiler errors at first.

[2020-04-26 16:14] sunli829 commented on #32
The documentation is not detailed enough.😂

[2020-04-26 16:21] ruseinov commented on #32
@sunli829 yeah, the rest works though. Once I'm done with my graphql implementation and I'm doing a full on Mutation/Subscription/Query impl backend by MongoDB - I'll make sure to contribute some boilerplate.

It would also be nice to somehow be able to expose all fields by default without supplying `#[field]` annotation, but I haven't tested without. I'll be happy to come back with a bunch of pro

[2020-04-27 02:15] sunli829 opened #33 "All fields are exported by default"
Export all fields on `Object`, `SimpleObject`, `InputObject`, `Subscription` by default, and `#[field(skip)]` is used to disable this feature.

- [x] Object
- [x] SimpleObject
- [x] InputObject
- [x] Subscription

[2020-04-27 02:20] sunli829 commented on #32
This is a good suggestion, I created a new issue #33  and started adding this feature now.

[2020-04-27 02:37] sunli829 opened #34 "Translate the current Chinese document to English"

[2020-04-27 04:58] #33 closed

[2020-04-27 06:42] sunli829 commented on #29
This is pretty easy to implement, but I can't make an object that contains the flatten fields support `Interface`.😭

[2020-04-27 07:00] nicolaiunrein commented on #30
Alright so here is a somewhat incomplete and unordered list of thoughts:

**Cons**
- The effort of implementing it.
- People might choose a not ideal implementation for their problem because they are unaware of the cost.

**Pros**

- The task of handling dynamic schemas is expensive in every language and I would always prefer to implement an inefficient task in a fast language than in a slow one.

[2020-04-27 07:17] sunli829 commented on #30
I tried it out yesterday, but it didn't work😂, and I'm still thinking about a better way to do it. The main reason is that rust does not support generic specialization, solving the problem with `newtype` makes the library particularly verbose to use.

[2020-04-27 07:32] nicolaiunrein commented on #30
I will definitely 🎉 when specialization lands on stable rust.

[2020-04-27 07:39] nicolaiunrein commented on #30
Have you looked at the [Syllogism](https://docs.rs/syllogism/0.1.1/syllogism/) crate for specialization?

[2020-04-27 07:42] sunli829 commented on #30
Thank you for telling me about `Syllogism` crate. I'll see if it works for me. 😁

[2020-04-27 08:55] ruseinov commented on #32
Oh wow, that was quick, thanks!

[2020-04-27 15:04] ruseinov commented on #30
Yep, dynamic schema would definitely be something of interest.
I'm currently building a "hacky" way to do this as it's not properly supported anywhere, for example in my project I need to have
[code]
And I'd like to support some sort of querying by these dynamic fields. At the moment I'm looking at custom implementation for this as this is tricky and not really supported by the graphql spec, consi

[2020-04-27 15:16] ruseinov opened #35 "The ability to collect fields from both SimpleObject and Object."
Here's an example: I have an object that has 10 fields, only one of which would need to be defined as a custom Scalar. But in order to expose this object's fields I would have to actually create a getter for each of it's fields. Or otherwise I'd have to use a gql scalar type within my business logic and the database layer, which would also be somewhat painful.

[2020-04-27 15:18] ruseinov commented on #35
One other solution for that would be to have a macro that would autogenerate getters for each field with ability to override somehow?

[2020-04-27 15:59] sunli829 commented on #35
I haven't thought of a good way to generate getters automatically, the only way to do it now is use a procedural macro include `SimpleObject` and `Object` to get the information I need to generate the code,  I think it's pretty ugly.

[code]

[code]

[2020-04-27 16:08] ruseinov commented on #35
Yeah, it sure is.

One other option would be to allow getting fields from both simpleObj and Obj with the ability to exclude and override I guess. Can't think of anything cleaner atm, but definitely worth investigating to avoid doing the getters thing every time.

One other thing that came to mind is the ability to switch default behaviour in terms of field inclusion/exclusion, for simple/objects.

[2020-04-27 16:14] ruseinov commented on #30
@sunli829 I'll give it a shot, I can probably integrate that with http://rustless.org/valico/doc/valico/

[2020-04-27 16:18] sunli829 commented on #35
I doubt this is possible in the rust language unless I create a DSL with a macro, which would make the ide's auto-complete and formatting unavailable, which is not what I want.

[2020-04-27 16:22] sunli829 commented on #30
This should solve the problem perfectly.😁

[2020-04-27 16:49] nicolaiunrein commented on #29
I think having flatten would kind of sort #35 in that you can combine a SimpleObject with an Object. Does that mean you cannot support the flatten attribute on interfaces or objects that use flatten cannot implement an interface?

[2020-04-27 16:57] sunli829 commented on #29
Yes, it's the same problem. I can't pass data between macros, which makes it impossible. But all of these problems can be solved with generic specialization, so let's wait for this feature to stabilize. 😂

[2020-04-27 17:01] ruseinov commented on #35
Right, yeah, it's an interesting problem.

I'm wondering if the macro defined on `impl` has access to any of the fields in the struct? The idea here is that we might not even need to support using both macros at the same time as long as we can use #[Object] and tell it to do the struct work too.

[2020-04-28 09:04] nicolaiunrein commented on #29
So I poked around a little in the code base. I tried to manually (without macros) implement an "Object" by implementing ObjectType, OutputValueType and Type on a struct. I can't quite get `create_type_info` to work correctly but I thought it should be possible to create a `trait Merge` with required methods `async fn base(&self) -> impl ObjectType` and `async fn extend(&self) -> impl ObjectType` a

[2020-04-28 09:16] sunli829 commented on #29
The main reason is that `Interface` cannot be supported. The field of `Interface` is  function forwarding, which can achieve the purpose of type safety.

[2020-04-28 09:17] sunli829 commented on #29
If I don't need to support the `Interface`, I've actually implemented it.😁

[2020-04-28 09:18] sunli829 commented on #29
Unless you abandon the type-safety of the interface, which is not what this library is for.

[2020-04-28 09:35] sunli829 commented on #29
The `Edge` type actually does that, it moves the `extra_type` to a higher level, but the field inside the `extra_type` doesn't support interface.

`fn Edge::node()` and `fn Edge::cursor()`  are actually intended to support the interface.

[2020-04-28 11:41] ruseinov commented on #30
@sunli829 yeah, except I need to pass said schema to the validator.
That would be possible if the context got passed to the validator as well, so that I could go to the database and check, otherwise I can't see how to implement this. But it's alright if I just have to check within the mutation body.

[2020-04-28 12:00] sunli829 commented on #30
If you need a context, the `Validator` can't do that right now, because it's in the query validation phase, and it hasn't created a context yet.😁

[2020-04-28 12:04] sunli829 commented on #30
I think we should probably add an execution phase validator called `Guard`.

[2020-04-28 13:20] ruseinov commented on #30
Yeah, that would be awesome.

Yeah, I have figured as much.

[2020-04-28 19:50] ruseinov commented on #35
Speaking of getters: this seems like a good enough solution for those types that automatically translate to graphql and back: https://docs.rs/crate/derive-getters/0.1.0 . The rest can be ignored and implemented manually.

[2020-04-28 20:01] ruseinov commented on #35
So it is possible to generate getters and setters, I just with I could somehow manage to mark that `impl` that's being generated as `Object`.

async-graphql might benefit from something like that, because that kinda solves this particular issue we are discussing here.

[2020-04-28 20:19] nicolaiunrein commented on #35
Yeah had the same Idea as well. Well you could rewrite derive-getters that annotates the impl with Object but how are you going to extend that impl then? Can you have more than one impl block  at a time annotated with Object? Otherwise this is kinda pointless isn’t it?

[2020-04-29 02:18] sunli829 opened #38 "Remove type safety from Interface"
The type safety of the interface causes some functionality to be unavailable. I'll remove the compile-time type safety of the interface and check it when I call `Schema::new`. It doesn't have any performance loss, but there is no guarantee that a compile-time type safety, I think it is worth to do so.

[2020-04-29 03:17] sunli829 commented on #38
The side effect is improved runtime performance.😂

[2020-04-29 03:27] phated commented on #38
I'm not very happy with this idea.

[2020-04-29 03:44] sunli829 commented on #38
If the interface field types do not match, there is now a panic at `Schema::new` and a reason is given.

The following code didn't compile well before, but it does now.

[code]

[2020-04-29 03:46] phated commented on #38
Panic is not desirable. I believe there is a solution that involves traits but I'm unable to work on it currently.

[2020-04-29 03:47] sunli829 commented on #38
Thanks for your suggestion.😁 I will make a version as soon as possible and see how it works.

[2020-04-29 03:58] phated commented on #38
@sunli829 is it possible to use a macro to add additional methods to a trait, including a default implementation? That is the solution I am considering.

[2020-04-29 04:05] sunli829 commented on #38
@phated  I'm actually hoping to solve this problem #29. I think procedural macros may not be possible.

[2020-04-29 04:17] phated commented on #38
I am hoping to find time to understand macros better, but my other open source responsibilities are requiring my time right now.

Tomorrow I am giving a presentation on `async-graphql` and I wanted to show type safety on interfaces.

[2020-04-29 04:27] sunli829 commented on #38
@phated I tried this on a new branch.

In addition, thank you very much for the support of `async-graphql`. I was even more excited when I found out that you are the main maintainer of `glup.js`.

[2020-04-29 04:33] phated commented on #38
🙇 Thank you! Your work on this project is amazing and I very much appreciate it! I am excited to help out more.

[2020-04-29 05:31] nicolaiunrein commented on #38
@sunli829 I think it is a great Idea especially when it panics at application start. I never really liked the implementation of Interface. I think it is somehow reversed. Isn’t there a more natural way where Interface behaves more like a trait? So that Objects and SimpleObjects can "implement" it rather than beeing passed into the interface as struct fields? It just feels wrong and doesn’t allow s

[2020-04-29 07:00] nicolaiunrein opened #39 "Implement conversion from serde_json::Value to Any"
I would like to implement `impl From serde-json::Value for Any` which is currently blocked by graphql-parsers inability to convert from `serde_json::Value` due to mismatch of underlying types for Number. Once this [Issue](https://github.com/graphql-rust/graphql-parser/issues/32) resolves I will implement the conversion for `Any`.

[2020-04-29 08:16] sunli829 commented on #39
Any type already exists and I have added it to support Federation. Is that what you want?

[2020-04-29 10:24] nicolaiunrein commented on #39
Yes I know and I'm using it. I wanted to implement the From trait for being able to write something like this:
[code]
Which is only possible if I construct a graphql_parser::Value by hand because there is no `impl From serde_json::Value for graphql_parser::Value`. But I think I can just add `impl<T> From T for Any where T: Into<graphql_parser::Value>` which does not let you write code like the abo

[2020-04-29 10:55] sunli829 commented on #39
Sorry I misread it, it was `serde_json::Value`, in fact I've already written an `json_value_to_gql_value` for this ugly transformation function.

https://github.com/async-graphql/async-graphql/blob/26120e24e221193b51cc40383b9bcfc4209020ba/src/context.rs#L114

[2020-04-29 11:00] nicolaiunrein commented on #39
Yes but this is the other way around. :laughing:  I opened an issue at graphql_parser for providing the conversion but as I wrote its not trivial because of different base types on Number. Anyway I think 26120e2 solves this issue now.

[2020-04-29 11:05] sunli829 commented on #39
Many AST nodes of the `graphql_parser` don't have a position property, and I might actually create a new parser later to solve this problem.😁

[2020-04-29 11:54] sunli829 commented on #29
Branch `dynamic-interface` supports the `flatten` property, we may need sufficient validation to merge to the `master`, because this will break the type safety of the interface.

Here are all the tests:

https://github.com/async-graphql/async-graphql/blob/8714185ae139dc42d57b89c3174112188c49c880/tests/object.rs#L4

https://github.com/async-graphql/async-graphql/blob/8714185ae139dc42d57b89c31741121

[2020-04-29 12:02] sunli829 commented on #38
@nicolaiunrein  The interface definition is not natural, but it is simple enough to use.😁

[2020-04-29 12:54] nicolaiunrein commented on #39
I think removing the dependency on graphql_parser is a good Idea!

[2020-04-29 15:37] ruseinov opened #41 "Look into approaching federation."
https://www.apollographql.com/blog/apollo-federation-f260cf525d21 This here is a very nice tool, also to help load-balancing as when the schema is split between services - it's easier to have several different entrypoints with different pools of servers.

Even if one does want to code a monolith - this is easily achievable by having features in the source code and just running the same service wit

[2020-04-29 15:44] sunli829 opened #42 "Interface implementation based on trait"
I have a new idea to implement a type-safe interface and make it look like rust. I will try it tomorrow.

[2020-04-29 15:47] sunli829 commented on #41
Async-graphql already provides excellent support for ferdeation, the first rust library to support ferdeation.

[2020-04-29 15:50] sunli829 commented on #41
I thought ferdeation was an important bridge to call the graphql microservices API, so I thought about supporting it early on.

[2020-04-29 15:51] sunli829 commented on #41
Don't you see async-graphql in the list of third-party libraries from Apollo ferdeation?😁

[2020-04-29 15:53] sunli829 commented on #41
Here's an example of how to integrate with ferdeation.

https://github.com/async-graphql/examples/tree/master/federation

[2020-04-29 15:56] phated commented on #42
Excited to see this! Please let me know if I can help in any way

[2020-04-29 16:06] ruseinov commented on #41
Yeah, but the issue here I wouldn't ever want to use a node.js frontend for Rust apps, which leads me to believe that said frontend needs to be implemented in Rust.

[2020-04-30 00:18] sunli829 commented on #41
This is not currently possible because dynamic schema support is required, but I don't think gateways will ever be a performance bottleneck, and nodejs is not slow.
😁

[2020-04-30 02:36] sunli829 commented on #42
I tried it and it worked.

Here is the new interface definition.

[code]

The following is a query that can be executed correctly.

[code]

[2020-04-30 03:05] phated commented on #42
Wow! This looks great!!!!!

[2020-04-30 05:00] sunli829 commented on #42
I couldn't implement such a feature because I would lose the type information if I converted to a trait object.😭

[code]

[2020-04-30 05:20] nicolaiunrein commented on #29
That is very nice! 👍

[2020-04-30 05:53] nicolaiunrein commented on #42
I suppose NodeInterface is a struct?
I don’t think this compiles but wouldn’t that be the correct signature?
[code]

[2020-04-30 06:02] sunli829 commented on #42
I need to think again about whether this template parameter is really necessary.

[2020-04-30 06:05] phated commented on #42
And we are unable able to do this?

[code]

https://doc.rust-lang.org/edition-guide/rust-2018/trait-system/impl-trait-for-returning-complex-types-with-ease.html

[2020-04-30 06:07] sunli829 commented on #42
No, this is just type MyObj, which is missing the interface information, so need a wrapper.

[2020-04-30 06:08] nicolaiunrein commented on #42
Correct me if I’m wrong but I think under the hood impl Query gets converted to a trait? and returning impl Trait is not supported on trait methods.

But what about utilising the flatten attribute inside the generated Interface somehow to inline existing fields?

[2020-04-30 06:10] phated commented on #42
If you `impl Node for MyObj`, why would it not fulfill the trait implementation type signature?

[2020-04-30 06:15] sunli829 commented on #42
Trait object are the only way to solve this problem, but I don't have a computer right now, so I'll think about it later.

[2020-04-30 10:18] sunli829 commented on #42
Cannot use a trait object, which is a run-time type, and generate Schema requires static type.
So let's go back to #38, is it worth sacrificing a little type safety for more flexible interface definitions?

[2020-04-30 10:57] sunli829 commented on #42
The generic list should solve all the problems. I'm still thinking about it.

[2020-05-01 04:04] sunli829 commented on #42
This is impossible, so I'm going to close it right now.

[2020-05-01 04:19] sunli829 commented on #42
I think #38 is the best solution, removing many of the limitations of function forwarding and making it easy to use. Panic at startup is acceptable.

[2020-05-01 04:40] phated commented on #42
I discussed this at my presentation and everyone wanted static type checking. It takes a long time to start up the server to see that you made a mistake.

[2020-05-01 06:26] sunli829 commented on #42
Let's keep the original design the same.😂

[2020-05-01 06:27] #41 closed

[2020-05-01 06:28] #38 closed

[2020-05-01 06:28] #29 closed

[2020-05-01 06:39] ruseinov commented on #30
@sunli829  should I add a ticket for `Guard`?
I'd contribute it myself, but so far a bit swamped with other coding duties :/

[2020-05-01 07:05] sunli829 commented on #30
This should be finished by tomorrow. I have been trying other improvements for the last two days.

[2020-05-01 07:56] ruseinov commented on #30
Curious to see what you came up with for other issues we had!

[2020-05-01 08:26] sunli829 commented on #30
In fact, I'm still thinking about how to use `Guard`, because even without this feature, a single line of code can solve the problem.

[code]

[code]

The guard attribute doesn't offer any convenience, and I'm still wondering if this feature is necessary.

[2020-05-01 08:27] sunli829 commented on #30
I tried to optimize the way the interface is defined, but I was not satisfied with either approach.

[2020-05-01 08:35] ruseinov commented on #30
That actually seems very nice to me, because then we could apply several guards as well, and that's several method calls.
If we could also specify params for the guards - even better. For example, `field(guard="require_auth(role=ADMIN)")` or similar.

Take a look at some of the features of https://docs.nestjs.com/graphql/tooling for inspiration, they have some powerful annotations in place that ma

[2020-05-01 09:36] sunli829 commented on #30
Thank you, that gave me some inspiration, and I'm working on that right now.

[2020-05-01 09:46] sunli829 commented on #30
One important feature I overlooked is that guard can be applied to the SimpleObject.

[2020-05-01 09:53] ruseinov commented on #30
Yeah, I mean there are plenty of nice looking features there, but not all of them can be implemented in rust the same way, as it's not the same.

For example, there is an ability to annotate methods and types so that they end up being parts of the query/mutation/subscription without actually being one object AFAIK. That allows for splitting the schema by functionality, we could kind of mimic that

[2020-05-01 10:04] sunli829 opened #43 "Field guard"
Add the guard attribute in #[field] as a precondition to resolve the field.

[code]

[2020-05-01 14:15] sunli829 commented on #30
I created a new issue #43, adding this feature was more difficult than I expected, I needed to modify some code generation, and it probably took a little longer to complete.

[2020-05-01 16:41] ruseinov commented on #43
That's looking good, I'll be happy to look at this code  when it's done. Really happy with how fast this library evolves!

[2020-05-01 17:04] sunli829 commented on #43
It's almost done. I'm going to bed now and finish it off tomorrow.😃

[2020-05-01 17:07] sunli829 opened #44 "Remove context attribute on interface field"
I automatically add a context parameter for all the object's field definitions.

[2020-05-02 00:02] sunli829 commented on #43
This feature is supported in 1.10.0.

Test code: https://github.com/async-graphql/async-graphql/blob/master/tests/guard.rs

[2020-05-02 00:02] #43 closed

[2020-05-02 00:02] sunli829 commented on #44
This feature is supported in 1.10.0.

[2020-05-02 00:02] #44 closed

[2020-05-02 13:55] IcanDivideBy0 opened #45 "Fragments on subscribtions nevers push data to client"
Hello,
When using fragments in subscriptions, I never receive any notifications in the websocket

This works:
[code]
This doesn't:
[code]

tested with both playground and an apollo client

[2020-05-02 14:24] sunli829 commented on #45
Thank you. Let me see what caused it.😁

[2020-05-02 21:11] nicolaiunrein commented on #45
Just checked on my system running async-graphql 1.9.17 and async-graphql-actix-web 1.1.6
I ran the below code and it worked in playground:
[code]

Could you specify which version you are running on and show some failing example code?

[2020-05-03 01:39] sunli829 commented on #45
The problem did exist, I tested it with `async-graphql/examples/actix-web/subscription`, and when I made the following request, I didn't get a message.

[code]

[2020-05-03 02:19] sunli829 commented on #45
Upgrading to the latest version, I solved the problem.

[2020-05-03 06:27] IcanDivideBy0 commented on #45
Thanks! works like a charm now :ok_hand:

[2020-05-03 06:27] #45 closed

[2020-05-03 19:23] IcanDivideBy0 opened #47 "Undocumented feature: all fields expands to FieldResult"
Hello,
I'm not sure if this is realted to the recent changes on `FieldResult` but I've just noticed that we can use `?` in field resolvers even if they don't return a `FieldResult`:

[code]
It feel a bit odd, but is also very convenient and makes error management easier. The documentation doesn't seems to mention this at the moment, is this a feature we can rely on or is it subject to change in th

[2020-05-03 23:12] sunli829 commented on #47
The code generator modifies the function signature to add FieldResult to all return values, which is why this code works.
But I think this is a bug that should cause the compiler to report an error.

[2020-05-04 00:01] sunli829 commented on #47
I fixed this problem in version `1.10.6`, and now the compiler is reporting errors correctly.😁

[2020-05-04 10:36] IcanDivideBy0 commented on #47
Nice!

[2020-05-04 10:36] #47 closed

[2020-05-05 12:41] sunli829 opened #51 "Support the @defer directive in query"
Since the stable version of rust does not support generic specialization, this is a bit of a hassle to implement. I'm doing it in other ways, and I'm not sure if I can finish it.

[2020-05-05 22:27] snapiz opened #52 "Make PageInfo available from outside"
It's possible to make `PageInfo` public ?

Also make `Connection` fields public too ?

[2020-05-05 22:37] sunli829 commented on #52
Ok.😁

[2020-05-05 22:54] sunli829 commented on #52
Upgrade to `1.10.10`, I've already exported `PageInfo`.

[2020-05-05 23:30] snapiz commented on #52
Nice, thanks 👍

[2020-05-05 23:30] #52 closed

[2020-05-06 03:16] sunli829 commented on #43
@ruseinov What you want is ready to use.😁

[2020-05-06 03:23] sunli829 commented on #51
Wait until the generic specialization is available......

[2020-05-06 12:09] ruseinov commented on #43
great work, I’ve seen it! Investigating.

[2020-05-07 02:19] phated opened #54 "Discussion: Should ID support From<Uuid>?"
In my application, IDs are a custom scalar that wraps the Uuid type. Would it be valuable for the ID scalar provided here to have a `From<Uuid>` implementation?

[2020-05-07 02:56] sunli829 commented on #54
Since you have this requirement, I think this feature makes sense. I'll add it now.😁

[2020-05-07 06:42] nicolaiunrein commented on #54
I use Uuids as well and I think it is quite common. Maybe implement it for `T: Into<Uuid>` so that it works well with the new type pattern?

[2020-05-07 06:52] nicolaiunrein commented on #54
In fact this concerns all ID conversions. If that is something desirable I will give it a shot. Should not be breaking existing implementations because all types implement `From` and `Into` themselves.

[2020-05-07 09:47] ruseinov opened #56 "Examples for inputValueType."
I need to build a query endpoint that would support something like this:
[code]
I'm trying to figure out a way to do this without manually implementing InputValueType. I'm sure it's possible, but I couldn't find a relevant example.

[2020-05-07 09:50] ruseinov commented on #56
I have figured it out: ```#[InputObject]```

[2020-05-07 09:54] ruseinov commented on #56
However it looks like I'll need to implement this manually anyway, because I'd need to support serde_json values and a map.

[2020-05-07 10:01] ruseinov commented on #56
Yep, no luck with this so far. Any help would be appreciated and for sure will be useful for anyone else trying to implement a similar thing.

[2020-05-07 10:09] ruseinov commented on #56
I'm going to go for Scalar implementation for this one as it seems like the only way forward at the moment. My guess is that `#[InputObject]` does not like complex types and expects a set of primitives.

[2020-05-07 10:19] sunli829 commented on #56
Maybe you can use `Any` type.

[2020-05-07 10:20] sunli829 commented on #56
Because the GraphQL's type system doesn't have a `Map` type.

[2020-05-07 10:21] sunli829 commented on #56
Yes, if you want the input value to be a `Map`, that's the only way, and `Any` scalar is to handle that.

[2020-05-07 10:28] ruseinov commented on #56
Well, I basically want to receive a json there and then have it converted to the Criteria object, but without extra steps like calling a method. Any idea how that could be done?

[2020-05-07 10:33] ruseinov commented on #56
Actually, nevermind.

Here's my solution to this:

[code]

And I'm going to use a similar one to define criteria scalars

[2020-05-07 10:33] sunli829 commented on #56
You can call `ScalarType::to_json` on `Any` and parse the result into `Criteria` using `serde_json::from_value`, I will provide a convenient way to do this later.

[2020-05-07 10:36] sunli829 commented on #56
Yes, that's the way to do it.😁

[2020-05-07 10:38] sunli829 commented on #56
If you wait for me for 5 minutes, I will add a method to Any, which will make it easier for you. I don't think it is necessary to add a Map type.

[2020-05-07 10:41] ruseinov commented on #56
@sunli829 sure, but then the method definition is going to turn from ```async fn records(&self, criteria: Criteria, start: i64, skip: i64, order: SortCriteria)
[code]
Correct? And that would mean I'd need to manually convert those each time to whatever type I need.

[2020-05-07 10:44] sunli829 commented on #56
Yes, you have to do it manually every time, because GraphQL doesn't have a `Map` type. Unless I extend the GraphQL, which leads to other compatibility problems, I don't think it's worth the trouble.😁

[2020-05-07 10:53] sunli829 commented on #56
I added the `Any::parse_value` method in version `1.10.11`.

[2020-05-07 11:01] ruseinov commented on #56
@sunli829 great, I'll look into it! I'm curious why ```fn gql_value_to_json_value(value: &Value) -> serde_json::Value {
``` is not exposed, that would make implementing types like ```Criteria``` via Scalar a matter of simple derive macro possibly.

[2020-05-07 11:06] sunli829 commented on #56
You can call Any::to_json directly, so there's no need to expose it.

[2020-05-07 11:24] ruseinov commented on #56
@sunli829 yeah, but that only works with an instance of Any as it's not a static method, so I'd have to reimplement this for any other type should the need arise. But I think I have a good idea how to use 'Any' to my advantage now. Thanks!

[2020-05-07 11:26] ruseinov commented on #56
I guess I can implement a CriteriaInput object, that would contain 'Any' and have it convert using a `From`/ `Into` to whatever I need.

[2020-05-07 11:36] ruseinov commented on #56
@sunli829 is there any way currently to support something like that
[code]
So that I could have a custom input object, but it would actually resolve to `Any` for graphql instead of `{"data": Any...}`.

Because then I can implement my helper From/Into conversions for CriteriaInput and then my whole use-case would be more eloquent than doing something like:
``` let criteria: Criteria = any_val.parse

[2020-05-07 12:30] sunli829 commented on #56
You've given me some inspiration, and I'm going to add a `Json` scalar type.😁

[2020-05-07 12:46] sunli829 commented on #56
@ruseinov  Look at this Json scalar, I think it's a little easier to use.

[2020-05-07 13:24] ruseinov commented on #56
looking into it

[2020-05-07 13:25] ruseinov commented on #56
that looks good, similar to the containers used in Actix for json and data. Thanks!

[2020-05-07 14:52] ruseinov commented on #56
It does not block me, however might be a nice to have. I leave it up to you to see if it makes sense.

[2020-05-07 15:20] ruseinov commented on #56
I have found another curious issue, however:
This works fine
[code]
With that input:
[code]
where variables are:
[code]
    async fn records(
        &self,
        criteria: Json<Criteria>,
        start: i64,
        skip: i64,
        order: Json<SortCriteria>,
    ) -> FieldResult<Vec<Record>> {
        info!("{:?}", criteria.0);
        info!("{:?}", order.0);
        Ok(Vec::new())
    }
[co

[2020-05-08 05:28] phated commented on #54
@nicolaiunrein I think that would be a good idea. When converting between ID and Cursor, I need to do `id.to_string().into()` which isn't ideal.

[2020-05-08 07:04] Ejhfast opened #58 "Support for Apollo connectionParams"
Are there any plans to support `connectionParams` passed by an Apollo client? These are parameters passed by the client with its first websocket message and used to initialize a context object on Apollo Server ([example](https://www.apollographql.com/docs/react/data/subscriptions/#authentication-over-websocket
)): https://www.apollographql.com/docs/apollo-server/data/subscriptions/#authentication-

[2020-05-08 07:08] Ejhfast commented on #34
I can help with this. I'll try to take a first pass over the weekend!

[2020-05-08 07:13] sunli829 commented on #34
Wow, you can read Chinese?😁

[2020-05-08 07:16] sunli829 commented on #58
I think I already support this feature, please see example https://github.com/async-graphql/examples/blob/83103dbe32184d0ae6112a3e2b8e5b58245d8fd0/actix-web/token-from-header/src/main.rs#L57.
Is that what you want?😁

[2020-05-08 07:25] Ejhfast commented on #58
Oh, great! Thanks for the super quick response. I had wondered why you changed `data(...)` before to take a closure and that now makes perfect sense.

[2020-05-08 07:25] #58 closed

[2020-05-08 07:28] Ejhfast commented on #34
I am learning and my spouse is a native speaker :) I will also have Google Translate help me.

[2020-05-08 07:30] sunli829 commented on #34
Thank you. It's so exciting. Let me know if you need anything. 😁

[2020-05-08 07:34] sunli829 commented on #56
@ruseinov Can you provide a minimum test case that can be run?😁

[2020-05-08 08:52] ruseinov commented on #56
I'll do that, but basically if you try using the Json scalar to wrap a struct and use that as a parameter in, say, a query endpoint - that only works with an empty object passed to that parameter. Otherwise there is an issue. I'll try to reproduce it as an isolated test case

[2020-05-08 08:57] sunli829 commented on #56
Because I tried, I couldn't reproduce the problem. 😣

[2020-05-08 09:49] IcanDivideBy0 opened #59 "Add ability to forward field arguments to guard"
I'm thinking of something like this:
[code]
This would allow for more granular ACL implementation at the field guard level.

[2020-05-08 10:14] sunli829 commented on #59
Good idea. I'll add it in the next version.😁

[2020-05-08 12:15] krevativ opened #60 "How to solve the N+1 problem?"
Hey there. Nice project! I like it especially because it addresses features like query complexity and uploading files. But what about the N+1 problem? Are there any plans in this direction?

And a second question I want to put here. Is there a way to pass the request object to the async_graphql::Object implementation? I think it would be pretty helpful sometimes (For example to read a cookie heade

[2020-05-08 12:18] IcanDivideBy0 commented on #60
About the N+1 problem, I'm using [dataloader](https://crates.io/crates/dataloader) with async_graphql for some weeks now and so far it works well

[2020-05-08 12:32] krevativ commented on #60
I saw it already but I can't figure out where to store the dataloaders? Do you store them in the context/state? Could you show me a small example?

[2020-05-08 12:34] IcanDivideBy0 commented on #60
Yes, you store it in the context, datalaoder have an example about it w/ async_graphql https://github.com/cksac/dataloader-rs/blob/master/examples/async_graphql.rs

[2020-05-08 14:26] ruseinov commented on #56
I can give you what I have now, but I'll def dig into it more and get you a test:
[code]

and the test code:
[code]

[2020-05-08 14:46] sunli829 commented on #56
Thank you. I am writing a new parser and will help you later. 😁

[2020-05-08 15:22] sunli829 commented on #60
@krevativ Here's an example to solve your second problem.

https://github.com/async-graphql/examples/tree/master/actix-web/token-from-header

[2020-05-08 16:56] DataCorrupted commented on #34
I am more than happy to help. @Ejhfast

[2020-05-09 08:11] acilcenter opened #61 "Federation Example"
Please can you provide federation example.

[2020-05-09 08:15] #61 closed

[2020-05-09 08:16] acilcenter commented on #61
https://github.com/async-graphql/examples/tree/master/federation

[2020-05-09 10:07] sunli829 commented on #56
@ruseinov  How is Criterion defined?

[2020-05-09 10:40] sunli829 commented on #59
Here is the test code.

https://github.com/async-graphql/async-graphql/blob/36967ffa4fc1ad7c4bd92dd6a9e77a052bce3fe4/tests/guard.rs#L322

**I haven't released a new version yet, this one has changed too much, need more time to test it, you can use it on the master branch.**😁

[2020-05-09 10:42] sunli829 commented on #54
@nicolaiunrein How is this feature going to be implemented?😁

[2020-05-09 15:53] krevativ commented on #60
@sunli829

Thanks. I use the tide framework and your answer led me to:

https://github.com/async-graphql/examples/blob/master/tide/token-from-header/src/main.rs

[2020-05-09 16:13] mwilliammyers opened #62 "Use rustdoc comments as graphql desc?"
I am looking to replace juniper with this library and I was looking through the docs and it looks like all the examples use proc macro attributes to add a description. Is it currently (or planned) possible to parse rustdoc comments for the graphql description?

[2020-05-09 16:22] sunli829 commented on #62
I'm not sure rust's procedural macros support this, but I'll add them if possible. 😁

[2020-05-09 16:24] sunli829 commented on #60
Yes, but currently tide does not support websocket, so subscriptions are not supported. 😁

[2020-05-09 16:37] sunli829 commented on #62
I have confirmed the possibility and I will add it tomorrow. It is a very good suggestion, thank you.😀

[2020-05-09 16:39] DataCorrupted commented on #34
I just started translating `TypeSystem`

[2020-05-09 17:23] nicolaiunrein commented on #54
Sorry, I am pretty busy at the moment with other projects. I will look at it tomorrow or on monday.

[2020-05-09 17:26] IcanDivideBy0 commented on #59
@sunli829 perfect! No need to hurry for a release :)

[2020-05-09 17:26] #59 closed

[2020-05-09 17:41] DataCorrupted opened #63 "Vague languages in TypeSystem"
This issue is used to track vague languages when translating TypeSystem in Async-graphql Book.

[2020-05-09 17:47] DataCorrupted commented on #63
### ["用`Schema::data`函数附加一个全局类型的数据"](https://async-graphql.github.io/async-graphql/zh-CN/define_complex_object.html)

1. `Schema::data` or `ContextBase::data`?
2. "全局类型的数据" 如何理解?  如何和样例中给出的`ctx.data::<DbPool>().take()` 协调?

[2020-05-09 19:18] krevativ commented on #60
@sunli829

I still have a lot to learn about GraphQL and rust, so I can wait :) But I'm eagerly waiting for subscriptions. This will be awesome! If you need some help, just point me to the problem. Maybe I can help.

Have you some thoughts on live queries too?

For now, I only have some problems with the scalar types. This is strange, but when I try to use the ID type, I can't convert it from an U

[2020-05-09 19:18] ruseinov commented on #56
[code]

[2020-05-09 19:18] ruseinov commented on #56
Where Value is `serde_json::Value`

[2020-05-09 21:43] Ejhfast commented on #34
@DataCorrupted awesome! I just did the two sections after that

[2020-05-10 00:29] sunli829 commented on #63
"用Schema::data函数附加一个全局类型的数据"

1.  应该是SchemaBuilder::data和Context::data函数。
2. SchemaBuilder::data设置schema data, Context::data设置context data，是否可以这样翻译？

"并且你还能扩展标准的错误输出"
1. 我认为合适。
2. 错误信息吧。

"InputObject"

应该是无空格版本。

---------------------

抱歉，中文文档写得很仓促，有很多疏漏。😁

[2020-05-10 00:34] sunli829 commented on #60
1. Live queries are `@live` directives?

2. You can convert `Uuid` to `ID` directly by calling `Into::into`.

3. Most scalars support serde, and I'll add those that don't as soon as possible, thanks for your suggestions.😁

[2020-05-10 03:17] sunli829 commented on #62
I am very excited. It is too annoying to repeat the description twice. It is very convenient to get the desc directly from rustdoc.

[2020-05-10 03:20] sunli829 opened #66 "Add test code for introspection."

[2020-05-10 04:13] DataCorrupted commented on #63
Thx, 我会稍作修改

[2020-05-10 05:06] sunli829 commented on #62
I have completed this feature and updated the example code of `starwars`.  😁

https://github.com/async-graphql/examples/tree/master/models/starwars

[2020-05-10 06:06] sunli829 commented on #62
Please upgrade to version 1.11.0, which already contains this feature.😁

[2020-05-10 06:07] sunli829 commented on #59
Please upgrade to version 1.11.0, which already contains this feature.😁

[2020-05-10 07:02] sunli829 commented on #56
@ruseinov

Your input `Json` is incorrect, I am going to change the return value of `ScalarType::parse` to `Result`, so you can see the correct error message.

[2020-05-10 08:19] nicolaiunrein commented on #54
Well, we can't implement generic `From` implementation due to conflicting implementations but I would suggest to add two traits:

[code]

and

[code]

which when imported give you two methods `to_graphql_cursor` and `to_graphql_id` on anything that implements `std::fmt::Display` and allows you to instead of calling `id.to_string().into()` just `id.to_graphql_cursor`. Now this can be quite handy wh

[2020-05-10 08:33] sunli829 commented on #54
I think it's good, it's really easier to use. 😁

In addition, can you add this error_extensions.md when you are free? I think you know more about this than me.

I have been working on a new parser for the past few days and it is now complete. You can upgrade to 1.11.0 to see if there is a problem with your current project.

Thanks again, `ToGraphqlID` and `ToGraphqlCursor` I will add later. 😁

[2020-05-10 08:35] orefalo opened #68 "Enhancements"
Nice implementation - congrats
  Surprised to see federation built in

Would be nice to see:

1. Support for SDL format - https://github.com/orefalo/graphql-shorthand-parser
2. Support for @annotations

With basic annotations (http proxy, oauth validation, structure getter) you can support 70-80% of the typical graphql use cases.

[2020-05-10 08:42] sunli829 commented on #68
Do you want to generate some framework code through GraphQL Schema DSL?

[2020-05-10 08:56] orefalo commented on #68
Hi, tks for the quick reply.
That could work. the point is, most of my implementations today are in JS. I decided to use the DSL notation to abstract the graphQL implementation.  So yes a code generator would definitely help and be very useful to a broader audience.

[2020-05-10 09:03] sunli829 commented on #68
I thought about it, in fact, rust has another library to do this, https://github.com/davidpdrsn/juniper-from-schema, but it does not support async-graphql. The biggest problem is that this type of code generation will create new types, but these types of IDEs do not recognize them, so they cannot be automatically completed. I think this increases the difficulty of writing code, so I am still consi

[2020-05-10 09:10] nicolaiunrein commented on #54
Cool. I will see what I can with error_extensions.md on monday.

[2020-05-10 09:13] sunli829 commented on #54
Thank you. 😁

[2020-05-10 09:15] nicolaiunrein opened #69 "Provide prelude"
I think it is time to export the most important types and traits in a prelude to increase usability.

[2020-05-10 09:19] sunli829 commented on #69
I think so too, when I finish the job at hand, because I have added some new types. 😂

[2020-05-10 09:21] sunli829 commented on #15
Actually, I am preparing to implement `Read` for `Upload`, which will probably be completed tomorrow. 😁

[2020-05-10 09:47] sunli829 opened #70 "The error reason can be returned when the input value is parsed incorrectly."

[2020-05-10 10:26] sunli829 commented on #56
I created a new issue to track this. #70

[2020-05-10 10:44] sunli829 commented on #56
@ruseinov Please upgrade to version 1.11.1 to see the real error message. 😁

[2020-05-10 10:44] #63 closed

[2020-05-10 10:47] sunli829 commented on #34
Thank you for the help. 😁 @Ejhfast @DataCorrupted

[2020-05-10 10:47] #34 closed

[2020-05-10 11:00] nicolaiunrein commented on #15
Sorry didn’t realise. That’ll awesome!

[2020-05-10 11:58] nicolaiunrein commented on #56
Once the parser and the Any type is under our control we can add conversion to and from `serde_json::Value`.

[2020-05-10 12:22] sunli829 commented on #56
@nicolaiunrein Did you also use the `Any` type? Now it can be replaced with `Json`, which is more convenient.

[2020-05-10 12:24] sunli829 commented on #56
@nicolaiunrein  Then help to see if this code is still needed?😁

[code]

[2020-05-10 12:26] sunli829 commented on #70
It has been implemented in version 1.11.1.

[2020-05-10 12:26] #70 closed

[2020-05-10 12:27] sunli829 commented on #54
@nicolaiunrein  It has been implemented in version 1.11.1.

[2020-05-10 12:37] IcanDivideBy0 commented on #54
Correct me if I'm wrong but this feels unnecessary complicated.
By removing the `impl std::fmt::Display for Cursor`, we can then add
[code]
which removes the need for the `ToGraphQLCursor` trait ?

Same goes for ID, I don't think those types needs to implement display, Debug should be enough for general purpose

[2020-05-10 12:41] IcanDivideBy0 commented on #54
https://github.com/IcanDivideBy0/async-graphql/commit/0c582fa47023d55a613f5cc45e8ab7fe16c5d954

[2020-05-10 12:45] ruseinov commented on #70
Great!

[2020-05-10 13:00] IcanDivideBy0 commented on #54
In the end it's even simpler
[code]

[2020-05-10 13:06] nicolaiunrein commented on #56
I'm not at a computer right now but will update to the latest version on monday and check things.

[2020-05-10 13:12] nicolaiunrein commented on #39
Now with the dependency removed this should be possible.

[2020-05-10 13:20] ruseinov commented on #56
@sunli829 it worked! thanks

[2020-05-10 13:33] sunli829 commented on #54
@IcanDivideBy0  This suggestion is good, I change it. 😁

[2020-05-10 13:36] sunli829 commented on #56
@ruseinov Is the input json format incorrect?

[2020-05-10 13:40] sunli829 commented on #54
@IcanDivideBy0 Seems to require generic specialization?

36 | impl<T: Display> From<T> for ID {
   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   |
   = note: conflicting implementation in crate `core`:
           - impl<T> std::convert::From<T> for T;

[2020-05-10 13:41] sunli829 commented on #54
@nicolaiunrein Is this the reason?

[2020-05-10 13:44] sunli829 commented on #54
Sorry, you actually answered the question. 😊@nicolaiunrein

[2020-05-10 13:50] IcanDivideBy0 commented on #54
@sunli829 let me send the PR

[2020-05-10 14:01] sunli829 commented on #54
Weird things, you can compile and pass. I want to see how your modification differs from mine.😳

[2020-05-10 14:02] IcanDivideBy0 commented on #54
@sunli829 you probably forgot to remove the `impl fmt::Display for ID` ?

[2020-05-10 14:07] sunli829 commented on #54
Thanks, I understand, because ID also implements Display, so it will conflict. I think the implementation of Display can indeed be removed, which is even simpler. Thank you for your PR. 😁

[2020-05-10 14:48] IcanDivideBy0 commented on #54
@nicolaiunrein `ID` and `Cursor` now properly implements `From<fmt::Display>` on master.
@sunli829 I let you decide if this worth a release :)

[2020-05-10 14:50] ruseinov commented on #56
yea

[2020-05-10 14:50] #56 closed

[2020-05-10 15:00] sunli829 commented on #54
Let me do it, just change the version number. 😂

[2020-05-10 15:11] nicolaiunrein commented on #54
Brilliant! @IcanDivideBy0 I much prefer your solution! Didn't consider removing `Display` for those types an option.

[2020-05-10 15:20] IcanDivideBy0 commented on #69
Just to give a hint on what should be in `prelude`, currently my project is not that much advanced but this might help a bit:
[code]
I personally write macros with full path, eg `#[async_graphql::Object]` I feel that having just `#[Object]` on top of the declaration is a too much generic name, if macros were renamed `#[GraphQLObject]` I think I'll go for this style.

So I'd definitly put `Context`

[2020-05-10 15:34] sunli829 commented on #69
Good suggestion, I will make a list tomorrow. 😊

[2020-05-10 16:41] krevativ commented on #60
Yes and the necessary transport layer. As far as I understand it, it means keeping the client-state on the server and having some pub-sub mechanics in place, to notify the client about the changes. I do understand that it's a huge task :) But it could be an interesting idea to explore sometime in the future.

Here is one talk on this topic: https://www.youtube.com/watch?v=g-asVW9JFPw

No I can't.

[2020-05-10 16:44] IcanDivideBy0 commented on #60
@krevativ which version of async_graphql are you using ?

[2020-05-10 16:53] krevativ commented on #60
@IcanDivideBy0 I've edited my comment. It was the outdated uuid package version.

[2020-05-10 17:01] sunli829 commented on #60
In fact, I have tried to support @defer, @stream and @live, but since rust currently does not support specialization, I need to add some wapper types, which is very inconvenient to use, so I consider waiting for the specialization to stabilize before adding  these features.😃

[2020-05-10 17:19] krevativ commented on #60
Rust really needs specialization. I miss this feature too. Ok it's probably better to wait then.

[2020-05-10 17:26] krevativ commented on #66
Can you elaborate more on which parts should be tested?

[2020-05-10 18:19] krevativ commented on #60
I have a followup questions on the N+1 problem and dataloader. So if I understand it correctly the current solution is to create all dataloaders for each request and provide them through async_graphql::query::QueryBuilder.data

My code for the tide framework looks something like this:

[code]

But isn't it wasteful to create all dataloards on each request? What if I don't need them for a specific

[2020-05-10 18:25] IcanDivideBy0 commented on #60
I'm using a wrapper struct that contains all loaders which is created per request, this is my current code:
[code]
(`ApiModel`, `ApiResult`, and `ModelLoader` being specific to my project)

With this wrapper, loaders are created on demand whenever a field needs it.

[2020-05-10 18:30] IcanDivideBy0 commented on #60
I'm not really sure this is necessary anyways, Loader creation is pretty cheap. I mostly do it to avoid having declare new loader every time I declare a new type in my api.

[2020-05-10 18:32] krevativ commented on #60
That's a great idea :) Thanks, now it makes much more sense.

[2020-05-10 20:02] phated commented on #69
Just my input, I think custom scalars and relay stuff shouldn't exist in the prelude. It would be very nice to have `async_graphql::relay::prelude::*` and `async_graphql::custom_scalars::prelude::*`

[2020-05-10 20:06] phated commented on #68
Instead of using macros to generate the rust code, there could be a command line tool that outputs the rust code (like `diesel-cli` does for the database). I believe the new parser work that @sunli829 did could be used to support that tool.

[2020-05-10 20:46] nicolaiunrein commented on #68
You mean a tool that - given a GQL Schema and and access to your business logic - generates some boilerplate for your api before compilation?

[2020-05-11 00:55] sunli829 commented on #66
Sorry, I did not describe clearly.
GraphQL allows querying the definition of Schema, called introspection. Here is a description of the introspection. http://spec.graphql.org/June2018/#sec-Introspection
Now need to write some test code, define Schema with `async-graphql`, and then query it to see whether the correct output. 😁

[2020-05-11 00:57] sunli829 commented on #66
I'll write a boilerplate code today, it shows how to do this test.

[2020-05-11 00:58] phated opened #73 "DataSource macro hides errors"
While using the `#[DataSource]` macro, any errors inside the implementation of the trait are marked on the trait itself (and in some weird cases, hoisted to line 1 of main).

I looked into the macro and found it is just adding `#[async_trait::async_trait]` so I used that directly and the errors are highlighted correctly in my code.

[2020-05-11 00:59] sunli829 commented on #68
@phated I understand what you mean, this way can really solve the problem that ide can't recognize the type. After I am busy with the work at hand, I will study the feasibility. 😁

[2020-05-11 01:01] phated commented on #66
More detail also exists at https://github.com/graphql/graphql-spec#introspection, include a link to the introspection tests that the spec team use.

[2020-05-11 01:03] sunli829 commented on #73
Yes, it only adds # [async_trait::async_trait], I think if rust stable version supports async trait, we do not have to change the code. 😂

[2020-05-11 01:05] phated commented on #73
@sunli829 maybe the error exists because the version async-graphql uses it 0.1.24, but the current version is 0.1.30

[2020-05-11 01:05] phated commented on #73
Would you accept removing the macro and documenting that `async_trait` must be used with DataSource?

[2020-05-11 01:07] sunli829 commented on #73
I want to keep it for expansion, maybe one day we want to add something? 😂

[2020-05-11 01:08] phated commented on #73
Ok, maybe we need to upgrade the dependency for now.

[2020-05-11 01:08] sunli829 commented on #73
Normally, the error message is not hidden. Can you give an example to reproduce the problem?

[2020-05-11 01:10] phated commented on #73
If you use `#[DataSource]` and make a type error inside https://github.com/phated/twentyfive-stars/blob/master/server/src/data/card.rs#L38, you will see the error not display properly.

[2020-05-11 01:11] sunli829 commented on #73
Thanks, I will track this issue. 😁

[2020-05-11 01:20] sunli829 commented on #60
@krevativ  @IcanDivideBy0

Sorry, the documentation of `async-graphql` is not very clear about this piece. In fact, it is divided into two types of data, `Schema data` and `Context data`. `Schema data` is set by `SchemaBuilder::data`, and `Context data` is set by `QueryBuilder::data`, you can think of `Schema data` as global, and `Context data` is only valid for this query, and use `Context::data`

[2020-05-11 04:25] sunli829 commented on #66
@krevativ  I added a boilerplate test code. 😁

[2020-05-11 05:33] sunli829 commented on #73
I still haven't figured out why this problem was caused, but I solved it in a way that seemed silly together. 😂

[2020-05-11 06:19] orefalo commented on #68
Thank you. For the context. I built a GraphQL UI designer - it generates SDL code. Ideally would love to have it generate RUST code for the same model. Which brings me to two questions:
1. Why can't rust read the SDL like javascript does? Is there any limitations in the language?
2. Well, a generator can be written in any language - if you highlight the patterns, I could even write it in JS. Remem

[2020-05-11 06:41] sunli829 commented on #68
What I understand is that you have a tool that can automatically generate GraphQL code for js, including the implementation of solving functions. Now you want to generate rust?

[2020-05-11 06:42] sunli829 commented on #68
GraphQL UI designer contains the definition of the data source, so you can generate the entire code, similar to hasaru? 😁

[2020-05-11 07:08] orefalo commented on #68
The tool goes from UI UML like models -> GraphQL SDL

from there:
hasura takes that SDL and creates a persistent implementation on the database
my own JS graphql server (which has nothing special), takes the SDL and creates a volatile implementation.

Now, I would love to see you implementation read the SDL, but it doesn't at this point.
Therefore two options:
1. have you implement the functionali

[2020-05-11 07:15] sunli829 commented on #68
I have seen the code of graphql-shorthand-parser, if I have not misunderstood, it is a GraphQL Schema parser, and your purpose is to be able to use this parser result (AST) to generate rust code, is that true? 😁

[2020-05-11 07:19] sunli829 commented on #68
If I understand correctly above, there is a small problem here. If I hope that the tools from SDL to `Rust code` can be used as rust macros in the future, js cannot do this.

[2020-05-11 07:22] sunli829 commented on #68
Sorry, I just understood the meaning of SDL, which is Schema Definition Language.

[2020-05-11 07:24] orefalo commented on #68
No worries, I think they call it IDL but anyways.. glad you got it

[2020-05-11 07:33] sunli829 commented on #68
There is a syntax in javascript, `@ annotations`, also in python and java. The rust macro can do the same thing, the difference is that it is completed at compile time.

[2020-05-11 07:36] orefalo commented on #68
I see. that's actually one of the "missing" features I identified up on the thread. Glad it's there, then.
Back to our discussion. in your opinion, is it worth supporting SDL in your Rust implementation?

[2020-05-11 07:39] sunli829 commented on #68
I think it's worth it. After all, some developers like "Schema first", so I'm already thinking about how to implement this. 😁

[2020-05-11 07:39] sunli829 commented on #68
And when I started to do this, I thought I would finish it soon.

[2020-05-11 08:18] IcanDivideBy0 commented on #69
@phated I don't think relay and custom scalars need their own prelude, there's not much in those modules, they can be used as `async_graphql::relay::*` and `async_graphql::scalars::*`

[2020-05-11 09:05] orefalo commented on #68
When/if you implement it..

I found this library - https://github.com/kevinmehall/rust-peg
Here are my grammar files - https://github.com/orefalo/graphql-shorthand-parser/tree/master/src

Cheers

[2020-05-11 09:16] sunli829 commented on #68
Thank you very much. 🍺

[2020-05-11 12:33] nicolaiunrein commented on #54
@sunli829 I wrote something but it got quite lengthy. Please review.

[2020-05-11 13:00] sunli829 commented on #54
Thank you so much. I translated the Chinese version later. 🍺

[2020-05-11 13:51] sunli829 commented on #54
@nicolaiunrein The documentation is too good, much better than mine. 😂

[2020-05-11 14:00] #15 closed

[2020-05-11 14:15] sunli829 opened #76 "Improve GraphQL query parser performance"
The current query speed of `async-graphql` is actually not too slow, but I think there is still a lot of optimization possibilities. Removing unnecessary memory allocation in the query parser is the first step.

[2020-05-11 14:27] nicolaiunrein opened #77 "How to forward Context?"
I updated to the current master branch and found out that in order to call methods defined on `Objects` I now need to pass in the `Context` as an argument. However I struggle to doing so because `Context` seems to store a reference and I need to pass in` Context` that does not get outlived by the returned stream. This is a simplified version of what I am struggling with at the moment:

[code]
Wrap

[2020-05-11 14:30] sunli829 commented on #77
Context cannot be cloned.

[2020-05-11 14:31] sunli829 commented on #77
Your usage is quite strange, why should you call TestObject::fetch directly?

[2020-05-11 14:31] nicolaiunrein commented on #77
Well I don't think so but in the last version there was no requirement to pass in any Context to the method call.

[2020-05-11 14:34] sunli829 commented on #77
I added `Context` and `FieldResult` to each Field resolver, the purpose is to simplify the definition of interface.

[2020-05-11 14:35] nicolaiunrein commented on #77
Well I basically want to reuse resolvers exposed in QueryRoot. Imagine TestObject exposed in QueryRoot.

[2020-05-11 14:36] sunli829 commented on #77
I understand, but now can not do so. 😂

[2020-05-11 14:43] sunli829 commented on #77
In fact, the function signature becomes this way, so that the field definition of the interface does not need to declare that the resolver of the object field has the Context parameter.FieldResult is the same reason.

[code]

----------------

# Before

[code]

# After

[code]

[2020-05-11 14:45] sunli829 commented on #77
Why not just return the TestObject stream.

[code]

[2020-05-11 15:01] nicolaiunrein commented on #77
Because I subscribe to an event-channel which only gives me IDs and I need to transform it to a Stream of enums where the variants are the fetched objects. But let me refactor my code I think I can simplify it.

[2020-05-11 15:25] nicolaiunrein commented on #77
I worked it out thanks for the help! And good to know that Context is not Clone. :laughing:

[2020-05-11 15:25] #77 closed

[2020-05-11 15:32] sunli829 commented on #77
That `Clone` can only be used internally. 😁

[2020-05-11 17:16] krevativ commented on #66
Seems to be straight forward. Now I just need to understand all possible states :sweat_smile: But I'm new to GraphQL and it's a good way to learn more about introspection. Ok I do it and try to stay  close to the spec.

@sunli829 thanks for the boilerplate!

[2020-05-12 08:29] sunli829 commented on #76
After my test, the query performance is now 40% faster than juniper (currently only this can be used as a reference), but there is still the possibility of improvement. 😁

[2020-05-12 09:23] sunli829 opened #81 "Unable to compile"
Can be compiled.

[code]

Could not compile.

[code]

I don't know what makes this different.

[2020-05-12 09:25] #76 closed

[2020-05-12 09:28] sunli829 commented on #81
This issue prevented us from releasing a new version, because the `cargo package` cannot pass.

[2020-05-12 09:39] #39 closed

[2020-05-12 09:45] nicolaiunrein commented on #81
compiles fine here...

[2020-05-12 09:51] nicolaiunrein commented on #81
seems that the update of the syn crate breaks things. I get `std::cmp::Eq is not implemented for syn::ty::TypePath`

[2020-05-12 09:54] sunli829 commented on #81
But why “build all” works, it’s strange.

[2020-05-12 09:56] nicolaiunrein commented on #81
If you put this in Cargo.toml it works
`syn = { version = "1.0.20", features = ["full", "extra-traits"] }`

[2020-05-12 09:58] sunli829 commented on #81
Tomorrow I try, I am now in drink. 😂

[2020-05-12 09:58] nicolaiunrein commented on #81
Do you want me to commit?

[2020-05-12 10:03] sunli829 commented on #81
Yes.🤝

[2020-05-12 10:09] nicolaiunrein commented on #81
Alright!
You would not think that there is more features than "Full" :laughing: My guess is that its a cargo bug when some other crate compiles this feature cargo does not re-compile the crate without the feature.

[2020-05-12 10:24] nicolaiunrein commented on #81
@IcanDivideBy0 Now the tests faile with "async-graphql is not presetn in `Cargo.toml`. Could you look into? Its because of your latest commit.

[2020-05-12 10:26] IcanDivideBy0 opened #82 "Test are broken"
Looks like I've broke the tests with #80
Let me fix that!

[2020-05-12 10:53] #82 closed

[2020-05-12 10:54] IcanDivideBy0 commented on #81
@nicolaiunrein tests are fixed now

[2020-05-12 11:05] nicolaiunrein commented on #81
I leave this issue open for further investigation

[2020-05-12 13:55] krevativ commented on #81
Not sure if it relates to this issue. But unions seem to be broken. Union tests are working fine, but taking even the simple example from tests:

[code]
and putting it somewhere else, gives me:

[code]
I tried it in my code using the latest version (1.11.3) and in the tide/starwars example (v 1.11.0). And I think interfaces are broken too.

[2020-05-12 14:10] sunli829 commented on #81
The published version of union is not defined that way.

[2020-05-12 14:11] sunli829 commented on #81
struct Node（ MyObj）
like this

[2020-05-12 14:21] krevativ commented on #81
So it is how it will be defined in the future version or what do you mean by published version? But this is how it's stated in the book and the union tests. It's a bit confusing.

[2020-05-12 16:02] nicolaiunrein commented on #81
They have been changed to Enums in #75 which got merged to the release branch after 1.11.3

[2020-05-12 17:41] krevativ commented on #81
Ok thanks, I've missed that. So I was just at the wrong place at the wrong time.

[2020-05-12 17:43] phated commented on #81
@krevativ I think you actually uncovered a problem with our current workflow. I'm going to look into updating the docs generation to only run when we tag

[2020-05-12 17:46] phated opened #84 "Git tag releases"
I think it is very important that we use `git tag` to tag each release. We can then make certain workflows (like building the book) rely on a tag being created so our documentation aligns with the available release.

[2020-05-12 17:50] IcanDivideBy0 commented on #84
I totally agree.
Coming from JavaScript, I use Lerna to manage release on monorepos, does anyone know similar tools in rust ?

[2020-05-12 18:07] nicolaiunrein commented on #84
I personally use cargo-bump which is quite nice but it‘s nowhere near lerna. Do you think it makes sense to serve the book from the release branch well?

[2020-05-12 18:10] nicolaiunrein opened #85 "Make book and docs link to examples"
There is no links to the examples repo in the book and docs. I think we should add them. Not sure where though.

[2020-05-12 21:15] hapcode opened #86 "Negative Int! arguments doesn't work"
Hi, thanks for your great library. I found a bug during my exploration.

Async-graphql version: 1.11.3

Schema:
[code]

Execute:
[code]

Result:
[code]

[2020-05-12 21:24] phated commented on #86
That's an invalid query, mutations have to select fields to return.

[2020-05-12 21:26] IcanDivideBy0 commented on #86
I think it mostly missing the `query` keyword?

[2020-05-12 21:31] sunli829 commented on #86
No, this problem caused by the new parser.

[2020-05-13 00:24] sunli829 commented on #84
I also agree that this is important. 😁

[2020-05-13 00:36] sunli829 commented on #81
@krevativ Upgrade async-graphql to `1.12.1`.

[2020-05-13 00:37] sunli829 commented on #86
@hapcode  Upgrade async-graphql to `1.12.1`. 😁

[2020-05-13 00:38] #81 closed

[2020-05-13 00:51] #73 closed

[2020-05-13 00:52] #69 closed

[2020-05-13 00:52] #62 closed

[2020-05-13 00:53] #54 closed

[2020-05-13 00:53] #68 closed

[2020-05-13 00:53] #60 closed

[2020-05-13 07:38] sunli829 commented on #51
Maybe I found a way to support this feature.

[2020-05-13 07:40] sunli829 commented on #85
Maybe we can add a new chapter to introduce each example?

[2020-05-13 09:26] nicolaiunrein commented on #85
How would you introduce them? Like explaining what they demonstrate? I just thought of a simple link but a separate chapter seems to be even better.

[2020-05-13 09:34] nicolaiunrein opened #87 "Discussion: Should we add logging?"
I sometimes have the desire to set `RUST_LOG=trace` and see what's going on under the hood. Do you think we should add some tracing to this library as well? I have setup the actix_web middleware for logging but that does not help all too much wenn using graphql because almost all lines look like this: `127.0.0.1:43558 "POST / HTTP/1.1" 200 603432 "http://localhost:5001/" 0.221888`.

[2020-05-13 10:21] sunli829 commented on #87
In fact, I really considered this issue, but I did n’t think about what to output. Are you willing to implement this feature? Just write an extension, it should be easy. 😁

[2020-05-13 10:49] hapcode commented on #86
Same thing after rebuild. Also I see `async-graphql-parser-0.3.0` in target/debug/deps.

[code]

[2020-05-13 11:01] sunli829 commented on #86
I'm really sorry, I forgot to update the parser version. 😭

[2020-05-13 11:13] sunli829 commented on #86
Please upgrade async-graphql to `1.12.3`.

[2020-05-13 11:16] hapcode commented on #86
It works. Thank you. Closed.

[2020-05-13 11:16] #86 closed

[2020-05-13 12:16] sunli829 commented on #51
Is there any other way to simulate specialization in the stable version of rust?

[code]

@nicolaiunrein @IcanDivideBy0 @phated

[2020-05-13 12:22] IcanDivideBy0 commented on #51
I guess I can't help you on this one :/
Which trait are we  talking about ? maybe we can split implementation in different parts?

[2020-05-13 12:26] IcanDivideBy0 commented on #87
At a `trace` level, I'd probably expect a log for each resolver call, guards, validators, so I think getting something similar to the ApolloTracing extension would be a good start.

[2020-05-13 12:42] sunli829 commented on #51
I thought about it again, even if there are specializations, there are other problems. It is difficult to implement @defer without affecting the ease of use. This is not a problem in languages with GC. 🥺

[2020-05-13 12:47] nicolaiunrein commented on #87
I will create a draft when I find some time. Do extensions get called on subscriptions?

[2020-05-13 13:11] sunli829 commented on #87
The subscription does not call the extension, because the subscription document does not explain how the extension results are output.

[2020-05-13 20:21] krevativ commented on #66
Ok I've looked more deeply into the spec. So far, these are the tests I want to write:

[code]

What do you think?

I've also some questions:

1. What about the fields `interfaces`, `possibleTypes`, `enumValues`? Do they suppose to work? Because they don't or I do something wrong. (I think also the `inputFields`, but I haven't  tested it yet).

2. What about the `__schema` field? It is a part of i

[2020-05-14 03:29] sunli829 commented on #66
Yes, these need to be tested. For example, the specification defines that `interfaces` must return null, and` async-graphql` returns `[]`, `" "`, which is not correct.

I hope this can be tested.

For introspection, there is no difference between `query`, `mutation`, and `subscription`.

-----------------

Thanks again. 😁

[2020-05-15 16:44] hapcode opened #89 "Preserve field order for introspection"
I've the following code:
[code]

Resulting GraphQL SDL from playground:
[code]
Is it possible to preserve declared order? I think this feature is important, especially for Interfaces with common fields, which should have a stable order for readability.

[2020-05-16 01:59] sunli829 commented on #89
Good suggestion, `enumValues`, `fields`, `possibleTypes`, `inputFields`, `args` have order problems, I will fix this problem now.
Thank you. 😁

[2020-05-16 02:41] sunli829 commented on #89
Please upgrade async-graphql to `1.12.8`. 😁

[2020-05-16 04:43] sunli829 opened #91 "Schema first"
Some developers like `Schema first`, so I decided to support this feature.

- [x] Schema parser
- [ ] Code generator
  - [ ] async-graphql-sdl (SDL code generation core library)
  - [ ] async-graphql-gen (A command line-based code generator)
  - [ ] async-graphql-dsl-codegen (A procedural macro based code generator)
- [ ] Custom directive

[2020-05-16 12:13] hapcode commented on #89
Great. My scheme looks nice. Many thanks.

[2020-05-16 12:13] #89 closed

[2020-05-16 22:12] ruseinov commented on #91
Nice to have! Although in my experience it seems like the best way to proceed with graphql, however you define the schema, is producing schema from an actual implementation. But being able to generate basic structs never hurts!

[2020-05-16 22:16] ruseinov commented on #84
I haven't seen a lot of repos so far relying on git tags to release the actual crate. One problem that I see with this approach if you want to do both book and the crate via tags is that when you only update the book you are forced to release a new version of the crate too, for no good reason.

If you just do the book via tags it's going to be confusing too, because the tags won't align with crate

[2020-05-16 22:22] ruseinov commented on #87
It seems like trace/debug level logging should actually reside in the library itself, not as an extension. It'd be nice if whoever is using the library is missing some info would suggest  /contribute the functionality needed for their particular use-case. I totally agree that the more debug info you can get - the better, I am not sure though this should be elaborate to implement on trace level, as

[2020-05-17 08:36] sunli829 commented on #91
This code generator can get the entire schema information, so it will be more powerful than procedural macros.

[2020-05-17 19:47] phated commented on #84
You can release on tag too. I'm not sure I understand the point of the `release` branch.

[2020-05-17 21:29] rkudryashov opened #94 "Custom scalar is not appeared in the `_service { sdl }` query"
Hi, thank you for this library. I encountered the following issue:

First, I add custom scalar as per doc (https://async-graphql.github.io/async-graphql/en/custom_scalars.html):

[code]

Then I am starting Apollo Gateway (`npm run start-gateway`):
[code]

I think the issue is raised because `_service {     sdl   }` query doesn't return description of custom scalars:
[code]

Repro-project is here:

[2020-05-18 01:33] sunli829 commented on #94
Thanks for your feedback, I will resolve this issue immediately. 😁

[2020-05-18 01:40] sunli829 commented on #94
Because you need to implement `ScalarType` for the third-party library structure, due to orphan rules, rust does not allow you to do so. 😁

[2020-05-18 03:40] sunli829 commented on #94
Please upgrade to 1.12.12, I solved the problem.

[2020-05-18 09:33] rkudryashov opened #95 "A query that asking interface doesn't return result through Apollo Gateway"
I have the following structure:

[code]

Let's say the interface has just one successor:

[code]

Then I'm trying to request this field on `http://localhost:8001/`:

[code]

Result:

[code]
But if I perform the query on Apollo Gateway, it will fail:

[code]

Repro-project is here: https://github.com/rkudryashov/async-graphql-reproducer

[2020-05-18 09:33] rkudryashov commented on #94
Thanks for the instant response, now it is working fine. But I encountered another issue: https://github.com/async-graphql/async-graphql/issues/95

[2020-05-18 09:33] #94 closed

[2020-05-18 11:27] sunli829 commented on #95
I'm still looking for reasons. 😁

[2020-05-18 11:47] sunli829 commented on #95
`async-graphql` did not provide `Federation` with the object interface information, I have fixed it in version `1.12.13`. 😁

[2020-05-18 13:41] rkudryashov commented on #95
Nice work, thanks!

[2020-05-18 13:41] #95 closed

[2020-05-18 15:57] krevativ commented on #60
@IcanDivideBy0 could you please elaborate more on how your `ModelLoader` works? I try to implement it now and I do understand the basic concept. But I can't understand how does ModelLoader::<T>::new(ModelBatcher) returns the corresponding loader? `Loader<K, V, F>` is much more generic. So, your ModelLoader must somehow infer the other generic parameters from T?

[2020-05-18 16:08] sunli829 commented on #60
Here is an example: https://github.com/async-graphql/examples/tree/master/tide/dataloader

[2020-05-18 16:32] krevativ commented on #60
@sunli829 thanks. Great that there is a dataloader example now. But this is just a normal dataloader example that brings me back to my waste problem. I think it's wasteful to create all dataloaders for each request, just in case you will need them. This is maybe a cheap operation, but if you have a lot of dataloaders and a small incoming query, it is kind of out of proportion. Don't you think? I l

[2020-05-18 17:14] IcanDivideBy0 commented on #60
@krevativ I use a `ApiModel` trait that is general to my whole application that anything I want to fetch from my DB need to implement. With such a trait, the loader can be generic too:
[code]
This is a bit simplified but the global idea is here

[2020-05-18 18:33] mwilliammyers commented on #87
Logging e.g. all errors would be super handy to have as a catch all in case you forgot to log them in resolvers.

FYI: here is some discussion on logging in juniper:
- https://github.com/graphql-rust/juniper/issues/423
- https://github.com/graphql-rust/juniper/pull/370

[2020-05-18 19:48] rkudryashov opened #96 "Type definition is dissapeared after adding field of enum type"
After I'm just adding a new field (`enum_field`) to the working example:

[code]

`SomeType`'s definition will be disappeared from the `service.sdl` query's response.

Repro-project is here: https://github.com/rkudryashov/async-graphql-reproducer

[2020-05-19 02:54] sunli829 commented on #60
The corresponding dataloader should be created according to the data category. For example, if you have `users` table and `posts` table, then you should create two dataloaders, `UsersDataLoader` and `PostsDataLoader`, instead of creating DataLoader for the request.

[2020-05-19 02:55] sunli829 commented on #96
Please upgrade to `1.12.15`.  😂

[2020-05-19 03:36] sunli829 opened #97 "The scalar name and description attributes are placed on the process macro attributes."
[code]

[2020-05-19 06:48] IcanDivideBy0 commented on #60
@sunli829 dataloader have a layer of cache in its implementation, so in Javascript at least, it's usual to recreate all loaders per request. That's what we're doing here: one loader per model but @krevativ want to avoid re-creating all loaders on every request because most of them might not be used at all for this request.

[2020-05-19 07:04] sunli829 commented on #60
@IcanDivideBy0
I just don't understand why it was recreated, wasn't the loader created at the beginning? 🤔

[2020-05-19 07:19] IcanDivideBy0 commented on #60
@sunli829 I have a struct Loader**s** which lives in `QueryContext` and holds all possible `Loader`.
By using dataloader cached `Loader`, we don't want this to be in `SchemaContext` because of the cache.

[2020-05-19 07:27] IcanDivideBy0 opened #98 "Implement DataSource for Stream<T>"
I'm planing to add a generic implementation of `DataSource` for `Stream`s in the same fashion it's done for slice. I'm using mongodb on m project, which returns a `Stream` of documents.

I think it's kind of wasteful to collect all stream results into a vec to then apply `query_operation` filter on this vec. I don't know about other database systems, but I think most of them are using stream also?

[2020-05-19 07:35] phated commented on #98
`sqlx` uses streams of data too. I'm converting to it right now but haven't reach that point yet.

An aside: I'm probably going to be making DataSource implement static methods soon because `self` doesn't seem to be used and it doesn't currently work on enums due to requiring instance methods.

[2020-05-19 07:43] IcanDivideBy0 commented on #98
@phated I've just noticed that the slice impl uses the index in the original array to compute cursor. If the array changes (let's say an element is pushed front), all cursors are changed... which is a bit weird.
I think we should add something to allow users to map an element to a cursor and still using the generic `query_operation` logic

[2020-05-19 07:51] sunli829 commented on #98
I think this can be achieved, but it may only support one-way paging.

[2020-05-19 07:52] sunli829 commented on #51
I thought of a compromise method and tried again. 😂

[2020-05-19 07:56] sunli829 commented on #60
I see, your cache is only valid for a single query, right?

[2020-05-19 08:02] sunli829 commented on #98
I think OutputType should be implemented for Stream, it is a List type.

[2020-05-19 08:14] #96 closed

[2020-05-19 08:18] IcanDivideBy0 commented on #60
yes!

[2020-05-19 09:32] IcanDivideBy0 commented on #98
here is a first draft (I think those lifetimes can be simplified somehow...):
[code]
@sunli829 I'll take a try at adding an implementation of `OutputType` for `Stream`

[2020-05-19 09:37] IcanDivideBy0 commented on #98
This draft requires `query_operation` to take a mutable reference to self. If anyone wants a custom implementation of DataSource, I think it can be useful to have the ability to mutate some data inside this function without having to put arcs and mutex everywhere

[2020-05-19 09:55] IcanDivideBy0 commented on #98
@sunli829 I'm having an issue adding `OutputType` for `Stream`:

`OutputType::resolve` takes an immutable reference to self, but stream can be consumed only by taking ownership of the stream. I see 2 possibilities:
- changing `OutputType::resolve` to `async fn resolve(self, ctx: &ContextSelectionSet<'_>, pos: Pos) -> Result<serde_json::Value>`. As far as I understand, values are droped right after

[2020-05-19 10:19] sunli829 commented on #98
In fact, I also want the `OutputValueType::resolve` function receiver to be `self`, but I do n’t know how to support borrowed type data, I have tried this several times. 😭

[code]

This is  implement `OutputValueType` for all borrowed type. I don’t know if this is the correct way to do it.

[2020-05-19 10:21] sunli829 commented on #98
I encountered this problem when I implement `OutputValueType` for `Iterator`.

[2020-05-19 10:27] sunli829 commented on #98
Let me write an example to explain why this is `&self`, not `self`.

[2020-05-19 10:40] sunli829 commented on #98
[code]

[2020-05-19 10:41] IcanDivideBy0 commented on #98
Here is a draft for Stream -> OutputType
[code]

And the test works fine
[code]

[2020-05-19 10:44] IcanDivideBy0 commented on #98
@sunli829 this would be a huge breaking change, but maybe we should not allow resolvers to return borrowed content?

[2020-05-19 10:45] sunli829 commented on #98
This is a solution, can it be more concise? 😁

[2020-05-19 10:47] sunli829 commented on #98
Disallowing the return of borrowed content may not be good. For example, a string must be cloned every time.

[2020-05-19 11:03] sunli829 commented on #98
If I change `&self` to `&mut self`, will it solve the problem?

[2020-05-19 11:06] IcanDivideBy0 commented on #98
By the way, I think `Arc`, `Box` and `&T` impl of `OutputType` can all be replaced by a single:
[code]

@sunli829 changing `&self` to `&mut self` would allow to remove the `Arc<Mutex<_>>`, but the `mem::replace` will still be required, I don't think it's a huge deal

[2020-05-19 12:24] sunli829 commented on #98
@IcanDivideBy0 Then do we make changes in this way?

[2020-05-19 13:24] IcanDivideBy0 commented on #98
@sunli829 I'll send these tomorrow I think so I can write some doc as well

[2020-05-19 13:52] sunli829 commented on #98
Thank you very much! 😄

[2020-05-19 18:47] nicolaiunrein opened #99 "Subscription requests get silently dropped when received in bursts greater than 8 at a time"
_EDIT: I found the bug. Details below the example code._

When sending start and stop requests to subscription handlers with the same id and a high frequency in order to restart the subscription the requests get dropped and I do not get any response at all. This only happens when repeated like 6 times or more and also not always. This is really annoying and I spend almost a week finding the bug in

[2020-05-19 19:18] nicolaiunrein commented on #99
I am using `websocket-lite`. The same happens with `async-tungstenite` so I guess its not a client issue. I figured out that when sending a burst like below `handle_subscription` inside `SubscriptionTransport` is only called on first request.

Here is some test code:
[code]

[2020-05-19 19:45] nicolaiunrein commented on #99
I found the bug. In file `src/subscription/connection.rs` we are opening a `mpsc::channel` with a capacity of 8 which leads to silently dropping requestes. The question is how do we solve this?
- We could make it an unbounded channel. This may be a vulnerability though.
- We could make it user configurable.
- We could implement a some sort of throttling.

At least we should not silently drop the r

[2020-05-19 21:07] nicolaiunrein commented on #99
My use-case might be a bit weird. To explain: I am multiplexing subscriptions and need to restart the subscriptions in order to get the first event wich is the initial state. I did not check if the limit of 8 is per ID but I assume its per TCP connection. This would mean that starting many different subscriptions at client startup would also lead to this problem. My tendency is to make the channel

[2020-05-19 23:38] sunli829 commented on #99
Bounded channel should not be the cause of this problem. Even if the buffer is full, the requested message should not be discarded.

I suspect it's something else. Are you using async-graphql-actix-web？

[2020-05-20 05:52] nicolaiunrein commented on #99
Yes but I tried it. I set the limit to 1000 and no problems at all.

[2020-05-20 06:20] sunli829 commented on #99
It seems that you have been sending messages without receiving them?

[2020-05-20 06:29] sunli829 commented on #99
If you do not perform the `poll` operation on `SubscriptionStream`, you can no longer send any requests after the send buffer is full.

[2020-05-20 06:29] nicolaiunrein commented on #99
I think this bit inside the handle function leads to a dead lock when channel is full.
[code]

[2020-05-20 06:30] sunli829 commented on #99
Because the processing request is in the `poll` of `SubscriptionStream`.

[2020-05-20 06:34] sunli829 commented on #99
[code]

[2020-05-20 06:37] sunli829 commented on #99
https://github.com/async-graphql/async-graphql/blob/e949cb441c3a1b7e1f1deec9be99d0c104edad9f/src/subscription/connection.rs#L130

I am processing requests here.

[2020-05-20 06:45] sunli829 commented on #99
This is a throttle, if you can't receive messages quickly, you can't send messages quickly.

[2020-05-20 06:47] nicolaiunrein commented on #99
Sorry I don’t know if I understand what you are saying. So you say I need to receive on the client side?

[2020-05-20 06:55] nicolaiunrein commented on #99
But isn’t the WsActor sending messages to itself? As I understand correctly it is "waiting" to send a message to the sink but the channel is full and can only be processed if the handle function returns but since we are "waiting" instead of "spawning" we can never return and thats a dead lock.

[2020-05-20 07:12] sunli829 commented on #99
Sorry, I may not have described clearly.

After creating a subscription connection, you should start receiving messages immediately, rather than sending all requests before you start receiving messages.

[code]

[2020-05-20 07:20] sunli829 commented on #99
I can change this to an unbounded channel, and the receiver throttler can also work normally.

[2020-05-20 07:26] nicolaiunrein commented on #99
Well I guess that only works if the tokio executor in my client code switches the task to receive messages after each send message.
But your theory would mean sending 100 stop messages followed by a start and one receive should work even with a channel capacity with 8, right? I will test it when I’m at the office.

[2020-05-20 07:32] sunli829 commented on #99
Yes, this is fine. 😁

[2020-05-20 07:37] sunli829 commented on #99
No, you cannot guarantee that no message push will arrive halfway.
And I thought about it, I changed to unbounded channel can actually solve this problem. 😂

[2020-05-20 07:45] sunli829 commented on #99
I made a change in the master branch, you can try it later.

[2020-05-20 07:49] nicolaiunrein commented on #99
Thank you! 😄

[2020-05-20 10:39] nicolaiunrein commented on #99
Works like a charm! :heart:
As a side note I also tried to change `.wait(ctx)` to `.spawn(ctx)`. But that does not seem to solve it. It does not get stuck anymore and delivers more messages but still drops some.

[2020-05-20 10:39] #99 closed

[2020-05-20 11:44] nicolaiunrein commented on #85
I added example and benchmark sections to the introduction of the book and docs

[2020-05-20 11:44] #85 closed

[2020-05-20 12:15] sunli829 commented on #85
Thank you. 😁

[2020-05-20 12:30] nicolaiunrein commented on #87
I think we should look at it from two perspectives: I really see two separate tasks at hand:

1. Logging during development.
We could add a couple of calls like this to the codebase which should provide decent logging out of the box during development:
[code]

2. Logging in production.
This should be highly configurable because we should not force the user into a specific library or logging system

[2020-05-20 12:39] sunli829 commented on #87
I have to think about it, because `Middleware` and `Extension` are very similar. 😁

[2020-05-20 12:50] nicolaiunrein commented on #87
I know. Extending `Extension` might be a better solution.

[2020-05-20 12:57] sunli829 commented on #87
After I support `@stream`, let's see how to pass more information to `Extension`.

[2020-05-20 14:27] IcanDivideBy0 commented on #98
@sunli829 I have bad news concerning both of the mentioned improvements

## impl OutputType for Stream
There's two ways to collect the stream into a vec:

### Option 1
[code]
each item is resolved independently, this is the more efficient way to process the stream, but I'm pretty sure it will completly breaks dataloader integration

see the [dataloader trick](https://github.com/cksac/dataloader-rs

[2020-05-20 16:22] IcanDivideBy0 commented on #98
I think I've found a way for stream connection...

[2020-05-20 18:03] secretfader opened #101 "Cast usize values to u64"
In order to resolve compilation errors in my application, I needed to [cast usize values to u64](https://github.com/secretfader/async-graphql/commit/61b3cf705032b688272ddc3fe6bffc4a8e13c813). I also encounter this error when compiling this repository locally with `rustc 1.43.1 (8d69840ab 2020-05-04)`.

[2020-05-20 23:47] sunli829 commented on #101
Thank you, this is because of multer breaking changes, please upgrade async-graphql to 1.12.18.

[2020-05-20 23:54] sunli829 commented on #98
It seems pointless to implement OutputType for Stream. 😂

[2020-05-20 23:57] #101 closed

[2020-05-21 01:07] #97 closed

[2020-05-21 07:10] #51 closed

[2020-05-21 07:40] sunli829 commented on #98
This code gave me great inspiration, I used it in these places. 😁

https://github.com/async-graphql/async-graphql/blob/906bcce9323fa3d41a37cc188106fa00af453c6d/src/types/deferred.rs#L13

https://github.com/async-graphql/async-graphql/blob/906bcce9323fa3d41a37cc188106fa00af453c6d/src/types/streamed.rs#L14

[2020-05-21 12:18] #98 closed

[2020-05-21 13:53] sunli829 opened #103 "Discussion: DBDataSource"
The performance of stream-based DataSource is somewhat slow, because it requires users to fetch all records from the database. However, it is very convenient to use and has certain practicality in certain scenarios.
In order to improve query performance, can we add another DBDataSource and then pass `after`,` before`, `limit` to the database query, is this possible?

@IcanDivideBy0 @phated @nicola

[2020-05-21 15:48] IcanDivideBy0 commented on #103
This is possible for sure but how would you abstract the database? I think this should be user code cause it's a trade off between functionalities and performances: for example: have totalCount or fetch from DB with a limit ?

[2020-05-21 20:28] phated commented on #103
I will be testing the new stream DataSource with `sqlx`, which returns a stream from a database query. I assume I can use `LIMIT`, `OFFSET` and other sql in my queries before receiving my stream.

[2020-05-22 00:54] sunli829 commented on #103
Yes, we may need to abstract the query operations of the database, create a `DBDataSource` trait, and then implement `SqlXDataSource` and `DieselDataSource`.

[2020-05-22 04:00] sunli829 commented on #87
I added a `Logger` extension.

[code]

[2020-05-22 07:38] IcanDivideBy0 commented on #103
I'm pretty sure you cannot conform to the spec with SQL only.

The main problem is that if the cursor does not exist, the whole dataset sould be used.

Let's assume some data

|ID
|---
|1
|3
|5

Now try a simple example: `after: "2", first 2`.

To fetch only the needed DB records, you have to sort by cursor (whatever it is) so you can filter with something like `WHERE ID > $AFTER`, the where claus

[2020-05-22 07:42] IcanDivideBy0 commented on #103
I like how the relay connection work, but this specific part of the spec makes it a nightmare to implement. In real world, I've always ignored this and used an **almost** relay connection due to this.

[2020-05-22 08:05] sunli829 commented on #103
Implementing a `DataSource` is too cumbersome, and the complex `QueryOperation` enum makes me never want to use this function.
We require cursor to always correspond to a sorted field in the database, which should be the majority of cases, so at least we don’t have to deal with `QueryOperation`, right?

[2020-05-22 08:12] IcanDivideBy0 commented on #103
Agreed, this enum is a bit convoluted, things would have been cleaner and easier to handle if we passed the `Pagination` struct directly to the `query_operation`

[code]

[2020-05-22 08:20] phated commented on #103
The pagination struct is mirroring the algorithm that Relay specs 🤷

[2020-05-22 08:20] phated commented on #103
I've not actually reviewed if the way you pattern matched actually follows the spec...

[2020-05-22 08:23] IcanDivideBy0 commented on #103
It's more the `QueryOperation` enum that we are questioning here

[2020-05-22 08:27] phated commented on #103
Yes, that's what I meant. I'm on mobile right now. That enum represents the operations that should be performed. The old version didn't follow the spec and if pattern matching on struct fields is very unclear.

[2020-05-22 08:34] IcanDivideBy0 commented on #103
https://relay.dev/graphql/connections.htm#sec-Pagination-algorithm
The specs doesn't define 12 possible different operations but an algorithm with branching path such as if, else, loops.
The enum represent all the possible outcome of this branching, hence loosing any code factoring possibility

[2020-05-22 08:38] IcanDivideBy0 commented on #103
For instance implementing this step

is easier with
[code]
than with
[code]

[2020-05-22 08:45] IcanDivideBy0 commented on #103
Anyways, we're diverging from the topic, I don't think we can solve the whole pagination problem in a generic way. Most people will end up implementing their own logic, our job is more to provide an easy way to do so, that's at least what I'm trying to achieve her :)

[2020-05-22 08:45] phated commented on #103
🤷 when trying to implement this with an RDBMS, the enum made things easier to work with for it.

But my other projects have me buried, so I can't spend every day working on this stuff. I guess my opinion doesn't matter.

The 1 night of week I can usually spend on this stuff requires me to spend the whole time upgrading.

[2020-05-22 08:47] sunli829 commented on #103
Probably whether ·QueryOperation· is complex is not the key to the problem. Even if we decompose it, it is still very complicated.😂 It is not easy to implement a fully compatible Relay connection, but if this implementation is universal, we can complete these tasks at the `DBDataSource`.

[2020-05-22 08:53] IcanDivideBy0 commented on #103
@phated I'd be curious to see how you implemented it for RDBMS if you can provide a code sample :)

There seems to be 2 different use case:
- generate a database query from pagination inputs
- apply pagination algorithm to a dataset
So may be `DBDataSource` is the way to go after all!`

[2020-05-22 08:54] sunli829 commented on #103
If you don't want to use `QueryOperation`, you can implement the `DataSource::query` method, which may be more convenient in some cases.

[2020-05-22 08:59] IcanDivideBy0 commented on #103
Didn't even thought of it 😂, It still requires to add an empty `query_operation` as well but still simplify things for me :D

[2020-05-22 09:06] IcanDivideBy0 commented on #103
So what do you think about something like this ?
[code]

[2020-05-22 09:21] sunli829 commented on #103
This is my initial thought. This `DBDataSource` is not related to the original `DataSource`.

[code]

[2020-05-22 09:22] sunli829 commented on #103
I feel this is ugly and needs improvement. 😂

[2020-05-22 09:28] sunli829 commented on #103
I'll learn how to use SQLX and see how to pass query parameters to SQL.

[2020-05-22 10:06] orefalo commented on #91
Neat ;-) can wait to replace my JS implementations

[2020-05-22 10:06] sunli829 commented on #103
Maybe we only need this?
[code]

[2020-05-22 10:47] IcanDivideBy0 commented on #103
I personally use mongodb, so my only concern right now is how I will opt-out this :/

[2020-05-22 14:20] ruseinov opened #104 "Allow extra input with upload. (or provide examples?)"
I have tried the following approach:
[code]
But I'm not sure yet what is expected in the body.

I'm trying to send something along these lines:
[code]
But obviously it is wrong.

What I get in return is
[code]

I am actually not sure if it's even possible to pass extra params, but I would assume so, cause we definitely can send the query. I'd appreciate an example, otherwise will keep digging in t

[2020-05-22 15:13] sunli829 commented on #104
Incorrect requested data.

https://github.com/jaydenseric/graphql-multipart-request-spec

https://github.com/async-graphql/async-graphql/blob/ebc6c80ddd982db21a3695b948d6e0b15e748c41/src/types/upload.rs#L39

[2020-05-22 15:40] ruseinov commented on #104
yes, great, I didn't realise the example was there :/ Thanks a lot, I'll try this out soon!

[2020-05-22 16:09] #104 closed

[2020-05-22 16:10] ruseinov commented on #104
Once I'm done with my implementation I will provide an example similar to what I have been looking for in this ticket, for whoever decides to search for this next.

[2020-05-24 12:14] sunli829 commented on #103
I rewrote the code of DatsSource.
The DataSource implemented for Stream has been temporarily removed, and this modification will be added after everyone agrees.

[2020-05-25 13:25] ruseinov commented on #104
It works beautifully, here's a sample that can be reused as needed:
Mutation Object:
[code]

and the request using CURL
[code]

[2020-05-25 21:29] mwilliammyers opened #106 "Make connection types more flexible?"
Background:

I am refactoring my code to use this crate with the [elasticsearch](https://github.com/elastic/elasticsearch-rs) crate.

Currently, I am using juniper and since they do not support the relay cursor connection spec, I have defined code to translate an [elasticsearch search response](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html) to a graphql c

[2020-05-26 02:25] mwilliammyers opened #109 "Support expressions for argument defaults"
I know it would be a breaking change (I am 99% sure at least), but it would be great if argument defaults supported arbitrary expressions instead of fixed strings.

Apart from allowing dynamic argument defaults etc. (see below for some use cases), it allows for a much more natural syntax; `arg(default = 20)` feels better than `arg(default = "20")`.

These expressions would be evaluated when a clie

[2020-05-26 02:55] sunli829 commented on #109
The default value of the string type is a last resort,
but I will consider adding `#arg (default_with =" ... ")`. 😁

[2020-05-26 02:58] sunli829 commented on #106
We fully support the features you mentioned, but unfortunately, we are modifying the API of Relay Connection, because the old version is not easy to use in many places. The new API will be released in a few hours, we need to update the document. Then I will show you how to add additional fields to `Edge`. 😁

[2020-05-26 03:10] sunli829 commented on #106
Adding additional fields to Connection is not yet supported, and I am adding this feature.

[2020-05-26 03:10] mwilliammyers commented on #109
So would it allow:

[code]
and:
[code]
and even:
[code]
[code]

[2020-05-26 04:31] sunli829 commented on #109
Maybe we can be the same as serde.

[2020-05-26 06:11] sunli829 commented on #109
The generated code will parse the default value of the `String` into a `Value`, and will parse this `Value` into the required `InputType` again when querying.

If we want to support the default value type such as `i32`, we need to support the conversion of rust type to `Value` type, which is equivalent to we need to do the implementation of `OutputType` on `InputType` again, **just for a default v

[2020-05-26 07:11] IcanDivideBy0 commented on #109
My 2 cents: default arguments for a function should be a language feature. IMO the `default` should be completely removed from the macro args, it makes things unclear and introduce some complexity in async_graphql while it's easy enouth for anyone to `unwrap_or` an option.

It makes sense for serde to have this due to the versatility of the json format versus the strongly typed nature of Rust stru

[2020-05-26 07:15] sunli829 commented on #109
I wonder if it makes sense to implement type-safe defaults.

[2020-05-26 07:16] sunli829 commented on #109
The disadvantage of using unwrap_or to implement the default value is that you cannot see it in introspection.

[2020-05-26 07:22] sunli829 commented on #109
Maybe I can support type-safe defaults, but to support introspection, I need to add an `InputValueType::to_json` function.

[2020-05-26 07:24] sunli829 commented on #109
[code]

[2020-05-26 07:25] IcanDivideBy0 commented on #109
wait, introspection contains default values ???

[2020-05-26 07:25] mwilliammyers commented on #109
While I agree with the sentiment, if clients are actually consuming an API, they *must* be able to view the default arguments in the docs etc. (via introspection), otherwise it could lead to some very unexpected behavior.

[2020-05-26 07:25] sunli829 commented on #109
How does this feel? @IcanDivideBy0  @mwilliammyers

[2020-05-26 07:25] sunli829 commented on #109
Yes. 😂

[2020-05-26 07:25] IcanDivideBy0 commented on #109
Oooh, that make sense now :D

[2020-05-26 07:26] mwilliammyers commented on #109
@sunli829 can you support expressions/raw tokens instead of strings?

[2020-05-26 07:28] mwilliammyers commented on #109
something like this:

[code]

[2020-05-26 07:31] sunli829 commented on #109
This is not rust's standard syntax and cannot be formatted with rustfmt, which is unacceptable. 🙁

[code]

[2020-05-26 07:34] mwilliammyers commented on #109
I have never tried structs but rustfmt handles other raw tokens just fine... I use some other libraries that do it that way (https://github.com/idanarye/rust-typed-builder comes to mind)

[2020-05-26 07:34] sunli829 commented on #109
[code]

[2020-05-26 07:37] mwilliammyers commented on #109
What about:
[code]

[2020-05-26 07:38] mwilliammyers commented on #109
To be clear, it's actually `#[arg(default = "abc")]` etc., right?

[2020-05-26 07:42] sunli829 commented on #109
This can be done without compromising rustfmt while also having type safety.

[2020-05-26 07:43] mwilliammyers commented on #109
Would that also work with free-standing functions?

[code]

[2020-05-26 07:44] sunli829 commented on #109
Yes.

[2020-05-26 07:45] mwilliammyers commented on #109
Awesome! You have been very quick to respond and even implement features!

Thanks!

Exciting project!

[2020-05-26 07:46] sunli829 commented on #109
I'm going to do this now, and I think type-safe defaults are important. 😁

[2020-05-26 10:03] ruseinov opened #110 "Having trouble using std::rc::Rc values within a Mutation object."
Here's an example:

[code]

[code]

The Object macro on MutationRoot
[code]
Would throw an error:

[code]
and also
[code]
For the result of the `add` operation.

For the record: I'm not trying to pass the ipfs_client around, I instantiate it when it's needed, get a result and throw it away.

[2020-05-26 10:18] ruseinov commented on #110
I can't help but wonder why Rc is used there anyway as the library provides async api, I guess my best bet is to fork this and introduce an `Arc` instead. But if you have other suggestions - that'd be much appreciated!

[2020-05-26 10:18] #110 closed

[2020-05-26 10:31] ruseinov commented on #110
After digging deeper it seems like the library I mentioned is using `awc::Client`, which is always an `Rc`.

[2020-05-26 10:38] sunli829 commented on #110
Don't use `awc`, it is based on `actix_rt`, all its Future is `!Send`, because it is based on single-threaded runtime.

[2020-05-26 10:39] sunli829 commented on #110
I do not recommend the use of `actix`, which is incompatible with other asynchronous ecology.

[2020-05-26 10:40] nicolaiunrein commented on #87
I used the `Logger` and it works Ok for now. I would like to add a flag to enable/disable introspection queries as they are very verbose and litter the logs. I am just not sure what should be the default. Any suggestions? I tend to have them disabled by default and have a flag `include_introspection`

[2020-05-26 11:12] ruseinov commented on #110
Yeah, I have figured as much. Learned the hard way:)

[2020-05-26 11:45] sunli829 commented on #87
The `ResolveInfo` parameter of `Extension::resolve_start` can get the query path, and we can use it to filter out `root .__ schema`.
But `Extension::parse_start` does not have this information, so the introspection query will still display this log.

[2020-05-26 12:21] sunli829 opened #111 "Implement type-safe default value definition for InputValue."
[code]

[2020-05-26 12:22] sunli829 commented on #109
I created a new issue. #111

[2020-05-26 12:22] #109 closed

[2020-05-26 12:45] sunli829 commented on #111
This feature has been completed. 😁

[2020-05-26 12:55] nicolaiunrein commented on #87
We could pass the source and the parsed document to `parse_end` , filter and log the original query. This will only log after parsing but errors during parsing get logged anyway.

[2020-05-26 13:06] sunli829 commented on #87
I am thinking about how to configure this filter.

[2020-05-26 13:51] ruseinov commented on #110
I ended up using hyper, which works nicely with my actix-web runtime. Works like a charm now! I did not realize initially that the actix feature of the lib referred to actix actor framework.

[2020-05-26 16:34] Amareis opened #112 "Interface fields name camelCasing"
[code]

And in resulting scheme interface field became camelCased:
[code]

There is no any compilation error nor way to disable name transformation.

[2020-05-26 16:39] Amareis commented on #112
I think interface fields should not be transformed, since it's already strings, so if I want to make it camelCased, I can just wrote it. Or maybe add different argument to `field` attribute for disabling it.

[2020-05-26 16:40] sunli829 commented on #112
Let me think about how to solve it.

[2020-05-26 16:44] sunli829 commented on #112
I'll add an alias field, because the interface query is forwarded via name and must be the same as the function name of the corresponding instance.

I'll do it tomorrow. I'm ready for bed now. 😊

[2020-05-26 16:48] Amareis commented on #112
May be also add disabling name mangling as a crate feature? I think it will be handy for projects with snake_case naming.

[2020-05-26 20:22] kevinschoonover opened #113 "Compilation trouble with StringMinLength validator"
I have been messing around with the `StringMinLength` validator and have been having compilation errors using the `warp-starwars` example. I changed just a random `#[field()]` macro to include validators and saw the following compilation error:
[code]

I attempt to change it to a string to appease the compiler and see:
[code]

I tried the example validator from [the documentation](https://async-gr

[2020-05-26 22:04] nicolaiunrein commented on #84
I just discovered the [cargo-workspaces](https://crates.io/crates/cargo-workspaces) crate. It is made by the developer of clap and is inspired by lerna. I haven’t had a chance to look into it but it looks interesting and might help in our case. Does anyone have experience with it?

[2020-05-26 22:24] phated commented on #84
@nicolaiunrein that looks really great. I want to try using it here.

[2020-05-26 22:26] nicolaiunrein commented on #113
Have you tried to pass in the arguments as strin literals? like `StringMinLength(length = "6")`. I am on mobile phone right now and can’t test but that is what your error is saying 😆 and what’s done in the documentation.

[2020-05-27 00:16] kevinschoonover commented on #113
The second error is my attempt at making it a string literal using the follow line of code:
[code]

I also just copy and pasted the suggested line and got the same error.

[2020-05-27 01:32] sunli829 commented on #113
This is a bug, and I am solving it.

[2020-05-27 01:38] sunli829 commented on #113
This is a bug, and I'm working on it.
Changing the parameter 6 to 6usize can be compiled, and the next version will remove this restriction.

[code]

[2020-05-27 01:51] #111 closed

[2020-05-27 01:55] kevinschoonover commented on #113
Perfect, thank you so much! If there is some code I can contribute such as extra tests please let me know.

[2020-05-27 02:04] sunli829 commented on #113
There are no available tests for InputValidators, which is why this bug has not been discovered. It would be great if you could help add some!

Add these tests here:
https://github.com/async-graphql/async-graphql/blob/master/tests/input_validators.rs

Thank you very much! 😁

[2020-05-27 02:13] kevinschoonover commented on #113
I'll try to take a look at it this week. How in-depth are you hoping?

[2020-05-27 02:22] sunli829 commented on #113
I want to be able to test each validator to see if it works. 😁

[2020-05-27 02:24] sunli829 commented on #113
The input value validator can be applied to object field parameters, interface field parameters, and input objects.

[2020-05-27 02:42] sunli829 commented on #84
I tried it and it feels pretty good. 😁

[2020-05-27 02:49] sunli829 commented on #113
Async-graphql 1.13.3 already includes this change.

[2020-05-27 02:49] sunli829 commented on #112
Async-graphql 1.13.3 already includes this change.

[2020-05-27 02:51] sunli829 commented on #109
Async-graphql 1.13.3 already includes this change.

[2020-05-27 02:52] sunli829 commented on #112
Here is the test code:

https://github.com/async-graphql/async-graphql/blob/afb2061392f5f54568a06ba464ac02593af08ee4/tests/interface.rs#L280

[2020-05-27 02:55] Amareis commented on #112
Oh, you really awesome! Thanks you! I'll test it now.

[2020-05-27 03:01] sunli829 commented on #87
How about this one?

[code]

[2020-05-27 03:10] Amareis commented on #112
Yep, it works. Maybe it should be mirrored in docs?

[2020-05-27 03:17] sunli829 commented on #112
Can you help update the book? I will translate it into Chinese later. 😁

[2020-05-27 04:07] Amareis commented on #112
Ok, I can, but later. Currently I try to check performance of different server libraries for our production app. Can I contact you at email to discuss some questions about it?

[2020-05-27 04:19] sunli829 commented on #112
Yes.

[2020-05-27 06:42] sync opened #114 "Bug with query fragment"
### with the following query:

[code]

### I am expected to get this back

[code]

But instead i get this back

[code]

`testAccount` is missing

[2020-05-27 06:45] sync commented on #114
### same issue with:

[code]

[2020-05-27 06:47] sync commented on #114
Basically last fragment wins, for example this works:

[code]

[2020-05-27 07:07] sunli829 commented on #114
I am solving this bug. 😁

[2020-05-27 07:08] sync commented on #114
amazing 💯

[2020-05-27 07:51] sunli829 commented on #114
I fixed this bug, please upgrade to `1.13.4`.

[2020-05-27 08:05] IcanDivideBy0 opened #115 "Allow to differentiate between null and undefined"
Let's say I have a task object with an optional deadline
[code]

Currently with my JS server I can update the task with some mutation:
[code]

The gql variable `$deadline` can takes 3 different types of values:
* a Date, which update the deadline
* `undefined`, which do not modify the deadline
* `null`, which clears the deadline

I can't find  a way to reproduce this with async_graphql, does anyon

[2020-05-27 08:11] sync commented on #114
can confirm it's working thank you

[2020-05-27 08:11] #114 closed

[2020-05-27 08:56] rkudryashov opened #116 "Federation doesn't work"
In the latest versions `_service.sdl` can not be queried:

<img width="757" alt="1" src="https://user-images.githubusercontent.com/37952224/82998756-c730b380-a010-11ea-97ed-2ab935274321.png">

Repro-project: https://github.com/rkudryashov/async-graphql-reproducer

[2020-05-27 09:15] sunli829 commented on #115
`Option<Option<DateTime>>`, is this ok? 😁

[2020-05-27 09:18] sunli829 commented on #116
Just a moment, I'm looking.

[2020-05-27 10:35] sunli829 commented on #116
Please upgrade to `1.13.5`.

The custom scalar definition has changed and needs to be modified as follows.

[code]

[2020-05-27 14:04] rkudryashov commented on #116
Thanks, after version upgrade I was exactly looking for how to do it

[2020-05-27 14:04] #116 closed

[2020-05-27 15:52] mwilliammyers commented on #115
Just to be clear:
- `None` -> `undefined`
- `Some(None)` -> `null`
- `Some(Some(x))` -> `x`

How would this look in graphql? Just an optional `DateTime`?

[2020-05-27 15:55] phated commented on #115
Does graphql actually allow undefined? I vaguely remember only seeing null in the spec.

[2020-05-27 15:59] mwilliammyers commented on #115
Don’t think so, http://spec.graphql.org/June2018/#sec-Value-Completion, but I know at least the Apollo Client/Server (in JS/node/TS) differentiate between null and undefined...

[2020-05-27 16:08] sunli829 commented on #115
I was wrong. Graphql doesn't support this type.😂

[2020-05-27 16:13] mwilliammyers commented on #115
Waiiit a second, that won’t work because if a client passes `null` serde will treat that as `None` for the outer `Option`, which means `undefined` in our case, but we want it to mean `Some(None)` (null)

[2020-05-27 16:17] sunli829 commented on #115
I think this can only add one parameter.

[2020-05-27 16:25] sunli829 commented on #115
I'm thinking about adding something like this.

https://gqlgen.com/reference/changesets/

[2020-05-27 17:25] mwilliammyers opened #117 "Breaking change (semver adherance) policy?"
It seems like breaking changes are being released and the crate is `>1.0.0`.

I am totally fine with breaking changes (and really appreciate the fast paced work and feature releases) but in accordance with [semantic versioning](https://semver.org/) (which the Rust community abides by), there should never be any breaking changes without a major version bump.

I am not entirely sure what to do about

[2020-05-27 17:31] phated commented on #117
You are correct that this project doesn't currently abide by semver. I was just having this discussion with a friend that wants to use the project, but is uncomfortable that it doesn't version that way.

I don't think we need to yank versions, but we should add a big disclaimer to the README and documentation that <2.0.0 is unstable and that we will adopt semver after 2.0.0

This project got very

[2020-05-27 17:50] mwilliammyers commented on #117
100% agree! Many thanks to @sunli829 👏

That sounds like a good plan, iff:
- We are careful about when we release 2.0.0
- Try to follow semver under 1.0.0 (i.e. pretend the leading 1 isn't there and only release breaking changes with minor version bumps (not patches))
- Make the disclaimer *very* prominent; the first thing I noticed about this project was that it was already at 1.0.0, which seemed

[2020-05-27 17:57] phated commented on #117
When you suggest yanking, I assume you want us to rewrite the git history to change all 1.0 versions to 0.x, which would be a huge hassle and slow the project down considerably.

[2020-05-27 18:01] mwilliammyers commented on #117
I mean using [`cargo yank`] to yank versions from crates.io (and maybe removing a handful of git tags). The git history can stay how it is. That might be a little confusing to developers who are reading really old commit messages but far less confusing for users of the library (which are more important in my opinion :))

[2020-05-27 18:16] phated commented on #117
How does someone continue *using* the package at yanked versions? Cargo seems to only resolve yanked versions for other published crates. My application uses this project and I won't have a version to use.

I think you are optimizing for the case where people don't understand the compiler. I have been able to upgrade my project very quickly when doing a version upgrade. 🤔

[2020-05-27 18:46] phated commented on #117
@mwilliammyers I completely agree.

I am just trying to outline the amount of work required to drop the `1.x` as you are suggesting. Essentially, we'd need to rewrite all of the history to publish those versions to the `0.x` line, then we'd never be able to use `1.x` versioning ever again and would need to go from `0.x` to `2.x`.

Since this has already happened, I think we just contain the proble

[2020-05-27 18:52] mwilliammyers commented on #117
I forgot about the fact that we couldn't use `1.1.x` again, so we would have to go straight to `1.2.x`.

Would we need to rewrite the history? Can't we just `cargo publish 0.14.0` or whatever, remove the git tags and then continue as normal with `0.14.0` up to `1.0.0` and then skip to `1.2.x`?

If it really would be a lot of work, then we can just add a prominent disclaimer to the README...

[2020-05-27 18:52] phated commented on #115
@sunli829 I'm not sure I understand why you would use "changesets"

I wonder if @IcanDivideBy0's mutation is just too generic. My gut feeling here would be that `setDeadline` should be a separate mutation than `updateTaskTitle`, but I'm unsure.

[2020-05-27 18:55] phated commented on #117
We are actually far past `1.1.x` because we are already at `1.13.x` so we would have to throw away the entire `1.x` versioning space.

I'm pretty sure cargo publish uses the versions in the manifest, so we'd need to rewrite all of those.

I'll work on the disclaimer later today.

[2020-05-27 18:58] mwilliammyers commented on #117
haha my bad, I was thinking we were at `1.1.x` for some reason when I wrote that.

Sounds, good!

[2020-05-27 20:44] kevinschoonover commented on #113
Can an interface be an input value for a Query/Mutation? I have some basic tests for StringMinLength running on my fork and I am struggling conceptually with how to test the Interface.

What I have set up looks like:
[code]

which returns the error:
[code]

When you get the chance, can you give me some pointers on how to go about testing this particular aspect or if it is testable from this angle?

[2020-05-27 20:46] phated commented on #113
@kevinschoonover funny you ask that. I was just discussing with another person writing a blog post about interfaces and he pointed out that interfaces are not allowed to exist on Input types in graphql.

[2020-05-27 20:50] nicolaiunrein commented on #115
maybe one could construct something with `#[serde(deny_unknown_fields)]`

[2020-05-27 23:54] phated opened #121 "UUID doesn't work with SimpleObject?"
@sunli829 I'm adopting `new-datasource` into my project and I just noticed that `Uuid` doesn't work with the `SimpleObject` macro. Did this happen recently?

This is the compiler error I am seeing.
[code]

[2020-05-27 23:59] sunli829 commented on #121
I've solved this problem on the main branch, and now I'm going to merge the `new-datasource`.

[2020-05-28 00:03] #112 closed

[2020-05-28 00:06] sunli829 commented on #113
This is how the interface field parameter validator is defined.

[code]

[2020-05-28 00:09] sunli829 commented on #121
I have merged, `uuid` dependency was once an option, now it is a required option, but some `#[cfg(feature = "uuid")]` is not removed.

[2020-05-28 00:18] phated commented on #121
I thought that might be the problem. My project is compiling now.

[2020-05-28 00:18] #121 closed

[2020-05-28 00:22] mwilliammyers commented on #121
@sunli829 @phated should `uuid` be required?

[2020-05-28 00:24] sunli829 commented on #121
I used `uuid` in `Logger`. 😁

[2020-05-28 00:35] sunli829 commented on #106
I released version 1.14.0, and both Connection and Edge were able to extend the fields, which depended on the new DataSource implementation, so this is a breaking change again. 😂

[2020-05-28 00:54] sunli829 opened #122 "Failed to compile async-graphql in rust 1.45 nightly"
I have only discovered this problem now, causing `docs.rs` to not display the project documentation properly.😡

[2020-05-28 02:09] sunli829 commented on #122
This is definitely a compiler bug, and can easily occur when procedural macros are used with macros. I can only solve this problem by removing the macro code.

[2020-05-28 03:00] sunli829 commented on #91
I completed part of it, but I think it is not easy to use, and a lot of configuration parameters need to be added. So I'm wondering whether to continue? 😂

[2020-05-28 03:04] sunli829 commented on #117
I need to iterate quickly, and I can't stand bad APIs. This is why `async-graphql` was created instead of perfecting `juniper`. 😁

[2020-05-28 03:25] mwilliammyers commented on #117
Yeah. I definitely don’t want to slow you down! Keep up the good work! Thanks.

[2020-05-28 03:34] sunli829 commented on #115
The first field `value1` is nested `Option`, so I can handle `undefined`, how does this look?

# Input object definition

[code]

# GraphQL query

[code]

[2020-05-28 03:48] phated commented on #115
I don't like that. If you want to support `undefined` even though the spec doesn't allow it, I think we should add a new type that must be used.

[2020-05-28 04:11] sunli829 commented on #115
Let's add a `MaybeUndefined<T>` type?

[2020-05-28 04:13] sunli829 commented on #115
The current implementation does not conflict with `StreamDataSource` and can be easily added again. @IcanDivideBy0

[2020-05-28 04:26] sunli829 commented on #115
It's a big change, but it's not a breaking change.

[2020-05-28 04:42] mwilliammyers commented on #122
Is this the same issue? https://github.com/rust-lang/rust/issues/72545

It might be in the process of being reverted?

[2020-05-28 05:24] sunli829 commented on #122
Yes, that's it. 😁

[2020-05-28 05:55] sunli829 commented on #115
I finished this. 😁

https://github.com/async-graphql/async-graphql/blob/8afe5427e109f9987ed9ed0ab40024777e461165/tests/maybe_undefined.rs#L4

[2020-05-28 12:08] Amareis commented on #112
Added docs, PR in proccess.

BTW, `method` name is someway confusing, I think, may be in future it should be swapped? `method` is rust method name and `name` is "graphql" name, for consistency with `Object` fields.

[2020-05-28 12:14] ruseinov commented on #91
I'd say that the ability to generate basic scaffolding for Input Objects, Mutations/Queries/Subscriptions and map known scalars like Upload is a really good start as it's gonna save some typing for sure, even if it needs some manual intervention later for the gql models to map properly to the database, for example.

Code-generated solutions always had their limitations, but it could be a good plac

[2020-05-28 13:43] sunli829 commented on #112
- When the `name` and `method` exist together, the `name` is the `graphql name` and the `method` is the `rust method name`.

- When only `name` exists, `name.to_camel_case()` is the `graphql name` and the `name` is the `rust method name`.

[2020-05-28 13:55] sunli829 commented on #91
I've used `gqlgen`, but I don't think it works well. It requires too much configuration.

[2020-05-28 14:58] #122 closed

[2020-05-28 15:16] Amareis commented on #112
Yep, that's really confusing :) May be there is better solution for 2.0, but currently I just update the docs.

[2020-05-28 16:01] #115 closed

[2020-05-28 16:06] #106 closed

[2020-05-28 16:06] #117 closed

[2020-05-28 16:07] #113 closed

[2020-05-28 16:08] #66 closed

[2020-05-28 17:19] sarendsen commented on #91
I find https://lighthouse-php.com/ has a great implementation of schema first.
Directives can be really powerful used correctly.

[2020-05-28 17:34] phated opened #125 "connection.append operates on Results"
I'm refactoring some of my code for the new DataSource and I noticed that the Iterator *must* contain `FieldResult<Edge<..>>`.

Why do we do that? In my code, I'm able to generate the `Edge` type without using a `Result`. I think this might be required to have fallible Cursors, is that correct?

[2020-05-28 17:35] ruseinov commented on #91
Not only that, but also when you need to pass some things around like database and guards/validators/auth - it becomes intolerable as there's too much plumbing involved. I don't really like it for that reason and the fact that it generates thousands of lines of code.

[2020-05-28 17:36] phated commented on #103
I should have my implementation pushed "soon" using the new DataSource. We can use that to inform if DBDataSource is helpful.

[2020-05-28 20:48] phated commented on #84
@sunli829 it seems you are using that tool to make releases now. Is there anything else you'd like to do here? I'm happy to work on build process/CI/CD stuff 😄

[2020-05-29 00:02] sunli829 commented on #84
This tool is quite easy to use, but I do n’t know how to use it in CI, so it would be great if you could help me! 😁

[2020-05-29 01:29] sunli829 commented on #125
I added `try_append` and `try_append_stream` functions. 😁

[2020-05-29 01:29] sunli829 commented on #103
Great, look forward to it! 😁

[2020-05-29 02:54] sunli829 commented on #84
Maybe we can execute `cargo workspaces version patch -y` after the code is merged into the release branch, then cargo publish?

[2020-05-29 06:59] nicolaiunrein commented on #87
Thanks for the change. In terms of the above filter: what does it match against? It seems practical but a little un-rustic to me. Could we instead derive a tag on the handlers like `#[log(include)]`?

[2020-05-29 10:01] ruseinov commented on #103
Curious where to look at it once pushed!

[2020-05-29 10:03] ruseinov commented on #87
That's a cool approach! It might be really helpful to also be able to specify these in a config file of sorts, similar to how you would configure log4j, for example. Could be a yaml/toml/whatever. That's nice, because one does not always want to change code, but instead configure logging externally depending on the deployment environment.

[2020-05-29 16:13] sunli829 commented on #87
I have now filtered the introspection query, because this is the easiest to do. 😀
Maybe we can use environment variables as the filtering configuration of logs.

[2020-05-31 02:23] mwilliammyers opened #126 "Incorrect variable substitution"
This mutation **fails**—but works with other graphql libraries (Rust and NodeJs):
[code]

variables:
[code]

<br>

But if I supply the complete variables/what the mutation expects, it **works**:
[code]
[code]

<br>
<br>

Am I missing something?

[2020-05-31 03:24] sunli829 commented on #126
What is the error message?

[2020-05-31 03:46] mwilliammyers commented on #126
Haha, I suppose that would help...

Yep:
[code]

It didn't even make it to my scalar `parse()` method...

[2020-05-31 03:47] sunli829 commented on #126
I fixed it. 🙃

[2020-05-31 04:01] sunli829 commented on #126
Please upgrade to `1.14.8`.

[2020-05-31 04:14] mwilliammyers commented on #126
Thank you! You are always so fast! 💨

[2020-05-31 04:51] mwilliammyers commented on #126
Hmmm, now I am getting:
[code]

[2020-05-31 07:00] sunli829 commented on #126
What is your query?

[2020-05-31 07:12] sunli829 commented on #126
This should be the parser’s problem.

[2020-05-31 07:18] mwilliammyers commented on #126
Same query:

[code]

I also tried:

[code]

And a few others

[2020-05-31 07:24] sunli829 commented on #126
What is the data that you POST?

[2020-05-31 07:27] sunli829 commented on #126
It should be a json.

[code]

https://docs.rs/async-graphql/1.14.8/async_graphql/http/struct.GQLRequest.html

[2020-05-31 07:28] mwilliammyers commented on #126
[code]

[2020-05-31 07:35] mwilliammyers commented on #126
That same mutation works correctly in this format (so I know its not a JSON thing):
[code]
variables:
[code]

[2020-05-31 07:48] sunli829 commented on #126
This error is caused by parsing the request, `IntoQueryBuilder::into_query_builder_opts`.
I can't reproduce the problem yet.

[2020-05-31 08:10] mwilliammyers commented on #126
It happens for a lot of my queries; I can try to post more.

I also have defaults in my schema of scalar JSON  == `{}`, if that helps. That seems to throw off graphql-playground and other editors.

[2020-05-31 09:51] sunli829 commented on #126
Can you make a minimum test case? 😊

[2020-05-31 13:50] sunli829 commented on #126
Do you think this problem could be caused by JSON?

[2020-05-31 13:59] sunli829 commented on #126
`mutation.createCalls.calls` is JSON?

[code]

[2020-05-31 17:05] elertan opened #127 "async-graphql-actix authorization?"
I haven't seen any authorization related documentation for this crate yet. So this was my attempt for solving this:

[code]

However this does not work, as the GQLResponse is its own special type, but the return type has to be the same for both. That said, if this were to work, then there also would need to be a way to set the authorization data in the Context so it can be used.

How do I go about

[2020-05-31 17:09] elertan commented on #127
Nevermind, I found the example repo https://github.com/async-graphql/examples/tree/master/actix-web/token-from-header

Would be great to add this to the book though!

[2020-05-31 17:28] mwilliammyers commented on #126
This mutation (with valid JSON)
[code]

gives me the same error:
[code]

<br>

But `mutation.createCalls.calls` should **not** be valid JSON—that is invalid graphql:
[code]

[2020-05-31 17:31] elertan commented on #127
I'm reopening this issue because this still does not cover a way to respond with a bad request in case the header is malformed for some reason. Is there a way to do so?

[2020-05-31 17:41] mwilliammyers commented on #126
Yep!

[2020-05-31 18:00] mwilliammyers commented on #126
So it only happens if you run the mutation against a server, not if you just the library directly... working on an example

[2020-05-31 18:26] #126 closed

[2020-05-31 19:01] phated commented on #125
Upgraded and this seems to be working in my project.

[2020-05-31 19:01] #125 closed

[2020-06-01 00:32] neshanthan opened #129 "Field guard enhancement - Post condition guard after resolving field"
The existing guard implementation is a precondition for resolving the field.

It will be great if we can also support a **_postcondition guard_** after resolving the field.

This will allow for the guard to be used in scenarios where the resolved field has the data that the guard will evaluate against.

The syntax below will also allow for masking of data within the guard by being able to manipula

[2020-06-01 01:35] sunli829 commented on #129
Do you want to use this feature to avoid repeated database queries?

[2020-06-01 01:40] sunli829 commented on #126
Tell me if you have any questions. 😁

[2020-06-01 02:07] sunli829 commented on #127
HttpResponse and GQLResponse are different types, and solving this problem is simple. `GQLResponse` implements `actix_web::Responder`, so you can call` Responder::respond_to` to create a `HttpResponse`. The following is the example code.

[code]

[2020-06-01 05:47] neshanthan commented on #129
Yes that is the main reason, and it will also allow for generic guards like the trait example (this can also be achieved with the current guard but the code will be more complex).

This feature is implemented in the JavaScript library [GraphQL Shield](https://github.com/maticzav/graphql-shield) under [Fragments](https://github.com/maticzav/graphql-shield#fragments). It is one that I usually find q

[2020-06-01 08:55] rkudryashov opened #131 "Add ability to exclude Subscription from _service.sdl"
If I add just empty Subscription to the service:

[code]

Apollo Server will complain that:

[code]

(to test it `cd apollo-server`, `npm run start-gateway`)

This is a well-known issue: https://github.com/apollographql/apollo-server/issues/3357

My question is is it possible to use flag or something other to have an ability to exclude Subscription type definition from `_service.sdl` query. If so,

[2020-06-01 10:06] Amareis opened #132 "Discussion: Improve performance"
So, basically, async-graphql is already a great library, but it's performance isn't so great yet. I think some performance focus it's pretty good fit for rust GraphQL library :)

We had a discussion about it with @sunli829 via email and highlight some possible weak points.

Some solutions:

But, of course,

We already have some benchmarks at https://github.com/async-graphql/benchmark but it should

[2020-06-01 10:58] Amareis commented on #132
Currently I improves existing benchmarks, and for better coverage I need to understand main query processing phases. As I see, there is:

1. Parse a query
2. Validation against the schema
3. Recursive fields resolving

And extensions hooks everywhere, of course. Does it seems correct?

[2020-06-01 11:21] sunli829 commented on #132
Yes, exactly! 😃

[2020-06-01 11:22] sunli829 commented on #132
`serde_json::Value` is also quite slow, too much memory allocation, we may have to implement one ourselves.

[2020-06-01 11:44] sunli829 commented on #131
Please upgrade to `1.14.10`.

[2020-06-01 11:46] sunli829 commented on #129
I'll think about it.

[2020-06-01 12:10] Amareis commented on #132
Oh, yep, if we consider JSON string as final result, there is

4. Serialization to string

But i doubt we can make faster serialization than serde :)

[2020-06-01 12:25] #131 closed

[2020-06-01 13:47] rkudryashov opened #136 "Server doesn't respond to _service.sdl query if it doesn't contain any #[entity] fn"
It is a possible situation when a server just includes isolated domain area which is not crossed with entities of any other service. For example, there may be two services with different domains, and it is only needed to create a single endpoint through which they can be accessed.

Repro-project: https://github.com/rkudryashov/async-graphql-reproducer

It contains such query:

[code]

If you comme

[2020-06-01 13:57] rkudryashov commented on #136
I have this case in my pet-project. Let's suppose similar example which includes City service, Country service and Auth service. First contains City entity, second contains Country entity with `cities` field, and third contains only User entity with `createUser` and `signIn` methods.

[2020-06-01 14:10] Amareis commented on #132
Ok, there is some initial numbers, at my local machine. We also need to expose some methods to bench validation and resolve phases.

Serialize is not part of run, and wrapping results in serde_json::Value currently is part of resolve phase, not a serialize.

[code]

[2020-06-01 14:18] Amareis commented on #132
Should we include benchmarks into main repo? It will be easier to change thing & measure it.

[2020-06-01 14:22] sunli829 commented on #136
Well, I'm going to add the option that if there's no entity you can manually open federation support, right?😃

[2020-06-01 14:28] sunli829 commented on #132
Well, move it to the main repo, then I will delete the benchmark repo. Tomorrow I will optimize the parser. 😄

[2020-06-01 14:29] rkudryashov commented on #136
Yes, great :)

[2020-06-01 14:49] sunli829 commented on #132
That's great!👏

[2020-06-01 15:16] elertan commented on #127
Sweet. Thanks!

Keep up the good work, loving this library so far.

[2020-06-01 15:16] #127 closed

[2020-06-01 17:34] neshanthan commented on #129
Thank you, I appreciate it.

[2020-06-02 01:03] sunli829 commented on #136
Please upgrade to `1.14.11`.

[2020-06-02 01:40] mwilliammyers commented on #87
How hard would be able to add access to `Context<'_>` inside the logger (and other extensions) and be able to configure logging with it? I want to add a few fields from `.data()` to logs...

[2020-06-02 01:57] sunli829 commented on #87
Let me think about it.

[2020-06-02 08:36] #136 closed

[2020-06-02 08:41] sunli829 commented on #132
I added `gqlgen` benchmark test in `async-graphql-benchmark` and added `jemalloc` memory allocator. `async-graphql` is 40% faster than `gqlgen` on my macbook pro. If we do the optimization ourselves, it may only be a little faster than `jemalloc`. What do you think?

[2020-06-02 08:42] sunli829 commented on #132
I added gqlgen benchmark test in async-graphql-benchmark and added jemalloc memory allocator. async-graphql is 40% faster than gqlgen on my macbook pro. If we do the optimization ourselves, it may only be a little faster than jemalloc. What do you think?

[2020-06-02 08:54] sunli829 commented on #132
# async-graphq/benchmark

## Without jemalloc

[code]

## With jemalloc

[code]

[2020-06-02 09:07] Amareis commented on #132
Oh, that's really good change! I think, it's already can be added to book, as first step.

I try to add our test to benchmark, there is many many objects with simple fields. Also we need some sort of concurrent testing, because throughput can be non linear from rps.

[2020-06-02 09:28] malobre opened #138 "Interface enhancements"
Why are GraphQL interfaces represented by rust enums and not traits ?

This doesn't seems very idiomatic:
[code]

Something like this would be easier to understand:
[code]

Note that the `async_trait` crate is needed as async trait functions are not currently supported.

[2020-06-02 10:38] ruseinov opened #139 "Introduce the ability to supply a header for graphiql aka graphql playground."
Currently it's possible to hit secured graphql endpoints specifying the header value manually via browser html editor:
[code]

It would help a lot if this could be done in a more convenient manner, like so:

[code]

or even

[code]

which would be more generic.

[2020-06-02 10:54] ruseinov commented on #139
I can also contribute this myself if that would be of interest, otherwise I defer to you guys how that api should look.

[2020-06-02 10:55] IcanDivideBy0 commented on #139
Ideally, we should be able to give a complete JSON object that will end up being serialized here https://github.com/async-graphql/async-graphql/blob/d95c0f23b8691f346e683ec78e38499e7a55a810/src/http/playground_source.rs#L540

[2020-06-02 10:59] ruseinov commented on #139
Yeah, that would also work. Just being able to pass anything serializable (struct/hashMap) would do the trick.

[2020-06-02 11:04] IcanDivideBy0 commented on #139
I guess a `serde_json::Value` would be fine:
[code]

[2020-06-02 11:12] ruseinov commented on #139
Yeah, that'd also work, although if the function accepts anything that's serializable - that would include serde_json::Value too with an added benefit of being able to specify your own strongly typed struct and pass it directly to the method. I have no preference here as it's basically an extra line of code to convert a struct to a json value, just seems more eloquent to use generics there.

[2020-06-02 12:34] ruseinov opened #140 "Defaults for Json<> wrapped values."
I have managed to do this to cater for the need to supply defaults:
[code]

But it would be nice if I could use `#[arg(default)]` instead and it would magically assemble the above and make it optional, similar to `skip`.

That would reduce the boilerplate amount and the extra `Option` wrapper could go as well.

[2020-06-02 12:48] sunli829 commented on #139
Playground is a testing environment, don't you notice that there is a place to set HTTP headers in the lower left corner?

[2020-06-02 13:02] sunli829 commented on #140
I added `Default` derive to the `Json` type.

**BTW: If an input value has a default value, it should not be optional, otherwise it looks very strange.**

[2020-06-02 13:04] sunli829 commented on #138
Because of procedural macro limitations, I have no way of knowing that `User` implements `Node`.

[2020-06-02 13:05] ruseinov commented on #139
It would be way more convenient to be able to secure the endpoint and pass whatever configuration/jwt token from Rust code rather than manually supplying it each time. If you google this - the issue is known and discussed in a variety if graphql implementation repos.

It is indeed a testing environment, but that does not mean it should be inconvenient to use. I have seen this change done in some c

[2020-06-02 13:08] Amareis commented on #132
Okay, so I added new benchmark, and there is its numbers:

[code]

[2020-06-02 13:20] sunli829 commented on #139
Welcome to PR. 😀

[2020-06-02 13:34] Amareis commented on #132
It's sample of hundreds of resolvers per query. There is
(30 chats * 8 fields + 30 chats * 30 messages * 5 fields + 30 chats * 6 users * 11 fields) = 6720 async resolvers. There is not much a memory allocations, so I think it's mostly async resolvers overhead (plus serde Value creation).

With jemalloc there is some improvements, but not so big, as at small queries (about 10%):
[code]

[2020-06-02 13:40] sunli829 commented on #132
Can we add `chat_jemalloc` and `simple_jemalloc`, so that we can compare them easily? If there is a big performance gap, then it means that the bottleneck is in the memory allocation, otherwise it is not.

BTW: `Criterion` doesn't seem to work properly on Windows.

[2020-06-02 13:49] sunli829 commented on #140
Please upgrade to `1.14.12`.

[2020-06-02 14:35] ruseinov commented on #140
I know, but this was not possible without the default derive on JSON. Thanks!

[2020-06-02 14:36] ruseinov commented on #139
Will do!

[2020-06-02 14:54] Amareis commented on #132
Yep, ready.

On both `chat` and `simple` jemalloc reduces time about 10% in comparison with Linux system malloc. I think, your numbers is different because of Windows malloc implementaion is less efficient.

[2020-06-02 15:01] sunli829 commented on #132
I'll try it on Linux tomorrow. Thank you.😄

[2020-06-02 17:05] mwilliammyers commented on #140
Is this true for any custom scalars that implement `Default`?

[2020-06-02 19:42] mwilliammyers opened #143 "Improve connection/edge"
This is a continuation of: https://github.com/async-graphql/async-graphql/issues/106...
Possibly related to: https://github.com/async-graphql/async-graphql/issues/103

I am reading the book/docs/code and it isn't clear if you can create an `async_graphql::connection::Connection` without iterating again (after I deserialize the results)...

Currently I use `serde` attributes etc. to transform the r

[2020-06-02 20:19] ruseinov commented on #140
Any value that has a default should work with ‘ #[arg(default)]’ I assume

[2020-06-02 21:25] ruseinov commented on #140
works like a charm!

[2020-06-02 21:25] #140 closed

[2020-06-02 22:01] phated commented on #138
@sunli829 I've been thinking a lot about this. Could we support Trait interfaces like this:

[code]

If we use 2 separate macros, I think we could use a pattern like is used in https://github.com/hainish/multi-default-trait-impl

Do you think this would work?

[2020-06-02 23:03] sunli829 commented on #138
Actually, this is already implemented in #42, but there are other problems, and I'll keep thinking about this for a few days. 😁

[2020-06-02 23:09] phated commented on #138
@sunli829 please let me know if I can help in any way. This is a feature I would love to have!

[2020-06-02 23:14] sunli829 commented on #143
What you really need is json as the resolver's return value, right?

[2020-06-02 23:27] sunli829 commented on #138
The hardest part is to return an array that implements a particular interface object.

[code]

I think maybe we can solve it in the following way:

[code]

`NodeInterfaceArray` is an array that can hold different types.

[2020-06-02 23:33] sunli829 commented on #138
I'll try again today, and I'll let you know if I need any help.😀 @phated

[2020-06-02 23:33] phated commented on #138
@sunli829 can `Vec< >` not contain an `impl Foo` type?

[2020-06-02 23:34] sunli829 commented on #143
I'm curious why the data you pull out of the database is a json array.

[2020-06-02 23:36] sunli829 commented on #138
No, rust doesn't support this, because impl Foo may have different types and different memory layouts and can't be in the same Vec.

Just like the following does not compile through.

[code]

[2020-06-02 23:40] sunli829 commented on #138
And trait objects lose type information, so they don't work either.

[code]

[2020-06-02 23:46] phated commented on #138
@sunli829 I figured it out! This is the types required:

[code]

https://doc.rust-lang.org/edition-guide/rust-2018/trait-system/dyn-trait-for-trait-objects.html

[2020-06-02 23:51] sunli829 commented on #138
No, the trait object can't solve the problem, it causes the loss of type information.
The problem is more complicated than it looks. 😂

[2020-06-02 23:53] phated commented on #138
I believe you, and I want to understand more completely.

Can you show where the type information is needed and cannot be accessed if you Box it?

[2020-06-02 23:57] sunli829 commented on #138
[code]

You can see how `juniper` defines the interface, which is similar to `async-graphql` but more complex to use.

[2020-06-03 00:01] phated commented on #138
🤔

@sunli829 in your example what happens if we unbox the `dyn Foo` with `*`?

[2020-06-03 00:01] sunli829 commented on #138
The only thing I can think of at this point is to use the following code to solve this problem, and of course, I think the final implementation can look clearer.

[code]

The definition of `NodeInterfaceArray` is similar to `VisitorCons`.

[2020-06-03 00:03] sunli829 commented on #138
`Async-graphql` is type-safe because it is based on rust generics, and trait objects are very much like dynamic types, which are completely incompatible with the existing architecture.

[2020-06-03 00:10] sunli829 commented on #138
If the function inside the trait is not &self, then it cannot be a trait object.
The following code cannot be compiled.

[code]

[2020-06-03 00:14] phated commented on #138
The following code cannot be compiled.

Oh, okay. Your example is the same as: https://doc.rust-lang.org/1.8.0/book/trait-objects.html#object-safety ?

[2020-06-03 00:20] sunli829 commented on #138
Yes. 😄

[2020-06-03 03:14] sunli829 commented on #42
I'll try again.

[2020-06-03 03:38] mwilliammyers commented on #143
I am not entirely sure what I want in terms of an API but, yeah giving you a `serde_json::Value`  with the appropriate structure would work for me... but I am not convinced that is the best way; I think a trait would probably work best.

It is coming from Elasticsearch which is a document/JSON based db... The response looks like this:

[code]

where `sort` is basically just a cursor, `hits` is mor

[2020-06-03 04:01] sunli829 commented on #143
`Elasticsearch Json results` -> `GQLObject` -> `async-graphql` -> `JSON`

You want to simplify it like this, right?

`Elasticsearch Json results` ->`async-graphql` -> `JSON`

[2020-06-03 04:04] sunli829 commented on #143
You want JSON to be an OutputObject, not a scalar, so you can filter the results inside of JSON, right?
[code]

[2020-06-03 04:32] sunli829 commented on #138
I've been trying all morning and I can't make it happen...

Type `Node<MyObjA , Node<MyObjB, Nil>>` doesn't meet the requirements. It's static type.

[code]

[2020-06-03 04:33] sunli829 commented on #138
By far, I think the current interface definition is the best solution.

[2020-06-03 04:33] #42 closed

[2020-06-03 06:52] sunli829 commented on #129
I have added Post Guard. In exchange, I would like you to add the chapter 'Guard' to the English book.  😁

[2020-06-03 06:57] sunli829 commented on #129
Guard can be defined in SimpleObject fields, Object fields and Subscription fields.

https://github.com/async-graphql/async-graphql/blob/master/tests/guard.rs
https://github.com/async-graphql/async-graphql/blob/master/tests/post_guard.rs

[2020-06-03 07:25] neshanthan commented on #129
Thank you so much 😃

That sounds good for me, I will open a PR once I am done.

[2020-06-03 07:27] sunli829 commented on #129
Thank you. 😁

[2020-06-03 07:53] sunli829 commented on #139
@ruseinov Are you going to pass JSON directly to the Playground or the rust type?

[2020-06-03 08:27] ruseinov commented on #139
@sunli829 answering your removed question - I was thinking to pass a rust serializable as it seems like the most generic approach:
1. you can pass json!
2. you can pass a Rust struct with typed complex config
3. you can pass anything else that derives serialize.

[2020-06-03 08:34] sunli829 commented on #139
That's great, I deleted that question because I mixed up headers and variables... 😁

[2020-06-03 08:51] sunli829 commented on #132
The memory allocation performance of the MAC OS is really quite poor...

[2020-06-03 10:56] Amareis commented on #138
Does it possible to split Interface in two parts? First is defining all needed methods as trait and second - is attaching it to some enum?

[code]

[2020-06-03 11:00] Amareis commented on #138
Also this can solve naming issues of interface fields, we can just reuse `field` attribute on trait methods. And trait can even provide default methods implementation, which is really good for reusing code. Under the hood `IntefaceDefinition` can use async-trait and so on.

[2020-06-03 11:17] sunli829 commented on #138
I think it can be done. @Amareis @phated @malobre

[code]

[2020-06-03 11:52] ruseinov commented on #140
I'll post a sample here for others to understand how this could be used. Once we are at a later stage in our project that builds upon async-graphql among other things - I will introduce a repository with some meaningful usage examples extracted from it.
Or if the project goes open-source it's going to be even easier.

There you go:
[code]

[2020-06-03 11:56] sunli829 commented on #138
Need to add a definition to PMChat. 🙁

[code]

[2020-06-03 12:05] Amareis commented on #138
Maybe just attach #[Object] to `impl IChat for PMChat`? If PMChat will be `Object` to, it should work.

[2020-06-03 12:23] sunli829 commented on #138
If the `#[Object]` does not know which interfaces the object implements, the `message` method needs to be implemented twice.

[code]

[2020-06-03 12:24] Amareis commented on #138
Why just don't
[code]
?

[2020-06-03 12:26] sunli829 commented on #138
PMChat also has its own fields.

[2020-06-03 12:27] sunli829 commented on #138
What do you mean?

[code]

[2020-06-03 12:27] Amareis commented on #138
Hmm. `Object` doesn't support multiple impl per type?
[code]

[2020-06-03 12:29] sunli829 commented on #138
This `#[Object]` still doesn't know that PMChat implements IChat.

[code]

[2020-06-03 12:51] sunli829 commented on #138
I'm sure this can be done.

[code]

[2020-06-03 12:53] malobre commented on #138
What about using `Any` ?

[code]

[2020-06-03 12:54] sunli829 commented on #138
No, Any is a trait object.A

[2020-06-03 13:00] sunli829 commented on #138
This is the solution I can think of, but it still has some problems.The final code I generated turned `IChat` into an enum, probably `IChatImpl`, but IChat is still a trait.
It creates a new type that the IDE cannot recognize.
And when the resolver function returns an interface, the interface type is `IChatImpl`.

[code]

[2020-06-03 13:14] Amareis commented on #138
Oh, that's sweet!

I dig into `Object` macro and understood your position. I think way with explicit enum and explicit implementaitions list in main `Object` is good enough. But also if it's possible to use InterfaceImpl it was be great!

[code]

or

[code]

[2020-06-03 13:23] sunli829 commented on #138
The bottom line is that I have to put the trait definition together with what objects support the trait so I can generate the right code.

[2020-06-03 13:27] sunli829 commented on #138
This doesn't support features like Guard, Input Validator, etc., so I still think the existing implementation of function forwarding is the best and the easiest to use.

[2020-06-03 13:30] elertan opened #144 "How to rename a field on a async_graphql::Object?"
I have a situation as shown below:
[code]

I have tried applying `[arg(name="type")]` but that didn't work.

[2020-06-03 13:31] malobre commented on #138
Yes but you can downcast internally and do whatever you need. However this might be a bad idea performance wise.

What about this:
[code]

[2020-06-03 13:35] Amareis commented on #138
Hmm. Why? I think it's totally possible.
[code]

[2020-06-03 13:41] sunli829 commented on #138
In fact, this is no different from enum, I need to know which objects implement Interface. 😀

[2020-06-03 13:46] sunli829 commented on #138
It works, but there is no type safety, and `PMChat` can be compiled, even if it does not implement the fields defined in `IChat`.

[2020-06-03 13:48] sunli829 commented on #144
p
[code]

`#[arg(name="..")]` is use for fields argument.

[2020-06-03 13:49] malobre commented on #138
Ok I see.
Could we create a global variable (with `lazy_static` or similar) and store which object implement which interface there ?

[code]

[2020-06-03 13:49] sunli829 commented on #144
If so, it's a bug and I'll see how it works.

[2020-06-03 13:52] Amareis commented on #138
Hmm. I think it should be checked in InterfaceImpl. It can generate some empty types, which will be just type guards.

[2020-06-03 13:55] sunli829 commented on #144
This is a bug and you don't need to manually change the field name.

[2020-06-03 14:02] sunli829 commented on #138
Yes, that's easy, but that's runtime information, and generating the code needs to be done at compile time.

[2020-06-03 14:04] sunli829 commented on #138
You mean there is no real IChat? It's just a type guards, so let me think about that first.

[2020-06-03 14:11] sunli829 commented on #144
`syn` gives me `rType` and doesn't tell me it's actually an `r#type`, you have to rename the field manually.

[2020-06-03 14:23] Amareis commented on #138
No-no, real IChat keep going. There is simple chain: `ObjectInterfaceImpl` generate phatom type, which implements `ObjectType` for given trait implementation. `Object(impl(IChat))` generate code, which a) calls that phantom type to resolve trait fields and b) checks that PMChat implements trait IChat (e.g., just creates unused function `fn check(a: PMChat) {&a as &IChat}).

[2020-06-03 14:25] malobre commented on #138
I meant doing it at compile time during macro-expansion.
Unfortunately this doesn't seem possible for now, see https://github.com/rust-lang/rust/issues/44034.

[2020-06-03 14:29] sunli829 commented on #138
Can you provide a minimum implementation after expanding procedural macros? 😂

[2020-06-03 14:35] Amareis commented on #138
Uh-oh, let's try :)

[2020-06-03 14:36] sunli829 commented on #138
Yes. 😃

[2020-06-03 14:51] elertan commented on #144
That's a bummer, that's lost information. But renaming it isn't too much of a hassle either. Thanks for taking a look 👍

[2020-06-03 14:51] #144 closed

[2020-06-03 15:03] rkudryashov opened #145 "Question: combine SimpleObject and Object behavior for GraphQL type"
Would it be useful to have ability to implement GraphQL type like that:

[code]
?

This would allow to reduce boilerplate code needed for accessors of first two fields.

[2020-06-03 15:06] rkudryashov commented on #145
Duplicate https://github.com/async-graphql/async-graphql/issues/35

[2020-06-03 15:06] #145 closed

[2020-06-03 15:54] Amareis commented on #138
Ok, there is simple standalone (and sync) example. It's completely type safe (rust check traits implementations for us) and full static, there is no single dynamic dispatching. It can be easily combined with `field` macro attribute in interface trait definition. I don't know if it possible to combine with traits default methods combinations (it's definitely possible with https://stackoverflow.com/

[2020-06-03 18:13] Amareis commented on #138
Also, I think this approach can be used to collect fields from SimpleObject too (#35).

[2020-06-03 18:57] Amareis commented on #138
Even more, I feel that if push this approach to the limit, we can get rid off async-trait completely! But that's not for sure.

[2020-06-03 20:32] Amareis commented on #132
After some digging, I saw that we really can do sync resolvers - functions or fields. That if mostly get rid of `resolve_field` method? Then we can generate efficient `resolve` method for user object types, which will use futures only for async fields and just collect values for other fields. It shouldn't be really heavy change (`resolve_field` have only 14 matches in whole codebase), but still ca

[2020-06-03 22:30] mwilliammyers commented on #143
Hmmm. I mean that would work but I don't know if that is a good API for `Connection`, or were you thinking that the API for `Connection` would stay the same and I could use your proposed solution as an alternative to the existing API?

[2020-06-04 01:32] sunli829 commented on #143
This is easy to implement, but the result is introspection where you can't see the data in Json, but you can query it.

[code]

[2020-06-04 01:38] sunli829 commented on #138
It seems feasible, but I don't think it's any better than the current implementation. 😁

[2020-06-04 01:40] sunli829 commented on #132
In fact, I have tried this, but the performance improvement is not big.

[2020-06-04 01:42] sunli829 commented on #132
Can you do a performance test with Juniper 0.14.2 because it only supports synchronization?

[2020-06-04 04:41] sunli829 commented on #132
Now `async-graphql` isn't really slow, but it can be faster.
But database queries are the real bottleneck, aren't they? The performance loss of `async-graphql` is negligible compared to database queries.

[2020-06-04 05:22] sunli829 commented on #132
I've tested it and it's true that synchronization is fast, but with the complexity of the business, it's hard for synchronized code to take full advantage of multicore CPU.

[2020-06-04 07:26] mwilliammyers commented on #143
That would be different form the `Json<T>` scalar, correct?

[2020-06-04 07:37] sunli829 commented on #143
Yeah, this is an ObjectType, not a scalar.

[2020-06-04 07:38] sunli829 commented on #143
But introspection doesn't see the fields in this object, which looks rather strange.

[2020-06-04 07:39] sunli829 commented on #143
I really don't recommend doing it this way, async-graphql is type-safe, it breaks all of this.

[2020-06-04 07:48] sync opened #146 "Relay @defer requires a label in the second chunk"
Trying to use defer with relay and get the following error:

[code]

Found here: https://github.com/facebook/relay/blob/2859aa8df4df7d4d6d9eef4c9dc1134286773710/packages/relay-runtime/store/RelayModernQueryExecutor.js#L1267

<img width="1122" alt="Screen Shot 2020-06-04 at 5 44 56 pm" src="https://user-images.githubusercontent.com/21725/83729673-47978a00-a68b-11ea-92a4-22ea0096dde8.png">

This is

[2020-06-04 07:49] sync commented on #146
I can see that your example works with apollo but I was super keen to get this also working with relay and it seems that there is a label missing in the second chunk. Do you have any idea of what it could be ?

[2020-06-04 07:54] sunli829 commented on #146
I'll see how to RelayModernQueryExecutor compatible.

[2020-06-04 07:57] sync commented on #146
it seems that it is happy with any label, i've hacked around on the client
[code]

and as soon as i add a label it is fine

[2020-06-04 07:58] sync commented on #146
so basically if the server would add a path from:
[code]

to

[code]

it stops complaining, i don't understand how those labels are computed tough and if adding a random label has any consequences.

[2020-06-04 07:59] sync commented on #146
as an example facebook.com label look like this:
[code]

[2020-06-04 08:00] sync commented on #146
but then i don't get my second chunk in the client side, it is always null

[2020-06-04 08:19] sunli829 commented on #146
Can you provide an example by opening a PR in the `async-graphql-examples` repo?

[2020-06-04 08:37] mwilliammyers commented on #143
Yeah. I won’t do It that way; the fields need to be seen from introspection. Is there anyway we can make it so types can end in `Connection`? It should be fine as long as you don’t use both at the same time?

[2020-06-04 08:41] sunli829 commented on #143
If you don't need to see the fields in JSON in introspection, I can easily add this functionality.

[2020-06-04 08:49] sync commented on #146
Give me 2 hours, will do this right after dinner

[2020-06-04 08:52] sunli829 commented on #143
That's what you want, right?

[code]

[code]

[2020-06-04 08:52] sunli829 commented on #146
Thank you. 😁

[2020-06-04 08:57] sunli829 opened #147 "Discussion: Reference parameters in Guard."
Could you please explain why there is such a need?

[code]
@IcanDivideBy0 @neshanthan

[2020-06-04 11:04] sync commented on #146
still working on it, will come soonish :-)

[2020-06-04 11:25] Amareis commented on #132
Yep, but if `ObjectType::resolve` is still async, this not an issue - code will run on all CPU cores, by default. Also, simple sync resolvers (for example - plain field getters) actually can be faster (if inlined) than creating future - but future should be runned yet. And user still can mark resolver async, to take advantage of less blocking tasks in big resolvers.

Biggest advantage of sync reso

[2020-06-04 11:49] sunli829 opened #148 "Custom directive"
**I want to replace the existing `Guard` and `InputValidator` implementations with custom directives.**

# On Field definition

## Definition

[code]

- [X] OnFieldDefinition
    - [X] Object
    - [x] SimpleObject
    - [x] Subscription
- [x] OnInputValue
    - [x] Object field arguments
    - [x] Subscription field arguments
    - [x] InputObject fields

[2020-06-04 12:08] Amareis commented on #138
Hmmm... Second variant is use only trait with dynamic dispatching (`get_concrete_type` and `IChatVars` is generated):

[code]

[2020-06-04 12:37] Amareis commented on #138
I think it's most idiomatic approach for rust. Additionally full static variant can be added.

[2020-06-04 12:42] sunli829 commented on #138
I'll think about it. 😀

[2020-06-04 13:47] tonis2 opened #149 "Question about #[SimpleObject] and #[InputObject]"
I would like to to use `#[SimpleObject]` and `#[InputObject]` on a same struct, so i could use same data for query's parameters and output.

For example i would like to build a query

`fn filter_data(&self, data: DataSchema) -> Vec<DataSchema> {`

   _here_ i filter database entries based on data params and spew out the _results.._
`}`

Thanks

[2020-06-04 16:37] mwilliammyers commented on #143
I need to see the fields in introspection, so this solution won’t work 😕

[2020-06-04 17:28] neshanthan commented on #147
The ability to forward field arguments does allow for more flexibility with the guard logic.

An example I can think of is:

[code]

[2020-06-04 18:23] neshanthan commented on #148
This sounds good, if we are moving to directives, should I hold off from writing the field guard documentation?

[2020-06-04 22:45] sync commented on #146
Did a little bit more digging, if you look at this they have a very different way of doing @defer in relay:

https://github.com/facebook/relay/blob/bec2bb31d47b5cb247825ad81eac297b8b4c87c0/compiler/crates/graphql-transforms/tests/defer_stream/fixtures/fragment-with-defer-if-arg.expected

[code]

But when i try to do this i get:

<img width="722" alt="Screen Shot 2020-06-05 at 8 45 13 am" src="http

[2020-06-05 00:26] sunli829 commented on #148
Yes. 😀

[2020-06-05 00:28] sunli829 commented on #146
The use of the `@defer`directive on fields is currently only supported.

[2020-06-05 00:30] sync commented on #146
https://github.com/async-graphql/async-graphql/pull/150 gave it a shot, it works now

[2020-06-05 00:30] sync commented on #146
still need to test it with relay

[2020-06-05 00:30] sync commented on #146
and need to add the possibility to specify a label

[2020-06-05 00:48] sync commented on #146
Now that defer works on the server, relay automatically trying to add a label to defer

[code]

[2020-06-05 00:49] sync commented on #146
So i think if we add support to label to defer it should then become compatible with relay !

[2020-06-05 00:56] sunli829 commented on #146
I just got up and was about to check this out. 😁

[2020-06-05 01:59] mwilliammyers opened #151 "UploadValue should be async"
We should make `UploadValue.content` be async. It is probably not already async because we didn't want to depend on tokio vs async-std etc., but could we:
- make the `content` field store a `Box<dyn futures::io::AsyncRead>`?
- have different implementations for tokio vs async-std etc. behind feature gates?
- do something else?

[2020-06-05 02:12] sunli829 commented on #151
You can use `futures::io::AllowStdIo`.

[2020-06-05 02:25] mwilliammyers commented on #151
But that will block the event loop:

[2020-06-05 04:28] sunli829 commented on #146
@sync I added this in the master branch, could you please test it?

[2020-06-05 04:29] sync commented on #146
amazing testing this now!!

[2020-06-05 04:30] sunli829 commented on #149
Currently, only two structures can be defined.

[2020-06-05 04:33] sunli829 commented on #151
Do you have a big file?

[2020-06-05 04:33] sunli829 commented on #151
Why not use synchronization API to process files, they have higher performance.

[2020-06-05 04:36] sunli829 commented on #151
Now whether `tokio` or `async-std`, their asynchronous file IO is actually running in the thread pool.
I think asynchronous file IO has value only after `io-uring` support.

[2020-06-05 04:38] sunli829 commented on #146
I forgot to say, please update `async-graphql/examples`.

[2020-06-05 04:40] sync commented on #146
I am a little confused, do I have to rebase master on top of #150  ? if now it complains i can't use defer of top of a fragment ....

[2020-06-05 04:41] sync commented on #146
i'll push a udpate to the graphql example so you should be able to run it yourself

[2020-06-05 04:46] sunli829 commented on #146
I've already run it, but I don't know if it's the right result.

[2020-06-05 04:48] sync commented on #146
see https://github.com/async-graphql/examples/pull/14 i think it it is working

[2020-06-05 04:49] sync commented on #146
I am rebase my pr #150 on top of 150 but i don't think it's streaming when ...fragment @defer

[2020-06-05 04:49] sync commented on #146
we should stop using `@defer` it's a person on github

[2020-06-05 04:51] sunli829 commented on #146
Currently, @defer only supports field, I will consider how to solve the problem.

[2020-06-05 04:55] sync commented on #146
ok cool sorry i misunderstood. I appears that relay only does the magic if deferring a fragment. Apollo might have gone a different way.

[2020-06-05 04:57] sync commented on #146
but i'll check if it also works when not deferring a fragment, give me 5

[2020-06-05 05:12] sync commented on #146
yes it doesn't work. I can see there is label now. Thank you.

The funny thing is when i spread defer on a fragment the relay client adds a label on the defer automatically, changing the original request.

original request
[code]

modified by the relay client
[code]

[2020-06-05 05:13] sync commented on #146
There is so much magic and you can see those in their test suite but not really documented :-(

[2020-06-05 05:37] sunli829 commented on #146
I guess this label can't be repeated, it's an ID.

[2020-06-05 05:40] #84 closed

[2020-06-05 06:08] mwilliammyers commented on #87
@sunli829 Did you decide how hard it would be to access `Context<'_>` in the logger?

[2020-06-05 06:10] sunli829 commented on #87
Not hard, but I don't have time for it right now.

[2020-06-05 06:12] mwilliammyers commented on #151
Yes fairly large, my files will be 20 MB to 1-2 GB (they will be several hours of audio).

This is a big reason why I switched from juniper (they are still working on async support)...

Yeah, I want all async code to run on a thread pool...

[2020-06-05 06:16] sunli829 commented on #151
This feature is easy to add, but you don't want depend on `tokio` or `async-std`, which makes it hard for me.

[2020-06-05 06:17] mwilliammyers commented on #151
I already depend on `tokio`, I am saying I am not sure `async-graphql` should force users into choosing a runtime.

[2020-06-05 06:19] mwilliammyers commented on #151
it doesn't matter a ton to me, I am currently using `base64` inlined into the request body but I was thinking about refactoring to use `Upload`, but I was surprised to find that it was sync, which seemed weird to me given that that the crate is called `async-graphql` 😄

[2020-06-05 06:22] sunli829 commented on #151
This requires the introduction of a separate thread pool, which I don't think is a good idea.

[2020-06-05 06:22] mwilliammyers commented on #87
Any mentoring tips? I might have time for it... At the very least I can open an issue for it so we don't forget about it...

[2020-06-05 06:24] mwilliammyers commented on #151
Ok, well we might want to benchmark it. Regardless, we should make it very obvious in the documentation that file uploads are synchronous; I just happen to catch it because it was `Read` and not `AsyncRead`.

I would be happy to open a PR adding the documentation if you think that is a good idea.

[2020-06-05 06:25] sunli829 commented on #87
I don't think the ctx parameter is necessary. Can you explain why you need this parameter?

[2020-06-05 06:26] mwilliammyers commented on #143
I can open a PR for that if you are ok with it...

[2020-06-05 06:29] sunli829 commented on #143
Thank you, but I want to know how you're going to do this?

[2020-06-05 06:31] mwilliammyers commented on #87
Logging without adding context like `user_id`, `company_id` etc. is mostly useless for my project.

It is actually easier to log that context myself in my code rather than adding it to every `Err` type so that it can be logged by `async-graphl`. My other option is to `Box` all my errors/use `FieldError`, but I have custom error `enums` that I would like to keep.