[2020-06-05 06:39] sunli829 commented on #87
I see, but the `Context` is not easy to add, so I'll give you an `&Data` argument, ok?

[2020-06-05 06:43] mwilliammyers commented on #87
The thing I get back from `context.data()`? Thats all I need :)

[2020-06-05 06:43] sunli829 commented on #87
How about I add a ctx at ResolveInfo?

[2020-06-05 06:45] mwilliammyers commented on #87
As long as I can get access to my `context.data()`, then that works!

[2020-06-05 06:45] mwilliammyers commented on #87
I can try to add it if you don't have time

[2020-06-05 06:47] sunli829 commented on #87
`ctx` is only available at `resolve_start` and `resolve_end`, which I think will satisfy your needs. I'm working on this. This is easy.

[2020-06-05 06:49] sunli829 commented on #87
Could you possibly need `Extension::error` to get `ctx`?

[2020-06-05 06:50] mwilliammyers commented on #143
I define a custom scalar named `ID` (that is constrained to be a V1 UUID for database sorting performance reasons) and I haven't had any trouble with it clashing with the `ID` defined in `async-graphql`... so I figured it be ok to remove the check for the name

[2020-06-05 06:56] mwilliammyers commented on #87
Oh, I haven't looked at `Extension::error`. But it might makes sense to add it to both `Extension::logger` and `Extension::error`? That seems useful and it keeps things the same.

[2020-06-05 06:59] sunli829 commented on #87
I think I should add `Extension::resolve_error(&self, info: &ResolveInfo< '_>)`

[2020-06-05 07:02] mwilliammyers commented on #87
`ResolveInfo` does not have access to `ctx` though, right?

[2020-06-05 07:03] sunli829 commented on #87
I can add, that's easy.

[2020-06-05 07:07] sunli829 commented on #87
You can only get data in these three places.

[code]

[2020-06-05 07:11] mwilliammyers commented on #87
Perfect! Thank you!

[2020-06-05 07:14] sunli829 commented on #87
I'm almost there, but I was wondering why you didn't add this information when you created Extension?

[2020-06-05 07:15] mwilliammyers commented on #87
I am confused... I didn't create `Extension`.

[2020-06-05 07:15] sunli829 commented on #87
[code]

[2020-06-05 07:15] sunli829 commented on #87
You should implement extensions yourself.

[2020-06-05 07:16] sunli829 commented on #87
Do you think it's better that way?

[2020-06-05 07:16] mwilliammyers commented on #87
Shouldn't it be:
[code]

[2020-06-05 07:19] sunli829 commented on #87
Even if I added CTX to the ResolveInfo, you'll still have to implement Extension yourself.

[2020-06-05 07:19] mwilliammyers commented on #87
The `user_id` etc. changes with every request, so I can't build it up front when I build the schema

I do something like:
[code]

where `claims` come from the `Bearer: <token>` header for each request.

[2020-06-05 07:21] sunli829 commented on #87
Sorry, I made a mistake. I should have added an extension function to the `QueryBuilder`.

[2020-06-05 07:21] mwilliammyers commented on #87
That's fine 😄 , I would have probably anyway. It will be worth it; I will be able to get rid of *a lot* of logging code throughout my whole project 🎉

[2020-06-05 07:22] sunli829 commented on #87
[code]

[2020-06-05 07:23] mwilliammyers commented on #87
haha I didn't know you could do that 😆. I must have missed that somewhere in the docs...

[2020-06-05 07:25] sunli829 commented on #87
Actually, I didn't add it. I always thought the Extension was created in QueryBuilder. 😁

[2020-06-05 07:27] mwilliammyers commented on #87
Oh, you haven't added it to `QueryBuilder`, yet?

[2020-06-05 07:31] sunli829 commented on #87
Yes, I'm adding.

[2020-06-05 07:33] sunli829 commented on #87
I have always thought that this function is available, so I feel strange when you need to add `ctx` to the `Extension`, sorry.

[2020-06-05 07:34] neshanthan commented on #147
Is this an issue because when we migrate from UserGuard to custom directives we won't have access to the field arguments?

[2020-06-05 07:45] sunli829 commented on #87
@mwilliammyers Upgrade to `1.14.15`. 😁

[2020-06-05 07:48] sunli829 commented on #143
It can be removed without any problems... Just to conform to the GraphQL specification.

[2020-06-05 07:50] sunli829 commented on #147
I'm not sure yet, because I'm just starting to implement custom instructions.

[2020-06-05 07:53] sunli829 commented on #151
https://users.rust-lang.org/t/file-reading-async-sync-performance-differences-hyper-tokio/34696/5

Welcome to PR. 😁

[2020-06-05 07:55] sunli829 commented on #151
Rust's asynchronous code is slow, much more than synchronous...

[2020-06-05 07:59] neshanthan opened #152 "Enhancement / Discussion - Access to the execution"
Would it be a good idea to give access of the [execution ](https://graphql.org/learn/execution/)to the field resolver?

This might solve the issue of custom directives not having access to input parameters #147 (If it is an issue).

The syntax could be something similar to the context args where you can optionally check if a type is present.

This could be passed in either as an optional executor

[2020-06-05 08:04] sunli829 commented on #152
You can actually get the arguments in the ctx, but I'm just hiding that function.

[2020-06-05 08:16] neshanthan commented on #152
Ah I see, awesome :-)

[2020-06-05 08:37] sunli829 commented on #87
@mwilliammyers Please let me know if you can use it, because I have no test. 😁

[2020-06-05 08:41] tonis2 commented on #149
Okay thanks, using Json(DataSchema) as input type helped me out too.

[2020-06-05 11:21] sync commented on #146
Found more info:

https://github.com/graphql/graphql-spec/issues/704

Note that @defer can only be applied to fragment spreads and inline fragments, not to fields, and @stream can only be applied to fields. So they can't co-exist on a selection.

[2020-06-05 11:25] sunli829 commented on #146
This is just a proposal, and once the defer specification is formally confirmed I'll add it very quickly.

[2020-06-05 14:41] bnjjj opened #154 "Use custom filter with Connection type"
My issue is that I want to use a Relay Connection so I have my resolver like this:
[code]

So I have a `filter` but if I want to implement `Datasource` over my struct under the hood I can't pass my filters to the `execute_query` (https://docs.rs/async-graphql/1.14.15/async_graphql/connection/trait.DataSource.html#tymethod.execute_query) from the `Datasource` trait. Do you have an idea how I can im

[2020-06-05 15:00] sunli829 commented on #154
You can use the `connection::query` function to move the `filter` into the closure.

[2020-06-05 15:01] sunli829 commented on #154
This can be done, depending on which one you prefer.

[code]

[2020-06-05 15:54] bnjjj commented on #154
Hmm I have some troubles. Why is it `FnMut` https://github.com/async-graphql/async-graphql/blob/master/src/types/connection/mod.rs#L256 ? Due to this it seems I can't move my filter inside this closure

[2020-06-05 16:10] sunli829 commented on #154
My fault. This should be FnOnce，can you fix it for me? I'm ready for bed...

[2020-06-06 00:01] bnjjj commented on #154
Done https://github.com/async-graphql/async-graphql/pull/156 let me know if I forgot something. It’s also very late for me haha

[2020-06-06 01:55] #139 closed

[2020-06-06 07:49] sunli829 commented on #154
Released `v1.14.19`

[2020-06-06 08:03] bnjjj commented on #154
Will check this on Monday. If it resolves my issue I will close it

[2020-06-06 09:57] nicolaiunrein opened #157 "Subscription panics when unsubscribing from exhausted stream"
consider this endpoint:
[code]

when I do a subscription query in playground I get a value as expected and when I then stop the subscription my application panics with `thread 'actix-rt:worker:0' panicked at 'invalid key', <::std::macros::panic macros>:2:4`.
However I can resolve this issue by chaining a pending stream:
[code]
Besides the bug I wonder what the spec says about exhaustive streams. S

[2020-06-06 11:59] sunli829 commented on #157
I fixed this problem on the master branch, could you test it for me?

[2020-06-06 12:03] sunli829 commented on #157
I deleted the exhausted stream here, but when unsubscribing from the client, I didn't check it already removed.

https://github.com/async-graphql/async-graphql/blob/aa1b2b61cc0d3fd2da9114b34cae1e14c906473a/src/subscription/connection.rs#L182

[2020-06-06 16:21] ruseinov opened #158 "Json<T> scalar with a default value causes GraphQL Playground to fail the introspection query."
[code]
A definition like this results in
[code]

Queries work fine though, so I assume that this is some sort of problem with ObjectId Scalar definition.

[2020-06-06 19:54] ruseinov opened #160 "Upload seems broken in the new version."
[code]

Returns
```Missing "operators" part```

There are two issues:
1. operators -> operations
2. It should work, but no longer does.

Tested with latest "1.14.19"

[2020-06-06 21:41] hapcode commented on #158
I've same problem if I use `#[field(default)]` for a field with a scalar value that is serialized to an object:

[code]
My workaround is to use `attrs: Option<TopicAttrs>` in `AddTopicInput` and then `input.attrs.unwrap_or_default()` in a mutation.

[2020-06-06 22:32] mwilliammyers commented on #87
@sunli829, yup its working! Thanks!

Two quick questions:

1. Does the `Extension` trait need a `'static` lifetime bound? It makes it so I can't do:

[code]

1. Is this the easiest/fastest way to get the query/mutation name? I want to avoid logging the entire `query_source` so that I don't log passwords etc...

[code]

   I guess I could also do:

[code]

   but that seems a little hacky...

[2020-06-07 01:13] sunli829 commented on #160
The first part is `operations`, the second part is `map`, followed by the `files`.

[code]

[2020-06-07 01:24] sunli829 commented on #158
I tried and didn't meet the problem you described.

[2020-06-07 01:25] sunli829 commented on #158
Can you open a PR and provide a minimal test case? 😀

[2020-06-07 01:26] #152 closed

[2020-06-07 01:27] #147 closed

[2020-06-07 01:29] sunli829 commented on #87
Yes, this has to be 'static 'for a lot of reasons

I think password shouldn't be in the query, it should be in HTTP Headers, don't you think?

[2020-06-07 07:14] ruseinov commented on #160
Gotcha!

It used to work regardless of the order, I was using postman to test this and the test case didn’t change, but rather it broke as I updated to a new library version. I’d argue that relying on the order of the fields sent in a multi-part form is error-prone, why not simply order them on the backend or check by name?

[2020-06-07 07:43] sunli829 commented on #160
Because the parsing multipart is streaming, it must be in order.

[2020-06-07 08:36] sunli829 commented on #160
Released `v1.14.20`.

[2020-06-07 08:39] ruseinov commented on #160
Cool, I'll test once released!

[2020-06-07 08:41] ruseinov commented on #158
Yeah, I have a much larger schema and this was just the field I had a hiccup on, but maybe the cause is a variety of factors as described by @hapcode

[2020-06-07 08:48] ruseinov opened #161 "ObjectId <-> ID conversion is broken after an update to 0.14.20"
[code]

for
[code]

and

[code]
for
[code]

where `id: ID`

[2020-06-07 08:58] sunli829 commented on #161
Can you help me look around here?

https://github.com/async-graphql/async-graphql/blob/215922ee1f4fb8bf1d4d9429bbef55ba69fc3ec5/src/scalars/id.rs#L61

[2020-06-07 09:05] ruseinov commented on #161
It's strange, because this file has not changed for 12 days, yet the error only popped up in 0.14.20.
I will definitely look into that, but it seems like the problem lies elsewhere, I'm going to try cleanup cache first..

[2020-06-07 09:18] ruseinov commented on #161
Yeah, I have tried rebuilding the project to exclude any kinds of glitches - the problem only pops up in `1.14.20` and not the `1.14.19`.

[2020-06-07 09:55] sunli829 commented on #161
Maybe that's the reason. #159

[2020-06-07 13:40] hapcode commented on #158
It seems like my problem is caused by a bug in `graphql-js` of GraphQL Playground: #[1817](https://github.com/graphql/graphql-js/issues/1817). I think @ruseinov has same problem with `pub data: Json<JsonMap>`.

[2020-06-07 14:09] ruseinov commented on #158
That is unfortunate, gonna have to wait for them then :/

[2020-06-07 14:22] ruseinov commented on #161
I’ll investigate this next week unless somebody beats me to it.

[2020-06-07 15:50] ruseinov commented on #161
Maybe if I upgrade the bson package in my project it’d help. Will keep you updated.

[2020-06-07 18:06] mwilliammyers commented on #87
1. Cool, no worries. I’ll just clone the id from the Claims.

2. I have a login mutation that accepts a password. (After that, tokens are sent in the header). I also don’t want to log any other sensitive information (99% of the time this will be in variables though). Also, regardless I don’t want to log the whole query because it can clutter the logs with a lot of info. I just used that snippet ^

[2020-06-08 02:39] sunli829 commented on #148
I ran into some problems implementing this feature, and I'll turn it on again when I find a solution.

[2020-06-08 02:39] #148 closed

[2020-06-08 09:16] ruseinov commented on #161
That does not help, gotta keep investigating.

[2020-06-08 09:17] bnjjj commented on #154
Ok it's much better and usable now ! We can close it :) Thank you

[2020-06-08 09:17] #154 closed

[2020-06-08 10:56] ruseinov commented on #161
Actually it does @sunli829 , I was testing a 1.14.19 and forgot to change it back.
So the version has to be consistent.

The fix is: the bson crate version should be consistent with that in async-graphql.

[2020-06-08 10:56] #161 closed

[2020-06-08 10:56] ruseinov commented on #161
[code]

That works just fine!

[2020-06-08 12:29] #129 closed

[2020-06-08 12:30] sunli829 commented on #160
@ruseinov Is that all right?

[2020-06-08 12:45] ruseinov commented on #160
I’ll test today and close if good, need to fix some stuff after bumping the bson dep.

[2020-06-08 13:33] ruseinov commented on #160
@sunli829 It works! Thanks a lot!

[2020-06-08 13:33] #160 closed

[2020-06-08 20:35] mwilliammyers opened #164 "Cannot find attr `field` when using cfg_attr"
I am building a library that will optionally enable `async-graphql` support:

[code]

But when I try to guard the `field` attribute (just like I do with `builder`) like this:

[code]

the compiler gives me this error:

[code]

I have tried:

- ```rust
  #[cfg_attr(feature = "graphql", async_graphql::field(default))]
[code]

- adding `async-graphql-derive` to my dependencies

<br>

I think it is be

[2020-06-09 02:23] sunli829 commented on #164
This is not easy to solve. 😭

[2020-06-09 02:56] mwilliammyers commented on #164
Is it because we are not `deriving` a trait?

[2020-06-09 03:22] sunli829 commented on #164
`#[Derive]` can solve this problem, it can only used on struct and enum, but `#[Object]` is on implements trait.

[2020-06-09 03:26] mwilliammyers commented on #164
Can we use `#[derive(async_graphql::SimpleObject)]`, `#[derive(async_graphql::InputObject)]` and `#[Object]` on `impl Foo`?

[2020-06-09 03:27] sunli829 commented on #164
Yes, but the usage is not uniform. It looks strange. 😂

[2020-06-09 03:53] mwilliammyers commented on #164
I think *not* using `derive` is much stranger on structs/enums... I almost opened up an issue to discuss it when I first refactored to async-graphql because I thought it was strange. I rarely see non derive attributes on structs/enums.

[2020-06-09 04:52] sunli829 commented on #164
This problem is not easy to solve, and I think it is caused by imperfect `proc_macro_attribute`.

[2020-06-09 04:53] sunli829 commented on #164
The procedural macros should give me `#[field(...)]` instead of `#[cfg_attr(feature = "aaa", field(...))]`.

[2020-06-09 04:58] mwilliammyers commented on #164
Yeah I agree, but regardless, I think the API is a little strange `derive` makes a lot more sense on structs/enums, especially if it is actually deriving a trait (which I am pretty sure it is...)

I can try opening a PR to parse `#[cfg_attr(feature = "aaa", field(...))]` though

[2020-06-09 05:03] sunli829 commented on #164
Parsing '#[cfg_attr(feature = "AAA ", field(...))]' by ourselves is definitely not feasible, this is what the rust compiler should do.

[2020-06-09 05:05] sunli829 commented on #164
`InputObject`, `SimpleObject`, `Enum` I could easily change that to derive, but what about `Object`, and `Subscription`?

[2020-06-09 05:18] mwilliammyers commented on #164
Leave those two how they are. I don’t think it’s weird at all for them to be different.

[2020-06-09 05:25] sunli829 commented on #164
Derive does not support parameters.

[code]

[2020-06-09 05:29] mwilliammyers commented on #164
Yeah those should go in a different attribute (maybe named graphql or async_graphql). Like serde (or tons of other libraries :) )

[2020-06-09 06:03] sunli829 commented on #164
I want to do that.

https://github.com/taiki-e/pin-project/blob/2a3bf4ab811a8e6991569e499eb8d93ad9e8ccab/pin-project-internal/src/pin_project/attribute.rs#L11

[2020-06-09 06:13] mwilliammyers commented on #164
Hmm, just to maintain compatibility? Why not follow the lead of countless libraries including serde?

[2020-06-09 06:21] sunli829 commented on #164
1. For compatibility.
2. It's easy to use.
3. This change is easier. 😂

But I'm not sure I'm going to make it. I'm trying.

[2020-06-09 10:00] bnjjj opened #165 "slice support"
Hello @sunli829 it seems there is a bug with slices. In fact here is some snippets:
[code]

and when I check at my generated schema in docs I have `coords: LatLng!`

Do you have an idea where is the issue ? Maybe I made something wrong ?

[2020-06-09 10:30] sunli829 commented on #165
Let me check. This was good before.

[2020-06-09 10:46] sunli829 commented on #165
Upgrade to `v1.15.1`.

[2020-06-09 12:22] bnjjj commented on #165
Fixed ! Thank you !

[2020-06-09 12:22] #165 closed

[2020-06-09 12:33] bnjjj commented on #164
FYI I think I had the same issue with `item` attribute

[2020-06-10 23:57] zicklag opened #167 "Would You Use This in Production ( If You Didn't Mind Keeping Up With Changes )?"
Hey there, I'm really liking this project, and I know that it is considered unstable from an API perspective, but how do you count it currently from a security perspective? In other words, would you trust it with production if you didn't mind keeping up with the API instability ( like I don't )? :smiley:

[2020-06-11 01:17] sunli829 commented on #167
I use it in production. 😁

[2020-06-11 02:38] sunli829 commented on #164
@mwilliammyers
I support both. When I'm done, can you help me add docs to book? 😁

[code]

[2020-06-11 05:15] sunli829 commented on #158
@ruseinov Would you like to provide a minimal test? Maybe I did something wrong.

[2020-06-11 07:35] mwilliammyers commented on #167
I am going to deploy it to production in the next few weeks. I have been using it in a dev/staging environment for a few weeks now without issues. Keeping up with the API hasn’t been bad either.

[2020-06-11 07:43] sunli829 commented on #146
Is everything all right now? 😁 @sync

[2020-06-11 09:10] ruseinov commented on #158
@sunli829 I will create a dummy repo with minimal setup that reproduces the test.

[2020-06-11 09:34] sync commented on #146
After more experiments I realised that relay only supports deferring on a fragment. Is it something you would be interested supporting ? I wonder if I could help, or do you reckon adding support for defer on a fragment is quite complicated ? I looked everywhere and don’t see any other library supporting that feature. But I know it’s used on Facebook.com. Probably using their own graphql server imp

[2020-06-11 09:43] sync commented on #167
Have it running in prod no problems with it, only thing is to setup dependabot or renovate so your ci can build and update to the newer version every time there is a change. Have an e2e test for it and report issues as soon as you you can the author is very responsive

[2020-06-11 09:56] sync opened #168 "Latest release 1.15.5 build issue"
My ci run is failing either the following errors:

[code]

Etc... is there something I need to change on my end ?

[2020-06-11 09:57] sync commented on #168
I am on mobile sorry 😐

[2020-06-11 11:05] ruseinov commented on #158
There you go: https://github.com/ruseinov/graphql-introspection-test .

This would complain about fields in Criteria when you open the playground. I guess that is related to Json scalar.

ObjectId seems to be alright here though.

[2020-06-11 11:08] ruseinov commented on #158
It seems like the ObjectId error was random and it occurred due to ObjectId being in the same input object as a Json scalar. I have tried adding ObjectId as a field in "QueryInput" and that did not fail the AST parsing.

[2020-06-11 13:57] zicklag commented on #167
Thanks for the notes y'all. :smiley:

[2020-06-11 14:21] bryanburgers opened #169 "invalid: Variable "$var" is not defined"
When executing a query in async-graphql, I'm getting a "Variable ... is not defined" error when I don't think I should be.

A query like

[code]

with no variables

[code]

will return errors and no data.

[code]

However, according to [the GraphQL spec §6.1.2](http://spec.graphql.org/June2018/#sec-Coercing-Variable-Values), at instruction 3.g. it seems like this should be allowed.

A single examp

[2020-06-11 20:18] mwilliammyers commented on #168
I am pretty sure this is a result of us introducing breaking changes above `1.0.0`; it does not play nicely with `cargo` because `cargo` assumes different update heuristics when packages are above `1.0.0`.

TL;DR: `cargo update` should pick up the latest `async-graphql-derive` dependency...

[2020-06-11 20:20] mwilliammyers commented on #168
@sunli829 we should pin the async-graphql dependencies (`async-graphql-derive`,  `async-graphql-parser`) to specific exact versions with `=1.15.1` or at least `1.15.*` etc.)

This should help minimize issues... I would open a PR for it but I am not entirely sure how the CI/deploy pipeline is setup 🙃

[2020-06-11 20:36] sync commented on #168
running cargo update worked thank you

[2020-06-11 20:36] #168 closed

[2020-06-11 20:42] mwilliammyers commented on #164
Yeah, I can help with the docs/book 😄

[2020-06-11 20:48] mwilliammyers opened #172 "Pin async-graphql-* dependencies to minimize >1.0.0 issues"
We should pin the `async-graphql-*` dependencies (`async-graphql-derive`, `async-graphql-parser`, etc.) to specific exact versions with `=1.15.1` or at least `1.15.*`/ `>= 1.15.0, < 1.16.0` to minimize breaking change related issues like https://github.com/async-graphql/async-graphql/issues/168 because `cargo` dependency resolution heuristics are different for crates above `1.0.0`.

See also: #117

[2020-06-11 20:49] mwilliammyers commented on #151
I am going to close this for now, although I think we should benchmark different solutions in the future...

[2020-06-11 20:49] #151 closed

[2020-06-11 20:56] mwilliammyers commented on #132
I really think we should add plain `sync` resolvers support; I imagine this will improve performance by reducing executor pressure (like @Amareis said) **especially** on single/low core machines (e.g. Google Cloud Run/Functions or AWS lambda etc) which are common deployment scenarios...

We should benchmark it on low/slow/single core CPUs ( or via `cpulimit` etc.)...

If nothing else, it bothers m

[2020-06-12 01:32] sunli829 commented on #132
I'm going to try to make a few small changes today. 😁

[2020-06-12 01:33] #157 closed

[2020-06-12 01:35] #169 closed

[2020-06-12 01:43] sunli829 commented on #172
Maybe release a new version should use `cargo workspaces version patch --exact`.

[2020-06-12 01:51] sunli829 commented on #146
This feature is easy to add, but I don’t know which specification should be followed, is it https://github.com/graphql/graphql-spec/issues/704?
But I see `@deferrable` instead of `@defer`.

[2020-06-12 02:01] sunli829 commented on #132
First of all, I want to solve the problem of interface function forwarding, it should be able to recognize async/sync.

[2020-06-12 03:44] sync commented on #146
its @defer

[2020-06-12 03:47] sync commented on #146
any comment from `josephsavona` is good, he is on the relay team

from him:
[code]

[2020-06-12 08:31] sunli829 commented on #146
I'm going to remove the previous `@defer` implementation, and the new version is only compatible with `Relay`.

[2020-06-12 08:32] sync commented on #146
Sounds awesome 👏 also remember the label is provided on defer from the client. The relay project in the sample repo is all setup and let me know if you want me to test anything

[2020-06-12 08:33] sunli829 commented on #132
I've made a few improvements to the `sync-resolver` branch, but the performance improvements are small, it's hard to fully support both sync and async.

[2020-06-12 11:46] ruseinov commented on #167
I'm building a project using this that's going to be a distributed service deployed across many nodes, I have high hopes and I definitely like that it evolves quickly.

There are some api changes and some dependency updates that need to be accounted for when updating the library version, but they are minimal and well worth it.

[2020-06-12 12:27] kellpossible commented on #68
Alternatively, some way to export the Schema in the schema format at build time would be nice.

[2020-06-12 13:39] sunli829 commented on #68
Export sdl for the client?

[2020-06-12 14:36] kellpossible commented on #68
Yes, I haven't used graphql before, this is my first time, so forgive me if I'm missing something, I was thinking exporting the schema definition `schema.graphql` to be consumed by the client at build time. That way there is still only a single definition. Perhaps this would be easier to do than implementing an SDL parser, and generating the schema for the server from that?

[2020-06-12 16:22] mwilliammyers commented on #132
Did you benchmark with a single CPU core?

[2020-06-12 17:45] phated commented on #68
@kellpossible the common practice is just to use a tool against your development environment and check in the `schema.graphql`. I usehttps://www.npmjs.com/package/graphql-cli/v/3.0.14 (make sure to use the older version because the new one removed features)

[2020-06-12 17:48] ruseinov commented on #167
@zicklag feel free to close the issue if your question was answered:)

[2020-06-12 17:57] ruseinov opened #173 "Question/Suggestion: is there a way to intercept a query/mutation/subscription "route""
This issue is meant to start a discussion which might or might not end up being something viable that could be implemented.

I'm currently working on a somewhat complex RBAC kind of thing for the GraphQL api that's being built, field guards kinda solve the issue I'm trying to solve, but I'm not yet sure whether it's going to be too verbose for what I'm trying to do or not.

Although I could just i

[2020-06-12 18:00] zicklag commented on #167
Yeah, I think so. :)

The only thing I would wonder is how possible it could be to construct a malicious request that would cause the API to surrender secret information in the `Query` root object, but for now I haven't put any super secret info in there and I'm OK with it, and I might just take a look at the code sometime to double-check the code paths.

Cool part about Open Source is that the co

[2020-06-12 18:00] #167 closed

[2020-06-12 18:04] ruseinov commented on #167
Sure is, but the async-graphql codebase is not the easiest to follow, because it relies on lots of macros among other things. And so is pretty much any big enough library. But then again - you get to learn a lot by reading it!

I don't think there's anything unsafe happing in the parser that would allow you to inject stuff. Also take a look at field Guards - you can actually set all sorts of permi

[2020-06-12 18:07] zicklag commented on #167
Wow that's very neat. I discovered GraphQL itself three days ago and I'm loving it. This library makes it so nice to create a server with Rust, too. Can't wait to start use it more!

[2020-06-12 19:43] ruseinov commented on #167
Yeah, this library is great and getting greater every day. The amount of boilerplate is minimal. I have to invest some time and publish a generic project derived from a stripped down version of the stuff I'm currently working on. That includes some MongoDB boilerplate and some cool stuff like criteria.

[2020-06-12 20:41] MidasLamb opened #174 "Allow access to raw query in either Extensions or from the GQLRequest"
Allow access to raw query String in either Extensions or from the GQLRequest.

Some context: Currently my Graphql server is a wrapper around an existing API (which is out of my control), which has zero documentation and is a pain in the ass to work with. Sometimes stuff goes awry inside a resolver, which will then return an error, but this most of the time means that an extra case needs to be adde

[2020-06-13 01:08] sunli829 commented on #174
I added the `QueryBuilder::query_source` function. 😀

[2020-06-13 01:21] sunli829 commented on #173
It's not possible to support multiple impl blocks.
Maybe you could do something like this?

[code]

[2020-06-13 01:24] sunli829 commented on #132
Yes, I only tested it on a single-core CPU, and in fact a single GraphQL query because `await` can span more than one thread, but the execution is sequential.

[2020-06-13 02:43] sunli829 commented on #158
Because `graphql-js` makes some limitations, my current recommendation is that `JSON` types don't have default values.

https://github.com/graphql/graphql-js/blob/5be7ce3bbc3c73392f871b0de66782a39958c9c6/src/utilities/astFromValue.js#L105

[2020-06-13 02:45] sunli829 commented on #68
I think it's better that way.

[2020-06-13 02:49] sunli829 commented on #174
Released `v1.15.7`.

[2020-06-13 06:51] ruseinov commented on #158
yeah, but that does not work for me, so I guess I'll have to live with that :/

[2020-06-13 07:02] ruseinov commented on #158
I can probably make it optional and assign a default elsewhere. Is this issue on file at graphql-js repo?

[2020-06-13 08:05] sunli829 commented on #158
Yes, because the `Json` type does not conform to the GraphQL specification.

[2020-06-13 08:48] MidasLamb commented on #174
Great, thanks!

[2020-06-13 08:48] #174 closed

[2020-06-13 13:55] kellpossible commented on #68
@phated thanks ooh okay that does sound good, so the idea is that using the CLI tool you can pull the schema from the graphql server/api and updates the schema file that way?

[2020-06-15 02:02] phated opened #176 "DataSource is too hard to use without context"
While trying to upgrade async-graphql, I found that you removed the context from the DataSource.

When trying to move something like a database pool into the struct implementing DataSource, it requires lifetimes be added. This makes the datasource unnecessarily complicated to use.

[2020-06-15 02:12] phated commented on #176
Nevermind, I discovered the `async_graphql::connection::query` method that removes the need for DataSource completely.

Are you planning to remove DataSource?

[2020-06-15 02:12] #176 closed

[2020-06-15 02:30] sunli829 commented on #176
I think the DataSource is useful because it makes it easier to reuse code. 😁

[2020-06-15 02:32] phated commented on #176
@sunli829 how is it easier than using the `query` function directly? I will push up my usage soon and show how it is good to use for implementing on Enum and other data structures.

[2020-06-15 02:32] sunli829 commented on #176
This is what I think is the correct use of `DataSource`.

[code]

[2020-06-15 02:34] phated commented on #176
@sunli829 in your example, you could end up with many database pools for an entire application, which would not work well

[2020-06-15 02:35] sunli829 commented on #176
No, the same connection pool should be shared.

[2020-06-15 02:35] phated commented on #176
I tried implementing the same as you showed, but sharing a database pool required a lifetime, which is more complex than my solution.

[2020-06-15 02:36] sunli829 commented on #176
For example, the same `r2d2::Pool` should be shared.

[2020-06-15 02:36] sunli829 commented on #176
No, no, the connection pool should be shared with Arc.

[2020-06-15 02:37] phated commented on #176
You still can't implement DataSource on an Enum, so my solution is better for me. I will link shortly.

[2020-06-15 02:39] sunli829 commented on #176
Yes, implement your own `DataSource`, or just use `connection::query`, whichever is more convenient for you.

[2020-06-15 02:41] phated commented on #176
This is the way I used `connection::query` to implement a "data source" on a GraphQL Union (rust Enum): https://github.com/phated/twentyfive-stars/blob/f4a704f2ee2d93b2c50e7abc0e7c57b818cff030/server/src/data/card.rs

[2020-06-15 02:47] sunli829 commented on #176
Let me think about it. 😂

[2020-06-15 02:50] sunli829 commented on #176
I think `connection::query` is the best option in your case. 😁

[2020-06-15 03:03] sunli829 commented on #176
You can change `Cards::query`  to  `connection::query` so that you can at least check for invalid values.

[2020-06-15 03:51] sunli829 commented on #176
After careful consideration, `connection::query` is more flexible than the `DataSource`, so I decided to delete the `DataSource`.

[2020-06-15 04:12] phated commented on #176
Looks great! Thanks @sunli829!

[2020-06-15 08:51] ruseinov commented on #158
Curious if we could work around this by making all the Json types with default values optional under the hood.

I did try using an option in each place the `Json` is currently used and that contributes to a bunch of ugly boilerplate, unfortunately :(

[2020-06-15 11:48] sunli829 commented on #158
Maybe you should do it like this.

[code]

[2020-06-15 11:55] ruseinov commented on #158
Yeah, but then that introduces a bunch extra operations due to wrap/unwrap etc. I will experiment, although it would make sense to make an attribute of some sort or make Json values with defaults optional as they would break AST parsing for anyone who uses that feature. Just saying.

[2020-06-15 11:58] ruseinov commented on #158
Also if a Json<T> has a default and marked as arg(default) it’s kind of optional already.

[2020-06-15 12:56] Amareis commented on #132
@sunli829 which scenario you're using for this test?

[2020-06-15 13:02] ruseinov commented on #158
I have done
[code]
which kinda works, but I'm forced to work with it like this:
[code]
which is fine as I have reduce the usage to one line in the whole codebase, but the issue is I can't force
[code]
to fail when the Default trait is not implemented for an underlying type, because it is wrapped into an option.

So when I go
[code]
that will compile and run nicely even if `Criteria` does not imple

[2020-06-15 13:05] ruseinov commented on #158
Actually no, it does not work, because
[code]
does not seem to work for
[code]
it results in None.

[2020-06-15 13:09] sunli829 commented on #132
`sync-chat` and `async-chat`

[2020-06-15 13:11] ruseinov commented on #158
The final solution for this, for the time being, is removal of
[code]

and this type of usage:
[code]

It is not ideal due to extra allocations, but it will do for now. I'm expecting that type of use-case to be pretty common for anyone who uses `Json` scalar, so it might be worth optimising.

[2020-06-15 13:12] sunli829 commented on #158
I need to think about how to solve this problem gracefully.

[2020-06-15 13:17] ruseinov commented on #158
Thanks for looking into this, I appreciate it! I also think that this is a very powerful feature, no matter how small it seems and it'll make a whole lot of difference going forward.

[2020-06-15 13:22] ruseinov commented on #173
Are you suggesting something like [that](https://stackoverflow.com/a/42021115)?
That'll do, so basically in order to nest/group queries by type I would just introduce an intermediate struct that would do all the queries for `Users` or some other entity.

[2020-06-15 13:57] bnjjj commented on #164
@sunli829 do you plan to also add `GQLObject` for `Object` ? I have currently this issue with `Object` :(

[2020-06-15 14:04] sunli829 commented on #164
There is no way, perhaps until rust supports it.

[2020-06-15 14:09] sunli829 commented on #173
I will think about how to solve this problem better these days.

[2020-06-15 17:42] Amareis commented on #132
There is my benches (2 core CPU, jemalloc enabled)
[code]

In fact, there is solid 5% speed up in sync resolvers. Not bad, I think!

But, still, for each field future is creating (because of `resolve_field` is still async and it's used by resolve). And for each returned value too (because of async `OutputValueType::resolve`). And although `resolve_field` is crucial in current architecture, return

[2020-06-15 22:39] Farkal commented on #91
Any news about this one ? I can try to help if you need ;)
It's the only think that prevent me to move from juniper to this lib (i use https://github.com/davidpdrsn/juniper-from-schema ) it's easier to design app directly from graphql scheme.
But it also introduce some issues because you can't derive an already declared struct so you have to create an new interface, impl From...
I don't know if we

[2020-06-16 01:13] sunli829 commented on #132
It is difficult to support sync scalars without generic specialization. 😕

[2020-06-16 03:34] phated commented on #132
@sunli829 Would it be possible to implement a `#[SyncObject]` macro where **no** methods could be async?

[2020-06-16 04:00] sunli829 commented on #132
I'm currently using the `async` keyword, but the slowest one is actually `resolver.rs`.
I think we should wait until the generic specialization support is in place, otherwise it will make the library more complex to use.

[2020-06-16 09:19] Amareis commented on #132
Why so? We always know field return type. It can be
a) built-in scalar
b) custom scalar
c) object
d) container (list/optional) of a, b, or c.

And we have list of built-in scalars names, currently all of it is sync.

So algorythm is not so complex, it can be just small macro function:
1. Strip all containers, from return value type, let result be `MainType`.
2. If `MainType` is built-in scalar, di

[2020-06-16 10:21] bnjjj opened #180 "Question about federation"
Hello, I'm currently trying to implement federation with apollo gateway. And the gateway tells me this:
[code]

In fact I have
[code]
which is identified by UserUID which is a personal scalar.

And then when I want to extend User in another service I have:
[code]

Can you tell me where I'm wrong ? Where I forgot something ?

[2020-06-16 13:38] bnjjj commented on #180
Ok got it ! The issue wasn't displayed in my examples but in my query extended I added an `entity` like this:
[code]

and in fact the name `id` here has to be named `uid`.

[2020-06-16 13:42] bnjjj commented on #180
Another question @sunli829 do you know how I can do when I need to access data from another service to resolve a field located in another service. Here is an example :
[code]

 and I have another service with
[code]

[2020-06-16 13:59] sunli829 commented on #180
Each service should be independent, so you shouldn't do this, you can look at this example, it's simple enough.

https://github.com/async-graphql/examples/tree/master/federation

[2020-06-16 14:01] sunli829 commented on #132
I think it's a good idea, and I'll try. 😁

[2020-06-16 14:03] sunli829 commented on #180
If your service has no entity, you can manually enable federation support with `SchemaBuilder::enable_federation`.

[2020-06-16 14:39] bnjjj commented on #180
Can you provide me some documentation about this https://github.com/async-graphql/examples/blob/master/federation/federation-reviews/src/main.rs#L59 ?

[2020-06-16 15:13] sunli829 commented on #180
Notice the return type of the `Obj::value` function.

[code]

[code]

[2020-06-16 15:26] bnjjj commented on #180
Great thank you !

[2020-06-16 22:03] sync commented on #146
btw this is the client PR: https://github.com/async-graphql/examples/pull/14 for defer on the fragment

[2020-06-17 21:17] mwilliammyers commented on #172
Yeah, I think it definitely should, until we get to 2.0.0 and then we can go back to the current method.

[2020-06-18 09:19] bnjjj commented on #180
Hello again @sunli829 haha ! I have a new question. If I want to make this https://www.apollographql.com/docs/apollo-server/federation/entities/#defining-a-compound-primary-key

For now I have
[code]

and in my query:

[code]

I can see that the entity is good, I have a `@key(fields : "id userUid") but I think my issue i with the `external` field. Do you know How I can make a compound for `externa

[2020-06-18 10:16] sunli829 commented on #180
Because other types are not dependent on this external field.
When you extend a type, you do not need to mark all fields as `#[external]` unless the field is used by a type in another service.

[2020-06-18 11:22] bnjjj commented on #180
Ok, in fact I need `user_uid` to resolve in another resolver so I just added `requires` on this field. Is it correct ?
[code]

[2020-06-19 02:28] sunli829 commented on #180
### This is an example of extending the `User` object.

https://github.com/async-graphql/examples/blob/c6eb3f56f55b2f09586102f020e86e9ba0000c76/federation/federation-reviews/src/main.rs#L17

https://github.com/async-graphql/examples/blob/c6eb3f56f55b2f09586102f020e86e9ba0000c76/federation/federation-reviews/src/main.rs#L68

### Federation doc

https://www.apollographql.com/docs/apollo-server/feder

[2020-06-19 02:53] sunli829 commented on #180
Can you provide an example repo?  😁

[2020-06-19 03:05] sunli829 commented on #180
This may be a bug and I'm checking it out.

[2020-06-19 03:56] sunli829 commented on #180
Sorry, `async-graphql` doesn't support this right now, I'm adding it. 😂

https://www.apollographql.com/docs/apollo-server/federation/entities/#extending-an-entity-with-computed-fields-advanced

[2020-06-19 04:43] sunli829 commented on #180
Extending Product object

[code]

Query

The key of the `Product` is `upc`, and the `name` and `price` are external fields.

[code]

[2020-06-19 05:05] sunli829 commented on #180
Please upgrade to `v1.15.15`. 😁

[2020-06-19 07:28] bnjjj commented on #180
Great ! Thank you !

[2020-06-19 07:47] bnjjj commented on #180
Just to be sure, in case I don't write `#[arg(key)]` the behavior stay the same as before ? Is `#[arg(key)]` only interesting in case of multiple arguments ?

[2020-06-19 09:14] sunli829 commented on #180
Yes. 😀

[2020-06-19 09:15] sunli829 commented on #180
https://async-graphql.github.io/async-graphql/en/apollo_federation.html

[2020-06-19 09:21] bnjjj commented on #180
Thanks for your hard work ! Keep going guy ! If you need help, feel free :)

[2020-06-19 09:21] #180 closed

[2020-06-19 17:36] phated opened #182 "Traits to implement without macros"
@sunli829 I've been thinking that I would like the flexibility of implementing my own resolver logic instead of using the macros. Have you considered adding traits that can be implemented instead of using the macros?

[2020-06-19 22:39] nicolaiunrein commented on #182
I thought about this as well and have a specific use-case: All my services need to implement a set of resolvers in order to provide some shared functionality. It would be awesome if I could just provide a supertrait for this but it only works if I have access to whatever the macros produce. I also think exposing a trait like this would give people the ability to write libraries/frameworks on top o

[2020-06-19 23:55] mwilliammyers commented on #172
@sunli829 Also can we really try to make an effort to limit breaking changes to minor version bumps at least (e.g. `1.15.0` -> `1.16.0`?

It is really hard to pin `async-graphql`, `async-graphql-parser` and `async-graphql-warp` etc.  to specific versions without compile issues, so I currently do `1.15.*` etc. and that seems to work well but then if I run `cargo update` (not expecting breaking chan

[2020-06-19 23:57] mwilliammyers commented on #172
Also, we don't need to release 2-4x a day (or even daily), unless you really want to... If people want bleeding edge releases, they can depend on git revisions instead of a crates.io release.

(just my two cents)

[2020-06-20 01:58] sunli829 commented on #182
Do you mean using generics instead of macros to do everything?

[2020-06-20 02:17] sunli829 commented on #172
Because I often release a version and then find a bug and then release a patch. 😂

[2020-06-21 00:13] phated commented on #182
@sunli829 No, I mean that this project should allow consumers to implement a trait directly if they don't (or can't) use the macro. If you look at the Diesel library, they allow you to implement the `Queryable` trait if you cannot use `derive(Queryable)`

[2020-06-21 07:06] nicolaiunrein commented on #182
@phated Good example. I think this boils down to my use-case. @sunli829 I **do not** want to change the internals of async-graphql. Nor do I want to change the external API of async-graphql. I just think about how we could improve it to make it more flexible for library authors. Consider the below example.

As I said all my services need to provide a set of resolvers with the same signature. What

[2020-06-22 01:17] sunli829 commented on #182
I export the type `ObjectType` so that I can implement a GraphQL Object without a macro.
But I need to modify the API to make it easier to use.

`Edge` is a GraphQL Object implemented without macros.
https://github.com/async-graphql/async-graphql/blob/master/src/types/connection/edge.rs

[2020-06-22 01:34] phated commented on #182
Yes, I think that is important. Right now, I think it is too complex to implement the ObjectType right now.

[2020-06-22 02:23] sunli829 commented on #182
Yes, the API needs to be simplified.

[2020-06-23 10:50] sync opened #183 "Build issue with latest release (1.16.0)"
My CI ping me a little while ago about a broken build, is there something I need to change on my side to get this compiling ?

ci also update `-derive`, previous version was `1.15.12`:
[code]

This is the build error:
[code]

[2020-06-23 11:13] sunli829 commented on #183
Now the resolver for `SimpleObject` returns the borrowed value by default.

`#[async_graphql::Interface(field(name = "id", type = "&ID"))]`

[2020-06-23 11:15] sync commented on #183
Cool will change my code thanks for the quick reply

[2020-06-23 11:15] #183 closed

[2020-06-23 11:15] sunli829 commented on #183
If you want to return the ownership value as before, you need to add the `owned` attribute.

[code]

[2020-06-23 15:33] rkudryashov opened #184 "Compilation error after version update"
In the repro-project (https://github.com/rkudryashov/async-graphql-reproducer) I have the following structure:

[code]

After update from "1.14.11" to "1.16.0" I get the following error:

[code]

But in both places the field is defined as `i32`, not a reference. Is it a bug or I just missed some code changes while version update?

[2020-06-23 21:04] phated commented on #184
Hey @rkudryashov, it looks you ran into the same issue as https://github.com/async-graphql/async-graphql/issues/183#issuecomment-648078572

Hope that helps!

[2020-06-23 21:04] #184 closed

[2020-06-23 21:10] phated opened #185 "Context improvements"
I've been working with `ctx.data()` and sometimes data doesn't exist (e.g. there might not be a `User`), but if I don't explicitly make it an `Option<User>`, the `data()` function panics.

I think we should always return an `Option` from the method so it doesn't panic. This would make it the same as Tide's `ext()` method: https://docs.rs/tide/0.11.0/tide/struct.Request.html#method.ext

If the cons

[2020-06-23 21:31] phated commented on #185
I see that we have `data_opt` for the Option version. Is there a reason we want to provide the version that panics?

[2020-06-24 03:49] sunli829 commented on #185
Because most of the time data of the specified type will always exist, it is more convenient to use `Context::data`.

[2020-06-24 03:57] phated commented on #185
But you can unwrap. I think that Rust libraries shouldn't have the risk to panic.

[2020-06-24 05:20] Koxiaet opened #186 "Use fully qualified paths in macro expansion"
Currently, this fails to compile:

[code]

If the macro expansion used `::std::` instead of `std::` then it would (at least in the 2018 edition). This applies to `async_graphql::` too - writing `mod async_graphql {}` breaks it.

[2020-06-24 05:30] Koxiaet opened #187 "Add Transparent macro"
Add a `Transparent` attribute macro which allows for transparent GraphQL objects. Its use case is avoiding clones with locked data. For example, the query section of [the books example](https://github.com/async-graphql/examples/blob/master/models/books/src/lib.rs) could be rewritten as:

[code]

This new version completely avoids cloning the books and so is much more efficient, but is currently im

[2020-06-24 05:38] Koxiaet commented on #185
But panicking is what people want anyway. The purpose of panicking is when there is a programmer error or an unrecoverable error; unless the user has _explicitly stated_ they can recover, it's very unlikely they will want to. Additionally, in pretty much all cases it will be a programmer error so it makes sense for the defaults to follow that.

[2020-06-24 05:52] sunli829 commented on #185
Yes, that's why this function exists.

[2020-06-24 06:08] sunli829 commented on #187
It would be simpler to use `Arc` to avoid deep Clone, don't you think? 😀

[code]

[2020-06-24 06:09] sunli829 commented on #186
This is a hard bug to spot. 😂

[2020-06-24 06:12] sunli829 commented on #185
Like `Index::index`, when it panics, it's usually an unrecoverable programming error.

[2020-06-24 07:33] Koxiaet commented on #187
@sunli829 That's true, but this method results in better performance, and since this is the hot path for most applications it might be worth allowing it. But maybe only as a long-term goal since using `Arc` isn't _that_ bad.

[2020-06-24 08:17] sunli829 commented on #187
It's not a good idea, it's too complicated to use, and it can actually cause more serious performance problems.

[2020-06-24 08:40] phated commented on #185
Panics from a crate should only happen at program startup. This is a bad pattern we have implemented.

End users can always unwrap if they want to be unsafe.

[2020-06-24 09:00] Koxiaet commented on #187
I agree on it being complicated to use. Since you think it doesn't suit the current API I'll close this issue.

Out of curiosity what are those other performance issues you mentioned?

[2020-06-24 09:00] #187 closed

[2020-06-24 11:02] sunli829 commented on #187
In general, we should minimize the duration of locks to achieve better concurrency.

[2020-06-24 11:05] sunli829 commented on #185
In fact, I just hate too much `unwrap`, and I think `Context::data` is easier to use. 😀

[2020-06-24 17:54] phated commented on #185
Since you are very concerned with the type safety of this project, it is weird that you'd want to have this panic.

I am working on a replacement to this API that will avoid the panic, while avoiding Option in many cases. Please leave this open until I can finish.

[2020-06-24 18:19] phated commented on #186
@sunli829 can that be caught by enabling: https://doc.rust-lang.org/unstable-book/language-features/proc-macro-hygiene.html#proc_macro_hygiene ?

[2020-06-25 11:58] ruseinov commented on #185
I tend to agree with @sunli829 that the current api is super convenient to use and would prefer to avoid any extra complexity in this api, even if there is a danger of panic. The main reason for that is that one is forced to put a bunch of stuff that always exists into the context, like a database handle, for example. Having to do extra unwraps there would definitely ruin the simplicity of the api

[2020-06-25 12:02] ruseinov commented on #185
One other thing that would be cool to have as an option is the ability to embed context data directly into method declarations similar to that in actix-web.

[code]

[2020-06-25 14:52] Koxiaet opened #188 "Interface/union input types"
As far as I can tell, `async-graphql` doesn't currently support making interface/union input types; there's `SimpleObject`, `InputObject`and `Interface` but no `InputInterface`.

[2020-06-25 15:00] phated commented on #188
The GraphQL spec doesn't allow interfaces for input types: https://stackoverflow.com/a/45554361

[2020-06-25 15:06] Koxiaet commented on #188
That's such a shame! I just assumed it would :(.

[2020-06-25 15:06] #188 closed

[2020-06-25 17:54] Koxiaet opened #189 "Implement Type for more stdlib collection types"
Currently `Type` (and other hidden traits) are only implemented for a few stdlib types - however, it would make sense to implement it for these ones too:

* `Cow<T> where &T: Type`
* `HashMap<String, T>`, `HashMap<&str, T>`, `HashMap<Cow<str>, T>`
* Same as above for `HashSet`
* Same as above two for `BTreeMap` and `BTreeSet`
* `VecDeque`
* `LinkedList`
* `NonZero*` types
* `char` (which could be

[2020-06-25 20:07] phated commented on #185
@ruseinov That is pretty much what I was thinking. Though I don't think we need to separate the Context and the ContextData. I think we could provide an API like Tide's `req.state()` method (https://docs.rs/tide/0.11.0/tide/struct.Request.html#method.state)

@sunli829 could this API be implemented? I have been trying today but I keep having trouble with lifetimes (I still don't fully understand th

[2020-06-25 20:59] ruseinov commented on #185
@phated 👍🏿 This is a good middle-ground, supporting both this and the current approach should make everyone happy.

[2020-06-26 01:53] sunli829 commented on #189
There is no corresponding definition in GraphQL's type system, and if you want to use these types, I suggest you use `async-graphql::Json` instead.

[2020-06-26 01:57] sunli829 commented on #186
This should only support the nightly version, right?

[2020-06-26 02:05] phated commented on #186
@sunli829 we can run tests with +nightly to check in CI

[2020-06-26 02:19] sunli829 commented on #186
I don't think this will solve the above problem because the stable version doesn't work. Maybe I misunderstood?

[2020-06-26 05:03] Koxiaet commented on #189
But it can still be implemented for types other than the map and set types, right?

[2020-06-26 05:13] Koxiaet commented on #189
You could also implement it for `u128` and `i128`, since you serialize it as a string.

[2020-06-26 06:51] sunli829 commented on #189
I think these can be implemented using custom scalar types, rather than being provided by this library.

[2020-06-26 06:54] sunli829 commented on #185
I don't think this generic state makes any sense other than a negligible performance boost, and it makes the API more difficult to use.

[2020-06-26 06:56] sunli829 commented on #185
This `state` can become a kind of pollution that is everywhere in the library. Look at Juniper.

[2020-06-26 06:57] sunli829 commented on #185
https://github.com/graphql-rust/juniper/issues/655

Look at this. I think this is the right thing to do.

[2020-06-26 11:01] ruseinov commented on #185
That sounds good

[2020-06-26 18:04] olibearo opened #191 "Exporting schema with code first definition"
What is the recommended flow for this? It would be preferable to export it programmatically.

I want to use my schema with [graphql-client](https://github.com/graphql-rust/graphql-client) and it asks for a schema file. If there is a better Rust client, maybe one which can introspect the schema, I would appreciate the recommendation.

[2020-06-26 18:11] phated commented on #191
You can use a bunch of tools to fetch the schema from your server. I use https://www.npmjs.com/package/graphql-cli/v/3.0.14 (version 3 because the new authors completely changed the project) to fetch and save my schema into the project.

This also came up at https://github.com/async-graphql/async-graphql/issues/68#issuecomment-643305339 and we decided using a tool to fetch the schema is the best a

[2020-06-26 18:39] phated commented on #185
@sunli829 wow, just read that proposal and it sounds great! Do you think it will be hard to change?

[2020-06-26 18:50] phated commented on #189
@sunli829 should we create another repository with community custom scalars? Maybe @Koxiaet would want to contribute.

[2020-06-27 03:02] sunli829 commented on #189
No, `async-graphql` is already using `HashMap<TypeId, Box<dyn Any>>`.

[2020-06-27 03:02] sunli829 commented on #185
No, async-graphql is already using HashMap<TypeId, Box<dyn Any>>.

[2020-06-27 03:18] olibearo commented on #191
Appreciate the tip @phated

[2020-06-27 11:39] ruseinov commented on #185
I mainly provided this example because I like this type of approach
[code]

more than this
[code]

The latter results in plenty of boilerplate, which could arguably be brought to library level. The ability to have it both ways would also work, similar to that in actix.

[2020-06-27 11:44] ruseinov commented on #185
While thinking about this I must also say that it would be nice to be able to optimize on:

[code]

The problem with current approach is that one needs to do extra allocations on each request to the graphql, because it is being set up on a per-request basis. It might be cool if we could use some bootstrapped version of this, so that the `query.data` setup didn't have to happen on each request, or

[2020-06-27 15:21] Koxiaet opened #192 "Allow suspicious else formatting in Object macro expansion"
Clippy warns me of suspicious else formatting in the expansions of my Object macros:

[code]

Please allow this lint so it doesn't clutter people's warnings.

[2020-06-27 15:30] Koxiaet commented on #192
Additionally, `clippy::used_underscore_binding` needs to be allowed if people are using `clippy::pedantic`.

[2020-06-28 05:39] sunli829 commented on #185
This doesn't seem to make much sense.

[2020-06-28 05:44] phated commented on #185
@sunli829 I wanted to give you an update. I tried implementing the `FromContext` trait, and if you use that, you block people from using core data types for Context.

I still think we should have a concrete type that Context wraps, and then allow additions with `data()` for per-request data.

[2020-06-28 06:30] sunli829 commented on #192
How about this change? 😁

[2020-06-28 06:31] sunli829 commented on #185
How does this `FromContext` work?

[2020-06-28 06:40] phated commented on #185
@sunli829 I implemented the same was as the Juniper issue you linked. It is a good idea, but it cannot be done without specialization to provide a blanket implementation for core types.

[2020-06-28 06:49] sunli829 commented on #185
How about this?

[code]

[2020-06-28 06:54] phated commented on #185
@sunli829 for what?

[2020-06-28 06:58] sunli829 commented on #185
`FromContext` doesn't seem very convenient to use, it complicates a very simple thing.

[2020-06-28 07:03] phated commented on #185
Have you changed your mind?

I think we should implement:

[code]

[2020-06-28 07:04] sunli829 commented on #185
This is not good, this `State` parameter will be everywhere, very inconvenient to use.

[2020-06-28 07:05] sunli829 commented on #185
I know `tide` is like this, but I don't think this is a good design because it's really inconvenient to use.

[2020-06-28 07:06] phated commented on #185
@sunli829 my suggestion is much easier than the anonymous lifetime we currently require. We just recommend to users that they should alias the type. This is a very reasonable API to have.

[2020-06-28 07:06] phated commented on #185
How are type aliases inconvenient to use?

[2020-06-28 07:08] sunli829 commented on #185
The entire library needs a massive refactoring to support generic `Context`.

[2020-06-28 07:09] phated commented on #185
Yes, I started on it and the lifetime makes it **extremely** difficult to refactor to add the generic to type type signature.

[2020-06-28 07:10] sunli829 commented on #185
But the end result is no different from the following, and of course, one less memory allocation cost that is almost negligible.

[code]

use

[code]

[2020-06-28 07:11] phated commented on #185
This is not the point in making the change. We should not have a library that panics at runtime. I have asked the others in my Rust group and they think our panic is **very bad**

[2020-06-28 07:12] sunli829 commented on #185
So, here's my solution, maybe you could use the `data_ok` function.

[code]

[2020-06-28 07:13] phated commented on #185
We already have `data_opt`, so that solution is not enough.

[2020-06-28 07:14] sunli829 commented on #185
Yes, I think the `data_ok` also makes no sense, and most of the time people return the error they want.

[2020-06-28 07:18] phated commented on #185
The `Context` should contain data that is **guaranteed** to be there and is verified by the compiler, and we can also have an API `data()` like we have now, but it **always** returns option.

[2020-06-28 07:19] sunli829 commented on #185
The `Panics` section of the document states that this function is at risk of panic, and you might think that's not enough?

[code]

[2020-06-28 07:20] sunli829 commented on #185
What you're saying can only be done by adding generic arguments to the Context, which requires massive refactoring, and I wonder if that's really necessary.

[2020-06-28 07:21] phated commented on #185
Yes, it needs a lot of refactoring, but I thought we wanted the best GraphQL library? Am I mistaken?

[2020-06-28 07:23] sunli829 commented on #185
Like `actix-web`, I think it's much easier to use than tide's `State`.

https://github.com/actix/actix-web/blob/23c8191cca7264076d58816923b6f25eb89e6107/src/app.rs#L103

[2020-06-28 07:25] phated commented on #185
@sunli829 isn't that introducing a generic? The example looks to have a concrete type.

[2020-06-28 07:26] sunli829 commented on #185
Because I know exactly what data types are in my `Data`, I'll just use `Context::data`. If I know that a data type may exist, I use `Context::data_opt`.
If the `Context::data` causes panic, it's the people using the library that cause the problem, not the library, right?

[2020-06-28 07:29] phated commented on #185
No, you don't have an issue because you **wrote** those methods. I used the APIs and my application had a panic. That is a bad API. Rust type signatures do not let you indicate panics, so you rely on written documentation that doesn't show in editor tooling.

You brag that this library's safety, but have a panic API, which is very unsafe.

[2020-06-28 07:37] sunli829 commented on #185
Since this is not the right thing to do, why is there such a function in the standard library?

[code]

[2020-06-28 07:46] phated commented on #185
Panics are usually a legacy issue that can't be changed because they are in the standard library or underlying system libraries can crash.

[2020-06-28 07:53] Koxiaet commented on #185
Panics are _not_ a legacy issue. They are intentionally there to make writing code easier and avoid having to write unwrap everywhere, which looks really ugly. If your code is panicking it means that you have a bug, and you can't expect Rust to protect you from all bugs without dependent types. Especially here it is an extremely rare case in which this implementation would cause you to panic. Yes,

[2020-06-28 07:56] phated commented on #185
@Koxiaet The entire point of the Hindley-Milner type system that Rust uses is that a program that type checks is **sound** and will not crash if it compiles. Rust has panics because it interops with C code that can panic, but async-graphql does not use any C code and removed all unsafe code, so a program using it should be **sound**

[2020-06-28 08:01] phated commented on #185
Let's be clear: the only reason I'm being argued against is that it would require development effort to support the API I'm suggesting, not that we should have a panicking API in the project... So there's no point in arguing about the panic. We should discuss how we improve the API

[2020-06-28 08:07] Koxiaet commented on #185
That's not true. Panics are an entirely Rust thing. C code can't panic. Panics are designed to be a sound replacement of UB, and idiomatic Rust code _will_ panic if it needs to.

At least in my opinion, whether we use a generic type parameter or dynamic types really doesn't matter. The performance is basically identical for both, they are almost equally easy to use, and while compilation errors ar

[2020-06-29 05:37] #87 closed

[2020-06-29 05:38] #91 closed

[2020-06-29 05:38] #103 closed

[2020-06-29 05:38] #138 closed

[2020-06-29 05:38] #143 closed

[2020-06-29 05:39] #158 closed

[2020-06-29 05:39] #164 closed

[2020-06-29 05:39] #172 closed

[2020-06-29 05:40] #185 closed

[2020-06-29 05:40] #186 closed

[2020-06-29 05:40] #192 closed

[2020-06-29 17:26] ruseinov commented on #185
@sunli829 have you thought of being able to propagate the "data" supplied to actix-web into the async-graphql context in a more convenient way than just
[code]

?
Since we already have a plugin it might make sense to have some sort of helper that'd just propagate all the objects stored in actix-data to graphql-context as it is a very common use-case, which introduces potential room for error as yo

[2020-06-30 07:49] arlyon opened #194 "Subscriptions issue: "multiple applicable items in scope""
I would like to avoid bundling tokio _and_ async std, so I'm trying to adapt the example to use async_std's interval. Here is the adapted code:

[code]

This causes an error, which seems to come from inside the macro somewhere:

[code]

Any ideas? I am happy to update the examples to drop the tokio requirement if I get this working.

[2020-06-30 08:00] sunli829 commented on #194
This is a namespace bug and I'm working on it.

[2020-06-30 08:12] arlyon commented on #194
After some more experimentation, seems like importing `Stream` and `StreamExt` from futures does the trick, but async_std errors. Thanks for the quick reply!

[2020-06-30 08:16] sunli829 commented on #194
I have fixed this issue in `v1.16.3`.

[2020-07-01 14:00] Koxiaet opened #195 "Correct handling of raw identifiers"
Currently this:

[code]

Produces a field `rAbstract` on `Paper`; it should result in simply `abstract`.

[2020-07-01 14:55] danielSanchezQ opened #196 "ScalarType for i/u64 represented as integer instead of string"
In previous versions the `ScalarType` trait relied in a `to_json` method. It was possible to represent an int (i/u64) as a integer instead of a string for responses.
Right now the `ScalarType` relies on a `to_value` method in where any integer can be represented as a number just up to i32 (`Value(i32)`).  Completely invalidating the other possibility.
Maybe can be a good idea to keep the `to_json`

[2020-07-01 21:51] phated commented on #196
I'm pretty sure the JSON spec doesn't support BigInts, so I think you have a bug in your API

[2020-07-02 02:06] sunli829 commented on #195
Duplicate issue #144.

[2020-07-02 02:29] sunli829 commented on #195
I fixed this in `v1.16.4`.

[2020-07-02 05:35] danielSanchezQ commented on #196
Maybe I was unfortunate. I meant big ints (i64, u64), not really BigInt.
Referencing the JSON limit there is an interesting [post](https://stackoverflow.com/questions/13502398/json-integers-limit-on-size).
I don’t think is really a bug since it was working as expected with plain json_serde (and it was working as expected before the change in the ScalarType trait). But I’m completely open to sugges

[2020-07-03 01:09] sunli829 commented on #194
@arlyon If this problem has been resolved, close it.

[2020-07-03 01:10] sunli829 commented on #195
@Koxiaet  If this problem has been resolved, close it.

[2020-07-03 05:52] Koxiaet commented on #195
Oh sorry, I thought you closed it.

[2020-07-03 05:52] #195 closed

[2020-07-03 07:44] arlyon commented on #194
Just upgraded. Fixed :)

[2020-07-03 07:44] #194 closed

[2020-07-03 09:24] leesiongchan opened #197 "Add Relay Global Object Identification to the project"
Since we have added Relay Connection to the project, do you think is a good idea to add Global Object Identification to the project as well?

References:
- https://relay.dev/graphql/objectidentification.htm
- https://github.com/graphql/graphql-relay-js/blob/master/src/node/node.js

[2020-07-03 13:54] msdinit opened #198 "Apollo batch request support"
Hi!
Do you have any interest in supporting [batch requests](https://www.apollographql.com/blog/batching-client-graphql-queries-a685f5bcd41b)?

[2020-07-03 14:26] sunli829 commented on #198
I think this feature is useful. Would you like to provide a PR?

[2020-07-03 14:52] msdinit commented on #198
Sure, although might take some time.
Deserializing the request is pretty straightforward:

[code]
Mostly need to look through the codebase to deside how the resulting `BatchGQLRequest` should be used

[2020-07-03 15:31] sunli829 commented on #198
This is where the request is processed.

https://github.com/async-graphql/async-graphql/blob/0e4cf8688441ba2f1f01c40ad49f494f096f5d5f/src/http/into_query_builder.rs#L129

[2020-07-03 19:36] phated commented on #197
@leesiongchan this already exists as `async_graphql::ID`

[2020-07-03 19:36] #197 closed

[2020-07-06 13:49] bnjjj opened #200 "Put a cfg attribute on a resolver"
Is there a way to put a cfg attribute on a resolver. For example :

[code]

But it's not working. I already know the option `feature` for field attribute but what I want here is to not include this into my schema. It's not working for now rustc tells me the method `all_users` is not found :(

[2020-07-06 16:15] sunli829 commented on #200
This is not possible due to the limitations of procedural macros.

[2020-07-06 16:33] Koxiaet opened #201 "Update documentation on `#[arg(default)]`"
The [documentation for `#[arg(default)]`](https://docs.rs/async-graphql/1.16.5/async_graphql/attr.Object.html#field-argument-parameters) just says that it takes a string, and doesn't at all mention that it takes a literal, can call `::default()` and `default_with` - this behaviour is only documented in [the book](https://async-graphql.github.io/async-graphql/en/default_value.html).

[2020-07-07 02:33] sunli829 commented on #201
It would be better if you could help me to add this document. 😁

[2020-07-07 07:35] #200 closed

[2020-07-07 08:37] danielSanchezQ opened #203 "Panic when requesting schema"
When using a tool like `https://www.npmjs.com/package/get-graphql-schema` or loading a playground the server panics with:

[code]

Whe running like:

[code]

A full stacktrace looks like:
[code]

I could reproduce it with what [graphiql uses for requesting the schema](https://stackoverflow.com/a/46543255) too.

Is this supported? or is there a workaround?

Thank you for all in advance.

[2020-07-07 08:55] #201 closed

[2020-07-07 08:58] sunli829 commented on #203
This is a bug I'm looking at.

[2020-07-07 08:59] danielSanchezQ commented on #203
If I can be of any help please let me know :)

[2020-07-07 08:59] sunli829 commented on #203
Can you provide your schema definition?

[2020-07-07 09:05] danielSanchezQ commented on #203
https://github.com/danielSanchezQ/vit-servicing-station/tree/master/vit-servicing-station-lib/src/v0/endpoints/graphql/schema
I have it in that folder, it is really simple.

[2020-07-07 18:11] Danue1 opened #205 "Can we add it to the doc?"
Can we add that the #[Object] impl per object can only be used once?

First, I am a Rust beginner.
I tried to use #[Object] impl multiple times in one struct, but later realized that I couldn't.
I know now why it doesn't, but I think it's often the case for others.

* write with google translation

[define_complex_object](https://async-graphql.github.io/async-graphql/en/define_complex_object.html)

[2020-07-08 00:18] sunli829 commented on #203
You did not create the correct type information.

https://github.com/danielSanchezQ/vit-servicing-station/blob/084768b09710a29e9e391343310daf0d5e56fea1/vit-servicing-station-lib/src/v0/endpoints/graphql/schema/vote_options.rs#L23

[2020-07-08 00:21] sunli829 commented on #203
I don't know why you implement a GraphQLObject manually instead of using macros.

[2020-07-08 01:29] sunli829 commented on #91
Now there is a separate project to do this, thanks to @atsuhiro.

https://github.com/atsuhiro/codegen-for-async-graphql

[2020-07-08 05:22] orefalo commented on #91
Nice, thanks for pointing it out

[2020-07-08 05:27] danielSanchezQ commented on #203
I wanted to define the actual `OutputValueType` for that type (since it is a wrapper around a `HashMap`). So the output will not contain any subfield, but it is serialize as it is.
Is this possible any other way?

[2020-07-08 05:33] sunli829 commented on #203
You should use `async_graphql::Json`.

https://docs.rs/async-graphql/1.16.6/async_graphql/struct.Json.html

[2020-07-08 05:40] danielSanchezQ commented on #203
If I have the objects:

[code]

I know I can serialize `Bar` directly in the `Foo` implementation. But, ideally, `Bar` should know how to do it by himself.
How would `async_graphql::Json` be used for this?

Thanks!

[2020-07-08 06:14] sunli829 commented on #203
I'm adding an `OutputJson` type that accepts a type that implements only Serialize.

[2020-07-08 07:06] sunli829 commented on #205
I updated the document. 😀

[2020-07-08 07:07] sunli829 commented on #203
I added the `OutputJson` type in `v1.16.7`.

[2020-07-08 07:17] sunli829 commented on #203
Here is the test code.

https://github.com/async-graphql/async-graphql/blob/master/tests/json_type.rs

[2020-07-08 12:10] Danue1 commented on #205
WOW, COOOOOOOOOL!!!
THANK YOU VERY MUCH!!!

[2020-07-08 12:10] #205 closed

[2020-07-08 14:43] danielSanchezQ commented on #203
That seems about right. BTW, it solves the problem with the schema I tested it. Works like a charm. Thanks!!

[2020-07-08 14:43] #203 closed

[2020-07-08 16:14] danielSanchezQ commented on #196
@sunli829 , the new `OutputJson` should fix this too. Since an `OutputJson<i64>` would encode the number as `999999`, instead of `"999999"` for example. So, one stone, two birds. I'll test it tomorrow. Thanks!

[2020-07-08 20:30] Stanislav-Lapata commented on #196
In browser console
[code]
JavaScript doesn't support i64

[2020-07-09 01:21] sunli829 commented on #196
Agree, although the JSON standard allows BigInt, I recommend that i64 be stored as a string, which is safer.

[2020-07-09 09:45] leesiongchan opened #207 "Input validator is ignored when using variable"
[code]

[code]

[2020-07-09 10:12] danielSanchezQ commented on #196
I tested it and it also solve "that problem".
Some considerations here:

I understand that _JS_ do not support it and if you want to stick for it for the standard types I think it is ok. But, being flexible looks like a good option for me. In some (maybe many) cases _JS_ will not be the final consumer of the data. And I think it is **useful** to have this possibility.

Thanks for everything @sunli

[2020-07-09 10:12] #196 closed

[2020-07-09 10:48] sunli829 commented on #196
You can actually customize the scalar to solve this problem, which I think is better than using OutputJSON.

[2020-07-09 11:28] danielSanchezQ commented on #196
I did it with the old `trait`. Couldn't do it with the new one. I'll take another look though.

[2020-07-11 02:06] sunli829 commented on #207
I fixed this problem in `v1.16.9`. 😀

[2020-07-11 02:54] sunli829 opened #208 "VERSION 2.0 IS COMING SOON"
I think the current API is basically stable, so I plan to release version 2.0 in the next few days.

[2020-07-11 04:30] phated commented on #208
@sunli829 Will you begin to follow https://semver.org after the 2.0 release?

[2020-07-11 08:52] rkudryashov opened #209 "Introspection query fails when query depth/complexity limit is specified"
If I specify

[code]

then docs stop showing in, for example, embedded Playground. But by specifying limits I want to restrict only _real_ expensive queries. Is there a way to determine whether some query is an introspection query not to apply those limits to it?

[2020-07-12 03:09] #207 closed

[2020-07-12 03:10] sunli829 commented on #208
Yes, there should be no major changes. 😀

[2020-07-12 03:12] sunli829 commented on #209
I think the best way is to turn off introspection queries in a production environment.

[2020-07-12 20:45] mwilliammyers commented on #208
Personally I think we should wait a few more days/weeks just to make sure everything is all settled and we don't notice any other breaking changes...

[2020-07-13 10:16] rkudryashov commented on #209
I think the issue can be closed if no one can add something to the discussion :)

[2020-07-16 15:24] phuoc-thanh opened #211 "Federation schema throws error while using multiple Option inputs"
When start Apollo gateway server, I got error:
[code]

with 2 inputs (Option type) on `top_products` fn in examples package, as follow:
[code]

But remove one Option, this is Ok:

[code]

[2020-07-17 02:16] sunli829 commented on #211
I fixed this in `v1.16.10`. 😁

[2020-07-17 03:00] Ericnr commented on #197
I'm confused, what is equivalent of `nodeDefinitions` in the [node.js implementation](https://github.com/graphql/graphql-relay-js/blob/8f4ed1ad35805ef233ad9fd1af33abb9c0cad35a/src/node/node.js#L34)? `async_graphql::ID` seems to be just the scalar.

A global object identification is supposed to be an id which lets you extract the actual database id + the graphql type that object represents. The nod

[2020-07-17 04:17] phuoc-thanh commented on #211
Thanks,

The latest version seems not work for me, I built with rustc 1.44.1.

[code]

Cargo files as follow:

[code]

[2020-07-17 04:52] sunli829 commented on #211
Cargo update

[2020-07-17 05:05] phuoc-thanh commented on #211
It works.

Thank you :D. This issue should be closed.

[2020-07-17 05:09] #211 closed

[2020-07-18 07:42] rkudryashov opened #212 "Question: `BigDecimal` rendering"
In the repro-project (https://github.com/rkudryashov/async-graphql-reproducer) I have `CustomDecimal` - wrapper for BigDecimal to use it as scalar:

[code]
[code]

Such implementation introduces an issue with precision, for example, this (https://github.com/rkudryashov/async-graphql-reproducer/blob/master/some-service/src/graphql.rs):

[code]

will be displayed as:

[code]

if I perform
[code]

I

[2020-07-18 07:49] sunli829 commented on #212
I recommend representing `Decimal` as a string, and the problem you're having now I think is caused by `BigDecimal`.

[2020-07-19 16:33] #212 closed

[2020-07-20 06:09] ilaborie opened #214 "How to handle duplicate definition"
I've got a compilation error : `error[E0592]: duplicate definitions with name `id` for something like:

[code]

I've try to use a `#[field(skip)]` on the field, but, it's remove the `id` into the Schema

How can I fix that issue ?

[2020-07-20 06:29] sunli829 commented on #214
I suggest changing the name of the `id` function, which is the only solution at present. 😁

[2020-07-20 06:59] ilaborie commented on #214
Thanks, for the quick answer.

[2020-07-20 06:59] #214 closed

[2020-07-21 04:03] #209 closed

[2020-07-21 18:12] nicolaiunrein opened #215 "panic in async-graphql-parser"
`query_parser::parse_value2` panics on unwrap if you pass in an overflowing integer. I was about to fix it myself but I'm not sure how the PositionCalculator works and don't want to introduce a new bug.

[2020-07-22 01:52] sunli829 commented on #215
I have fixed it on the master branch, please confirm whether the problem has been solved. 😁

[2020-07-22 11:07] sunli829 commented on #198
I have a suggestion about renaming.

BatchGQLRequest -> GQLRequest
GQLRequest -> GQLRequestPart
IntoBatchQueryDefinition -> IntoQueryDefinition
IntoQueryBuilderOpts -> IntoQueryDefinitionOpts

What do you think?

[2020-07-22 12:31] nicolaiunrein commented on #215
Seems good. I added tests in eb04dcd, please review.  I discovered that parsing overflowing floats results in values parsed to infinity. Since it is the "Rust way" of handling this I guess the second test is obsolete. Feel free to remove it! :laughing:

[2020-07-22 12:31] #215 closed

[2020-07-22 12:43] sunli829 commented on #215
Thank you! 😀

[2020-07-22 17:20] leesiongchan opened #216 "cargo install failed"
I was trying to build my docker image with `cargo install --path .` but it doesn't seem to be like working, does anyone know how to fix it?

version: 1.16.9

![image](https://user-images.githubusercontent.com/324418/88207459-67f2c680-cc82-11ea-8f49-1ba8a91814e8.png)

[2020-07-22 18:01] leesiongchan commented on #216
sorry, `cargo build --release` is working fine.

[2020-07-22 18:01] #216 closed

[2020-07-24 07:03] nicolaiunrein opened #217 "xlog 0.1.7 is breaking the build of 0.16.12"
My nightly build failed even though it succeeded 10 hours ago. I think this is related to the release of xlog 0.1.7 six hours ago since async-graphql is not depending on patch versions. Please see the log output below:

[code]

[2020-07-24 08:11] nicolaiunrein opened #218 "Discussion: share struct as Object and InputObject"
I have a couple of `InputObjects` which I would like to expose as `Objects` as well.  At the moment this results in code duplication since I cannot use `Object` and `InputObject` at the same time. Maybe this would be possible if we could define an `InputObject` on an impl block. How do you all deal with this kind of issue?

[2020-07-24 08:58] sunli829 commented on #217
I removed the dependency on `xlog` in `v1.6.13`.  😂

[2020-07-24 09:01] sunli829 commented on #218
You mean, define `SimpleObject` and `InputObject` for the same struct?

[code]

[2020-07-24 09:06] nicolaiunrein commented on #218
I was trying this  which doesn’t work:

[code]

[2020-07-24 09:12] sunli829 commented on #218
Due to the current limitations of program macros, adding more parameters can solve this problem, but it will make the API use more complicated.

[2020-07-24 09:14] nicolaiunrein commented on #217
Back to passing. Thanks!

[2020-07-24 09:14] #217 closed

[2020-07-24 09:16] nicolaiunrein commented on #218
But does your example above work? Using the derive?

[2020-07-24 09:49] sunli829 commented on #218
Same problem. 😅

[2020-07-25 09:21] adrian-wechner commented on #208
Anybody already tested it with actix-web version 3.0.0-beta.1? actix-web will soon release a new major version. They fixed up a bunch of stuff etc, and with that version async-graphql-actix-web doesnt seem to be compatible anymore. I bumped up the version dependency in async-graphql and async-graphql-actix-web to see if it would fix itself (by magic).... no luck no magic :)
I think it would be a g

[2020-07-25 10:18] rkudryashov opened #219 "Can't conditionally exclude a query (as well as mutation)"
I tried to conditionally compile a query:

[code]

(My host machine is running Windows.)

That produces:

[code]

It is compiled successfully when I change `target_os` to `windows`.

Is it possible to conditionally compile queries/mutations/subscriptions? Some scenarios for that I can imagine are when you need some queries only in debug mode or stage environments, but not in production.

Repro: ht

[2020-07-25 17:23] rkudryashov commented on #219
Also, if there is any other ability to conditionally "hide" a query, it would be nice.

[2020-07-26 10:11] sunli829 commented on #219
Due to the limitation of procedural macros, this cannot be supported.

[2020-07-26 23:34] sunli829 commented on #208
This is easy, and it will be supported soon after actix-web 3.0 is released.

[2020-07-27 07:56] #218 closed

[2020-07-27 08:03] nicolaiunrein commented on #219
You could have two mods with different subqueries and toggle the mods. Not very elegant but pretty sure this would work.

[2020-07-27 11:30] sunli829 commented on #219
That's one way to do it.

[code]

[2020-07-28 19:08] rkudryashov commented on #219
I thought I had found an elegant solution for my case:

[code]

But this is not compiled: `error: cannot find attribute `field` in this scope`

Is it by the same reason that was in the first comment?

[2020-07-29 01:46] sunli829 commented on #219
Due to the limitation of procedural macros, this cannot be supported. 😁

[2020-07-29 01:47] sunli829 commented on #219
Only `derive` can handle `cfg_attr` properly at the moment.

[2020-07-29 03:29] sunli829 commented on #212
Int64 is now supported.

[2020-07-29 03:38] sunli829 commented on #196
Int64 is now supported.

[2020-07-29 11:34] danielSanchezQ commented on #196
@sunli829 , I updated and it works great! Thanks!

[2020-07-29 17:35] rkudryashov commented on #212
@sunli829 if I understand correctly I should still use

[code]

for this?

[2020-07-29 17:42] rkudryashov commented on #212
Also, for another case I have tried to use `Value::Number`:

[code]

but that code stopped compiling:

[code]

I use the following dependencies:

[code]

[2020-07-29 17:50] olanod opened #221 "Return result for validators"
A small thing that triggered a bit of OCD, wouldn't it be more appropriate conceptually if the return type of a
`InputValueValidator::is_valid(&self, value: &Value)` is a `Result<(), String>` instead of an `Option<String>`? A failed validation is an error isn't it? and something going as expected `Ok`? `Result` can represent that better than "the absence of value" `None` :)

[2020-07-30 01:26] sunli829 commented on #212
[code]

[2020-07-30 01:44] sunli829 commented on #221
I think you're right, so I've changed the function's return value to be of type Result. 😁

[2020-07-30 06:44] rkudryashov commented on #212
Still is not compiled. It seems like `Value::Number` is not in the scope. Repro: https://github.com/rkudryashov/graphql-federation-rust, `cargo run`

[2020-07-30 06:45] rkudryashov commented on #212
Still is not compiled. It seems like Value::Number is not in the scope. Repro: https://github.com/rkudryashov/async-graphql-reproducer, `cargo run`

[2020-07-30 07:37] sunli829 commented on #212
[code]

[2020-07-30 09:06] rkudryashov commented on #212
Thanks

[2020-07-30 16:33] numToStr opened #222 "Rocket support?"
Is [rocket](https://github.com/SergioBenitez/Rocket) support planned? As rocket can be built on stable rust.

I really love this lib and using this with rocket will be awesome.

[2020-07-31 01:39] sunli829 commented on #222
In the plan, it should be added in the next few days.

[2020-07-31 04:00] sunli829 commented on #222
I tried it. `Rocket` does not currently support stable, so this work needs to be postponed. If you are familiar with `Rocket`, would you like to contribute an `async-graphql-rocket`? 😁

[2020-07-31 05:39] numToStr commented on #222
I am just getting started with rust and I was trying out rocket. Maybe I'll just wait for the `Rocket` support. 🤘🏻

[2020-07-31 06:46] nicolaiunrein commented on #222
Isn’t Rocket a synchronous framework?

[2020-07-31 09:26] numToStr commented on #222
I read that Rocket 0.5 will be async

[2020-08-02 05:43] Koxiaet opened #223 "Clean up crate root"
Currently the crate root contains a lot of items, which can be quite intimidating to new users. I propose that two new modules are created, `types` which contains commonly used GraphQL types and `protocol` which contains lower-level GraphQL types (this name is up for debate) that the user won't typically use. The following items should be moved:

[code]

And of course the crate will also `pub use

[2020-08-02 05:50] Koxiaet opened #224 "Versions 1.16.10 to 1.17.0 fails to compile"
I just tried updating to 1.17.0 and it fails to compile. This error occurs multiple times:

[code]

There is also this error:

[code]

And this one:

[code]

Edit: On further testing, I discovered that I couldn't compile `async-graphql` going all the way back to version 1.16.10, so at the moment I'm using `async-graphql = "=1.16.9"` in my `Cargo.toml`.

[2020-08-02 18:40] rkudryashov opened #225 "Question: representation of very big int"
For very big numbers, for example `4870000000000000000000000` it is more convenient to represent that number as value with mantissa and exponent: `4.87e+24`. I managed to do this as follows (https://github.com/rkudryashov/async-graphql-reproducer/blob/master/some-service/src/graphql.rs):

[code]

[code]

But I didn't manage to get rid of using `f64`: the following is compiled but fails at runtime:

[2020-08-02 18:44] jpascal commented on #224
I have some error too

[2020-08-02 18:59] #219 closed

[2020-08-02 20:13] nicolaiunrein commented on #225
You can easily convert your large integer to a string with exponential/scientific notation by using `format!("{:e}", n)` or `format!("{:E}", n)` in fact this works for all types implementing `std::fmt::LowerExp` or `std::fmt::UpperExp` accordingly. I think with that you could easily create a custom Scalar eg. `ScientificInt`.

[2020-08-03 01:40] sunli829 commented on #224
[code]

[2020-08-03 05:15] Koxiaet commented on #224
Thanks, that solved it! If the crate doesn't compile with older versions of its dependencies could you set them to be higher so others don't have this issue?

[2020-08-03 05:16] #224 closed

[2020-08-03 15:44] rkudryashov commented on #225
Thanks, I'll try it

[2020-08-03 15:44] #225 closed

[2020-08-04 05:40] sunli829 commented on #224
I updated the version number of the dependency. 😁

[2020-08-04 19:28] D1plo1d opened #227 "Forwards compatibility and the @if_def Directive"
###  Strawman Proposal

Add an `@if_def` field directive that allows GraphQL queries against fields that are not defined on the server to be excluded from the response.

For example:
[code]

Where a `name` field is defined in a resolver but `website` is not would return:
[code]

### Motivation

#### Background

In my software many distributed 3D printers present GraphQL interfaces to a user's sing

[2020-08-05 05:42] sunli829 commented on #227
Let me think about it.

[2020-08-05 14:25] acelot opened #228 "How to combine union type with interface?"
How to implement such types with `async-graphql`?

[code]

**What I've done:**

`Article` type:
[code]

`NotFoundProblem` type:
[code]

`InternalErrorProblem` type:
[code]

`ProblemInterface` interface type:
[code]

`ArticleResult` union type:
[code]

## Main issue
The problem is that `ArticleResult` union type announces `NotFoundProblem` and `InternalErrorProblem` types as simple objects that do

[2020-08-05 18:02] phated commented on #228
If you don't have an endpoint that returns the interface itself, automatic lookup doesn't work. You need to register the interface with the schema [`register_type`](https://docs.rs/async-graphql/1.17.2/async_graphql/struct.SchemaBuilder.html#method.register_type) like I did at https://github.com/phated/twentyfive-stars/blob/master/server/src/main.rs#L135-L136

[2020-08-05 20:52] D1plo1d commented on #227
Appreciate it!

[2020-08-06 02:02] jayy-lmao opened #229 "Pushing metrics"
This is such a cool project, really been loving the apollo support.

Just curious:

What is `Apollo Engine` referring to here? Is it the tracing in GraphQL Playground / Graphiql, or is it able to trace-report to Apollo Engine / Studio?

If not, are there any plans to support it?

https://www.apollographql.com/docs/studio/setup-analytics/#third-party-support

[2020-08-06 06:06] sunli829 commented on #229
I haven't tried it in Apollo Studio, but this tracing log can be recognized by GraphQL Playground, so I guess Apollo Studio can also?

[2020-08-06 06:55] sunli829 commented on #227
I added the `@ifdef` directive in `v1.17.3`.

**Here is the test code.**

https://github.com/async-graphql/async-graphql/blob/5cdb2a99b818ea0c601e6dd86b52f9ef6d94811d/tests/directive.rs#L66

[2020-08-06 06:56] #221 closed

[2020-08-06 08:21] #228 closed

[2020-08-06 23:22] jayy-lmao commented on #229
Thank's for the quick response! I've done a bit more of a dig, looks like studio requires pushing metrics (unless there's another way not referenced in docs). Think it would probably need to be a custom extension, all good :)

[2020-08-07 21:16] nicolaiunrein commented on #208
I just saw that on graphql.org page juniper is listed and async-graphql is not. I think with the release of v2 we should promote async-graphql to be listed there as an official server framework as well.

[2020-08-08 00:14] D1plo1d commented on #227
Wow! That is beyond awesome. Thanks so much @sunli829!

[2020-08-08 00:14] #227 closed

[2020-08-08 02:06] D1plo1d opened #231 "Merge Schemas"
## Strawman Proposal
A `merge_schemas` fn or macro to combine many schemas into one.

[code]

## Motivation

I am trying to organize a growing number of mutation and query fields in order to keep my code base readable at a glance. Given that we can't split our Mutation and Query `#[Object]` into multiple impl blocks a `merge_schemas` fn could provide an alternative - allowing us to organize our re

[2020-08-08 15:31] sunli829 commented on #231
I'm trying.

[2020-08-08 15:48] sunli829 commented on #231
This feature is not as easy to implement as it seems, but I thought of a more elegant way.

You can use the following procedure macro to create a merged object.

[code]

Construct a merged object.

[code]

[2020-08-08 15:50] sunli829 commented on #208
I opened a PR to graphql.org a long time ago, but there was no response. 😒

[2020-08-09 07:08] sunli829 commented on #231
I added `MergedObject` in `v1.17.4`.

[2020-08-09 19:59] D1plo1d commented on #231
Wow, Awesome! Ok, I'm trying this out today and I've noticed that this works:

[code]

but using the same name for merged objects results in drops fields:

[code]

[2020-08-09 20:20] D1plo1d commented on #231
I'm finding that I am writing the same Default impl for each of my unit struct MergeObjects. This may be unnecessary boilerplate. I wonder if we could reduce repetition by skipping unit structs in `MergeObject::new()` or adding automatic MergeObject Default implementations where appropriate.

[code]

[2020-08-10 00:51] #229 closed

[2020-08-10 02:41] sunli829 commented on #231
This problem is not easy to solve, you can give different type names, or different GQL names.

[code]

[2020-08-10 02:54] sunli829 commented on #231
Add `Default` implementation for `MergedObject` in `v1.17.5`.

Here is the test code.

https://github.com/async-graphql/async-graphql/blob/bd706fb1741ab643029b2d5c0e0a1f67ff2bcfd9/tests/merged_object.rs#L86

[2020-08-10 03:36] D1plo1d commented on #231
That works well enough for me. The impl Default look great btw - looking forward to trying that out.

[2020-08-10 04:45] suman-kr opened #234 "How to implement a trait for InputObject"
Here is my code:

**Model for creating the State**
[code]
**Input for the state mutation**
[code]
How to implement a trait for districts for the InputObject Type?
I'm stuck here. Please Help!

[2020-08-10 04:57] sunli829 commented on #231
Could you please help me add a chapter to the book to explain the usage of `MergedObject`? @D1plo1d

[2020-08-10 04:59] sunli829 commented on #234
[code]

[2020-08-10 05:58] suman-kr commented on #234
Thanks, I am new to rust environment.
Can you help me with this?
I wrote this following piece of code.
[code]
Wrote a From Into for the same
[code]

My From Into for StateMutationInput
[code]
I'm getting this error:

[code]

Can you suggest something. Please!

[2020-08-10 06:12] sunli829 commented on #231
I modified the way of creating `MergedObject` objects and removed the `new` constructor, which looks more reasonable.

[2020-08-10 06:31] sunli829 commented on #234
Why is there an extra conversion?

[code]

[2020-08-10 06:37] suman-kr commented on #234
I updated the previous comment. It was a typo for DistrictInput. I'm moving from a list of Districts to just a District.
[code]
I am using extra conversion to save the data to the database.
Here is the Impl

[code]

[2020-08-10 06:37] sunli829 commented on #223
It looks great! 😁

[2020-08-10 06:42] sunli829 commented on #234
[code]

[2020-08-10 06:49] suman-kr commented on #234
I got the following error
[code]

[2020-08-10 06:51] sunli829 commented on #234
What are the type of districts?

[2020-08-10 06:53] suman-kr commented on #234
[code]

[2020-08-10 06:59] sunli829 commented on #234
[code]

[2020-08-10 07:06] suman-kr commented on #234
Thanks a lot for your help! :smile:
Everything is working fine. I guess I've to study Rust more in-depth. :sweat_smile:
async-graphql is a great package.

[2020-08-10 07:17] #234 closed

[2020-08-10 11:07] TsumiNa opened #235 "no `MergedObject` in the root error"
Hi, I updated to v1.17.6, and got this and **no `GQLMergedObject` in the root** error when compiling.
I think these errors are from the version dependencies in `async-graphql/Cargo.toml`.

The current workaround is to add `async-graphql-derive` as dependence.

[2020-08-10 11:44] sunli829 commented on #235
I fixed the dependency issue in `v1.17.6`.

[2020-08-10 13:11] TsumiNa commented on #235
Works like a charm! 😃

[2020-08-10 13:11] #235 closed

[2020-08-10 19:26] D1plo1d commented on #231
Happy to. I'll try and write up a draft after work.

[2020-08-10 19:32] D1plo1d commented on #231
Ah interesting, so the idea is that `GQLMergedObject` could be combined with other Derive Macros eg. derive_new? I'd definitely prefer the flexibility of this:

[code]

[2020-08-10 20:35] nicolaiunrein commented on #208
Where is your PR? Cannot find it. Has it been closed?

[2020-08-11 01:32] sunli829 commented on #231
Yes, and support `#[cfg(...)]` . 😁

[2020-08-11 01:36] sunli829 commented on #208
This PR is here. 😠

https://github.com/graphql/graphql.github.io/pull/865

[2020-08-14 05:24] Bajix opened #237 "chrono::NaiveDateTime as a scalar?"
Could you demonstrate how to make chrono::NaiveDateTime a scalar?

[2020-08-14 06:04] Koxiaet opened #238 "Don't send data with 'complete' WebSocket message"
According to the [protocol](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md), the `GQL_COMPLETE` message does not contain any payload, however async-graphql currently sends the final data with the complete message instead of with the last `GQL_DATA` message.

[2020-08-14 07:18] Bajix opened #239 "Can't add UUID Scalar"
I'm trying to add uuid:Uuid and chrono::NativeDateTime scalar extensions to my project. In both cases I've been unable to due to compiler warnings:

[code]

[code]

This is basically identical to the current Uuid Scalar except using a version compatible with Diesel 1.4.5. Any recommendations would be swell

[2020-08-14 07:23] sunli829 commented on #239
This is because of the Rust orphan rule, and you need new type to solve this problem.
Actually `async-graphql` has implemented the `UUID` scalar, which you can use directly.

[2020-08-14 07:30] sunli829 commented on #237
I have added scalar type for NaiveDateTime. 😁

https://github.com/async-graphql/async-graphql/blob/e596a27e05cca0a492602f54524580d3ec87a6c9/src/scalars/naive_time.rs#L34

[2020-08-14 07:31] sunli829 commented on #238
I fixed this problem in version `v1.17.8`, thank you! 😁

[2020-08-14 07:32] #231 closed

[2020-08-14 07:34] Bajix commented on #239
I know it has implemented the `UUID` scalar, but diesel 2.0 isn't official yet and 1.4.5 is incompatible with`0.8.1` and so that forces me onto `0.7.4` which doesn't implement that trait due to the version mismatch. My goal is to be able to have `#[SimpleObject]`s that derive `Queryable` and that use `chrono::NaiveDateTime` because that has the Diesel ToSql/FromSql traits. I'm struggling to see ho

[2020-08-14 07:35] sunli829 commented on #237
Here is a tutorial for make scalars.

https://async-graphql.github.io/async-graphql/en/custom_scalars.html

[2020-08-14 07:35] Bajix commented on #239
Would newtype_derive be a viable option here? Surely type unity with Diesel is a common use case?

[2020-08-14 07:38] sunli829 commented on #239
[code]

[2020-08-14 07:40] sunli829 commented on #239
https://github.com/Ixrec/rust-orphan-rules

[2020-08-14 08:04] Bajix commented on #239
I tried that approach before I made the post. After reapplying this I ran into the problem I was trying to avoid:

[code]

I'm looking into doing this via newtype_derive + custom_derive now

[2020-08-14 08:18] #238 closed

[2020-08-14 08:19] sunli829 commented on #239
It looks like you need to implement `PartialEq<uuid::UUID>` for `ScalarUuid`.

[2020-08-14 08:20] Bajix commented on #239
Ok it looks like newtype_derive preserves most of the behavior but there doesn't seem to be any way to have a wrapper type without needing to reimplement `diesel::Queryable<diesel::sql_types::Uuid, diesel::pg::Pg>`. I'm not really sure what my options are here that allow me to avoid reimplementing diesel traits

[code]

[code]

[2020-08-14 08:34] sunli829 commented on #239
This is really a troublesome problem. Let me add a feature to let async-graphql use uuid 0.7.4 so that there will be no such problems.

[2020-08-14 08:41] sunli829 commented on #239
Can this solve your problem?

[code]

[2020-08-14 12:18] Bajix commented on #239
That’s what solved my ability to make a derive insertable struct but in doing so I was faced with this incompatibility and I have the same issue with chrono::NaiveDateTime as that’s what has the diesel traits implemented. If I upgrade to 0.8.1 then it breaks diesel unless I use the unreleased 2.0.0 from master, though when I had tried as much I’d been faced with challenges around diesel-derive-enu

[2020-08-14 15:51] Koxiaet opened #240 "Rename SubscriptionTransport"
Since it no longer is just used for subscriptions it would be appropriate to rename it. Suggestions: `StreamTransport`, `ConnectionTransport`, or just `Transport`.

[2020-08-14 16:08] Koxiaet opened #241 "Interface as an object and union"
Support interfaces that are objects and a union, to avoid repeating the interface fields for each implementation. Example:

[code]

Or, with fields:

[code]
`__implementations` could also be called `__impls` because it's shorter.

[2020-08-14 22:20] Bajix commented on #239
Here's my stopgap solution:
[code]

[2020-08-14 22:42] Bajix commented on #239
Actually it looks like this change can in fact address the issue:
`diesel = { version = "1.4.4", features = ["uuidv07"] }`

To make this work I had to cargo clean and reset Cargo.lock and in doing so 0.8.1 was used throughout.

[2020-08-15 00:40] sunli829 commented on #240
Thank you for your suggestion. I renamed to `ConnectionTransport` in the new version.

[2020-08-15 05:25] #240 closed

[2020-08-19 15:10] hapcode opened #242 "Add the IntoFieldError trait"
I want to use my own `type ApiResult<T> = std::result::Result<T, ApiError>` instead of `async-graphql::FieldResult`. This allows me to avoid calls like `.map_err(ApiError::from)` inside resolvers. The `?` will do it automatically. Something like [here](https://github.com/paullgdc/csj-recommandations/blob/e63d5feb3c402cd3a872b9915cb061fed45ef15d/backend/src/main.rs#L358) via Juniper.

Could you add

[2020-08-24 11:43] sunli829 commented on #242
In fact, you don't need to map the error type yourself, you should use the `?` operator, as shown below.

[code]

[2020-08-24 13:06] hapcode commented on #242
It's okay for a simple case. What if I have the two modules `store` and `database` with appropriate results:

[code]

I need to convert a special module error to generic `ApiError` via `.map_err(ApiError::from)` for every call to a module method.

[code]

[2020-08-26 03:02] sunli829 commented on #242
I made some attempts, because of other reasons, it is more difficult to add this function.

[2020-08-26 12:58] leebenson commented on #231
Does this work with merging subscriptions? Are there any examples please?

[2020-08-26 19:42] leebenson opened #243 "Merge subscriptions"
Just surfacing [this comment](https://github.com/async-graphql/async-graphql/issues/231#issuecomment-680863034) as a separate issue for visibility.

I believe the current `#[derive(GQLMergedObject)]` approach only works for structs annotated as `#[Object]`. I've tried various combinations to get it working with `#[Subscription]`, but I don't think that's currently possible.

Having an equivalent m

[2020-08-27 01:19] sunli829 commented on #243
Let me try to support this. 😁

[2020-08-27 07:39] sunli829 commented on #243
Release in `v1.17.11`.

Here is test code: https://github.com/async-graphql/async-graphql/blob/1ad2a32f442276176e48de8244e4bcdf1c6a7a17/tests/merged_object.rs#L162

**It would be great if you can help me add a chapter on MergedSubscription to the book.**😂

[2020-08-27 07:59] leebenson commented on #243
You're the best! Thank you. I'd be happy to submit a PR to add a chapter-- will work on that today.

Btw, async-graphql is being used in [Vector](https://vector.dev), for our upcoming API server and UI visualization tooling 👍

[2020-08-27 08:11] sunli829 commented on #243
Vector is my favorite project! 😁

[2020-08-27 10:07] leebenson commented on #243
Added subscription merging to the docs in #244

[2020-08-27 15:33] nicolaiunrein commented on #243
Subscription Merging will simplify my code a lot! Great job!

[2020-08-27 15:49] hapcode commented on #242
Okay. Thanks anyway for your attempts.

[2020-08-27 15:49] #242 closed

[2020-08-28 06:30] #239 closed

[2020-08-28 06:32] sunli829 commented on #173
#231 #243

[2020-08-28 06:32] #173 closed

[2020-08-28 07:39] TsumiNa opened #245 "Unresolved error of MergedSubscription and GQLMergedSubscription in 1.17.11"
[code]

I think this is a regression error related to https://github.com/async-graphql/async-graphql/blob/80b2ff00c59f4e72871b424c1a9cadcc7344d573/Cargo.toml#L21

[2020-08-28 17:43] ruseinov commented on #173
@sunli829 Good job! That's a really cool and useful feature, very few graphql frameworks in any language support this and I'm super happy to see that async-graphql got this covered.

[2020-08-28 18:55] leebenson commented on #243
Closing, since this was added in v1.17.11. Thanks again @sunli829!

[2020-08-28 18:55] #243 closed

[2020-08-29 00:47] sunli829 commented on #245
Thank you, I always forget to update the version of the dependent library. 😂
This problem is fixed in version `v1.17.12`.

[2020-08-29 00:47] #237 closed

[2020-08-29 03:03] #245 closed

[2020-08-29 03:46] Bajix opened #246 "1.17.12 fails to build documentation"
See: https://docs.rs/crate/async-graphql/1.17.12/builds/287254

[2020-08-29 03:54] Bajix commented on #237
Thanks for adding this!

[2020-08-29 04:00] sunli829 commented on #246
This is a nightly bug, and I've had this same problem a while back. 😕

[2020-08-29 19:51] QuentinPerez opened #247 "Content-Encoding support ?"
Hi @sunli829 🙋🏻‍♂️

First of all, thank a lot for your incredible work 🙏
I was wondering if that could be possible to support `Content-Encoding` header ?
Keeping JSON as default encoding is mandatory for the tooling ecosystem but to save CPU, throughput, bandwidth... that could be useful to support flexbuffer, message pack, CBOR, BSON, whatever 😅
I’ve quickly checked the code to POC it but the ent

[2020-08-30 01:15] sunli829 commented on #247
But the GraphQL specification does not define other content encoding.

[2020-08-30 19:18] D1plo1d opened #249 "How to instantiate async_graphql::extensions::Tracing / missing Default"
I'd like to use `async_graphql::extensions::Tracing` but cannot figure out how to instantiate it. It has 2 private fields and does not `impl Default` or `new`. How do I create the Tracing extension factory for `QueryBuilder.extension(extension_factory)`?

[2020-08-31 07:35] #249 closed

[2020-08-31 08:18] sunli829 commented on #246
Document issue has been fixed. 😁

[2020-08-31 14:42] Weasy666 commented on #222
I'm currently trying to implement this [here](https://github.com/simplificAR/async-graphql/tree/master/async-graphql-rocket), but...i hit this [problem](https://gist.github.com/Weasy666/2a230114b74aed7a06a7cb90cab6aeb3).
I think the problem could be the combination of generics and the Rockets route macros, but i'm not sure. Need to investigate some more, but wanted to tell that i'm working on this

[2020-08-31 16:34] D1plo1d opened #251 "CI Broken? (and I broke it?!)"
Hey, it looks like CI is failing on Clippy since merging my PR. I'm completely new to Clippy. How do I fix this?

[2020-08-31 16:35] D1plo1d commented on #251
nm, see you fixed it already: https://github.com/async-graphql/async-graphql/commit/ea379141a693bdf4d92b32f4318d55a4020a8edd

[2020-08-31 16:35] #251 closed

[2020-09-01 01:18] sunli829 commented on #222
Is it possible to avoid using generics by defining new types?
[code]

[2020-09-01 01:26] #246 closed

[2020-09-01 15:07] Weasy666 commented on #222
Don't we need generics, for people to be able to provide their own schema?

[2020-09-02 02:59] sunli829 commented on #222
Sorry, I don’t know how to use rocket. 😂
This seems to be a problem with Rocket.

[2020-09-02 13:16] Weasy666 commented on #222
Ok...it is compiling, see [custom_handler](https://github.com/simplificAR/async-graphql/tree/custom_handler/async-graphql-rocket) branch on my fork.

But...i ran into another problem, while implementing the [Starwars example](https://github.com/simplificAR/examples/tree/master/rocket/starwars). In the [`main.rs`](https://github.com/simplificAR/examples/blob/master/rocket/starwars/src/main.rs) file

[2020-09-02 14:15] sunli829 commented on #222
Because the Async-graphql version is used differently.

https://github.com/simplificAR/examples/blob/22c959f8ee714eb24c9550c6d6b569b2dbc5a2b5/models/starwars/Cargo.toml#L8

[2020-09-02 14:16] Weasy666 commented on #222
Do you mean that this is a difference between 0.16 and 0.17?

[2020-09-02 14:21] sunli829 commented on #222
When I modify both of these, it will compile. 🙂

[code]

[code]

[2020-09-02 14:29] sunli829 commented on #222
It should be a problem caused by different dependencies. One is the git address and the other is the version number. Rustc will treat it as two different libraries. Maybe so. 😂

[2020-09-02 14:30] Weasy666 commented on #222
Great! Thanks for pointing that out 😀. Then i will add some docs to `async-graphql-rocket` and start a PR to merge the basic functionallity.

After that gets merged, i will start a PR to the examples repository, to add the starwars example. Should i also bump the version in the other examples?

After that, i would take a look at the streaming/upload stuff. Subscription with Websockets is currently

[2020-09-02 14:35] sunli829 commented on #222
Thank you for your contribution. It would be better if you could add the example of uploadfile, I have a rough look at your code, because I am not good at using the Rocket library, So I am not sure whether it can work properly.
Thank again!

[2020-09-02 14:40] Weasy666 commented on #222
You are welcome. Yeah, i obviously need to test it first 😅
Ok, then i will add uploadfile tomorrow and then do a PR.

[2020-09-03 04:26] #132 closed

[2020-09-03 08:33] Bajix opened #255 "Feature request: support for #[serde(flatten)] // #[diesel(embed)]"
It would make it vastly simpler to compose input objects if one could leverage #[serde(flatten)] on input objects. Imagine for instance this use case:

[code]

As you can see, doing flatten here makes this more composable as one can flatten the input for each of the related types and those types can have their own derives. Otherwise this input type would need to be split such that it had all of th

[2020-09-03 08:51] sunli829 commented on #255
Let me think about it.

[2020-09-03 12:07] sunli829 commented on #255
Release in `v1.17.19`.

If you are free, I hope you can help me improve the chapter on `InputObject` in the book and add an introduction to the new `flatten` attribute. 🙂

[2020-09-03 18:09] Weasy666 commented on #222
Ok...i had to change my approach with the routes.

It is now compiling, see [here](https://github.com/simplificAR/async-graphql/tree/master/async-graphql-rocket), and the StarWars example is also working, see [here](https://github.com/simplificAR/examples/tree/master/rocket/starwars).

[2020-09-03 22:12] Bajix commented on #255
Amazing thanks so much! This makes it so much easier to compose using insertable building blocks.

I'll look into doing a PR for documentation soon

[2020-09-04 00:54] sunli829 commented on #255
Here is test code

https://github.com/async-graphql/async-graphql/blob/b7163d4f9217d7ed61b7147f67f6ef5a713893a3/tests/input_object.rs#L108

[2020-09-04 01:02] sunli829 commented on #222
Please change this path to `/`, consistent with other examples.

[code]

[2020-09-04 05:33] Bajix commented on #255
Oh nice! I don’t see it shown on the tests, but this works with multiple flatten calls?

Sent from my iPhone

[2020-09-04 06:10] sunli829 commented on #255
I missed this test scenario and will add it now.

[2020-09-04 06:15] sunli829 commented on #255
I added this test.

https://github.com/async-graphql/async-graphql/blob/f87435b96c43d18b9fef9bc837c4fb23a345ce1c/tests/input_object.rs#L236

[2020-09-04 06:17] Bajix commented on #255
Awesome sauce! Good work! Such an awesome project

Sent from my iPhone

[2020-09-07 07:22] Weasy666 commented on #68
So...is it currently possible to use `async-graphql` with the `schema first` approach? I couldn't find a way to parse and use a schema file.

[2020-09-07 07:34] sunli829 commented on #68
https://docs.rs/crate/codegen-for-async-graphql/0.2.6

I haven't used this, but it seems to be schema first.

[2020-09-07 07:55] sessionboy opened #258 "Support gateway"
I don't want to use gateway in nodejs, I want to use it directly in rust, hoping to be supported.

[2020-09-07 08:38] sunli829 commented on #258
A rust version of federation?

[2020-09-07 10:02] Weasy666 commented on #68
Ah...ok, so i have to use an external lib for that. Thanks for the info.

[2020-09-07 10:19] sunli829 commented on #258
Why don't you make one yourself? I will consider it if you are willing to pay!

[2020-09-07 10:19] #258 closed

[2020-09-09 07:11] #255 closed

[2020-09-09 17:13] Koxiaet opened #261 "RFC: Major redesigns"
First of all, `master` is currently breaking from `0.18`, so hold off on publishing a new version until this issue is resolved.

`async-graphql`, as it is, has a bit of a confusing API. I propose a major overhaul of many parts to it, which I think will simplify things.

First of all, we can make a fully public `Query` type. It should look something like this:

[code]

It should have many helper fu

[2020-09-10 00:18] sunli829 commented on #261
I think this suggestion is very good, but since `Async-graphql` has been used by many projects(https://github.com/timberio/vector), I hope to create a new 2.0 branch and make changes based on that branch. At this stage, I don't want a lot of breaking changes in the 1.x version. 🙂

[2020-09-10 01:09] sunli829 commented on #261
It may be necessary, but I am not sure, for example, allowing different extensions to be applied to different queries?

[2020-09-10 02:37] sunli829 commented on #261
The naming of `Query` may conflict with the schema definition. How about `GQLQuery`?

[2020-09-10 04:06] sunli829 commented on #261
I am trying to refactor and when I am almost done, I will submit a PR.

[2020-09-10 05:13] Koxiaet commented on #261
I don't know whether we should have the GQL prefix, it feels like duplication from the crate name; `async_graphql::GQLQuery` has `GQL` twice. It makes more sense for users to `use async_graphql as gql; gql::Query` or `use async_graphql::Query as GQLQuery` if they want that.

[2020-09-10 06:09] sunli829 commented on #261
Yes, I don't like the name GQLQuery, but if it is named Query, there will be a lot of conflicts. 😂

[2020-09-10 06:37] Koxiaet commented on #261
Maybe `Request` would work. It would also be symmetric with `Response`.

[2020-09-10 16:47] Koxiaet commented on #208
Before we release 2.0 we should probably replace `File` in `UploadValue` with something else, probably `Box<dyn AsyncRead + Send + Sync + 'static>`? This however has the disadvantage of not being clonable like `File` is.

[2020-09-12 00:41] sunli829 commented on #208
Yes, the Upload parameter can correspond to multiple files. 🙂

[2020-09-12 00:42] sunli829 commented on #208
Released `2.0.0-alpha1`

[2020-09-12 04:11] mwilliammyers commented on #208
I think we should wait even more before releasing `2.0.0` just to be sure we have everything all set for following [semver](https://semver.org/).

[2020-09-12 07:46] kop opened #263 "Panic during startup"
Hello.
I have a problem with `v1.18.0` when I started to use `GQLMergedObject`.
It panics during startup with

[code]

I'm not sure where to start with debugging, maybe someone has any ideas?

[2020-09-12 08:02] kop commented on #263
My root `Mutation` object looks like

[code]

Every `Mutation` from submodule is either implementation like

[code]

or merged object like

[code]

[2020-09-12 12:22] sunli829 commented on #263
**Do not have the same GQL type name.**

The GQL type name of `auth::Mutation` is `Mutation`, you must change it to a different name, such as `AuthMutation`.

[code]

[2020-09-12 15:50] Koxiaet commented on #208
Is there a possibility of removing `Lookahead` entirely? It doesn't seem too useful and is fairly complex to implement.

[2020-09-13 00:37] sunli829 commented on #208
Please don't, `LookAHead` is very useful. It can optimize the corresponding SQL query according to the query field. It is very convenient. Many of my projects rely on it. 😂

[2020-09-13 06:28] Koxiaet commented on #208
Ok, I guess `Lookahead` should be kept.

`SimpleBroker` doesn't seem too useful though, it's just a wrapper around a static channel. Is that possible to remove? We also shouldn't be encouraging people to use global data.

[2020-09-13 07:18] sunli829 commented on #208
SimpleBroker is not really useful, it has nothing to do with GQL and was simply a convenient pub/sub implementation to support subscription. I think we can delete it. 😃

[2020-09-13 17:24] kop commented on #263
Renaming objects helps. Thank you!

[2020-09-13 17:24] #263 closed

[2020-09-14 06:06] sunli829 commented on #189
Maybe we can consider adding these types of support? @Koxiaet

[2020-09-14 06:09] #146 closed

[2020-09-14 07:16] sunli829 commented on #189
[ ] HashSet

[ ] BTreeSet

[ ] VecDeque

[ ] LinkedList

[ ] NonZero*

[ ] char

[ ] HashMap

[2020-09-14 07:30] Koxiaet commented on #189
Sounds like a good idea. By the way use `- [ ]` for a checklist.

[2020-09-14 18:11] mwilliammyers commented on #208
I haven't done anything with subscriptions yet, does removing `SimpleBroker` make implementing subscriptions harder?

[2020-09-14 19:00] Koxiaet commented on #208
I want to consider redesigning `Error` to reflect GraphQL's error type rather than this library's error type. It will lose information, but maybe a more opaque type is more suitable for something as complex as GraphQL. Is there any major disadvantage to this?

[2020-09-15 00:13] sunli829 commented on #208
When the validation mode is ValidationMode::Fast, most of the QueryError will never occur, because the error has been checked during the validation phase, unless the validation mode is ValidationMode::Strict.
The difference between ValidationMode::Fast and ValidationMode::Strict is that ValidationMode::Fast only validates queries that affect security, such as infinitely recursive fragments.

Some

[2020-09-15 00:17] sunli829 commented on #208
I think there are two reasons for removing SimpleBroker:
1. Usually the event should be sent by the message queue, not a stand-alone pub/sub model like SimpleBroker. Although it will be easier to use in very simple situations, it conveys a bad design concept.
2. SimpleBroker and GraphQL are not related.

[2020-09-15 07:29] Koxiaet commented on #208
@sunli829 I think we should keep `QueryError` the same; I was proposing changing the outer `Error` type; it will allow us to change the inner implementation more freely without breaking compatibility.

[2020-09-15 10:15] sunli829 commented on #208
Add a wrapper to the error type. Is it possible to have an into_error function converted to Error type?

[2020-09-15 12:35] sunli829 commented on #208
# Performance improvement

1. Change `Name(String)` to `struct Name(Arc<String>)`.
2. Implement `Serialize` for `ConstValue`.
3. All resolver function return values use `ConstValue` instead of `serde_json::Value`.
4. All test codes used to generate `serde_json::Value` are all unavailable. We need a macro like `serde_json::json` to fix the test code.

This will avoid a large amount of memory alloca

[2020-09-15 15:08] Koxiaet commented on #208
@sunli829

`Arc<str>` would be even better than `Arc<String>` since there's one less allocation and layer of indirection.

I think that we should even aim to make `serde_json` an optional feature (GraphQL is supposed to be format-independent after all). We'd have to make our own `Number` type but that isn't too hard. The `const_value!`/`value!` macro might even be better if we don't forward to `se

[2020-09-15 17:26] phated commented on #208
I was doing some research on str's and found https://fasterthanli.me/articles/small-strings-in-rust - I believe using `smol_str` would be the best for use and performance.

[2020-09-16 02:44] sunli829 commented on #208
`Arc<str>` does not seem to be instantiated?

[2020-09-16 03:19] sunli829 commented on #208
I thought about it, this does not improve performance, because ExecuteDocument is newly created every time a query. 😂

[2020-09-16 03:22] sunli829 commented on #208
This means we can support this? #247

[2020-09-16 06:18] Koxiaet commented on #208
Using smol str it would because it avoids heap allocating names that are 22 bytes or under, which is most names so that's fairly significant

[2020-09-16 07:47] sunli829 commented on #208
I am trying...

[2020-09-16 08:03] sunli829 commented on #208
I don't know if it is necessary to improve the performance. Now the performance of async-graphql is faster than `juniper (master)` and `gqlgen (golang)`. 😂

[2020-09-16 20:25] meh opened #264 "Cannot `#[Union]` on enum named `From`"
And I'd like to do that.

[2020-09-16 21:10] meh commented on #208
The more the better tho.

[2020-09-17 05:26] sunli829 commented on #264
I have fixed this problem, please upgrade to `2.0.0-alpha.10`, the official version will be released soon.

[2020-09-17 08:04] #264 closed

[2020-09-17 14:09] meh commented on #208
Is #261 going to be dealt with before 2.0? I find the `GQL` prefix for derives quite ugly, I always alias `async_graphql` to `graphql` and just do `#[graphql(Object)` pre 2.0-alpha.

[2020-09-17 14:18] Koxiaet commented on #208
@meh It has already been implemented, it didn't touch the macro names. But I agree, the macros should probably be renamed. (also did you mean to write `#[graphql::Object]`?)

[2020-09-17 14:18] #261 closed

[2020-09-17 14:21] #223 closed

[2020-09-17 14:49] sunli829 commented on #208
Add `#[macro_use] extern crate async_graphql` to main.rs then find that the prefix is necessary. 😃

[2020-09-17 14:57] Koxiaet commented on #208
I don't think it's worth supporting 2015 edition, everyone should be using 2018 edition by now.

[2020-09-17 15:13] sunli829 commented on #208
So you think we should remove the prefix and write it as `gql::Object`?

[2020-09-17 15:31] Koxiaet commented on #208
Yes. Users can also reexport it as `use async_graphql::Object as GQLObject` if they want to - importantly we shouldn't duplicate "GraphQL" in the crate name and item name, it's not like there's _also_ going to be a `RestObject` there or something.

[2020-09-17 16:17] meh commented on #208
I did mean that, sorry, writing from mobile. I'd really like the macros to be renamed while we're at it, if they could be made to not need to repeat GQL it'd make me happy.

[2020-09-17 19:05] meh commented on #264
Thanks, that was quick!

[2020-09-18 01:12] sunli829 commented on #208
I removed all the `GQL` prefixes, are you happy now? 😎

[2020-09-18 07:12] sunli829 commented on #208
When can we release version 2.0?

[2020-09-18 07:40] Koxiaet commented on #208
Here's a list of things I'd like to change before 2.0.

- [ ] Replace `File` in `UploadValue` with something async.
- [ ] Remove JSON dependency.
- [ ] Rewrite some of the integrations and do things like remove the GQL prefixes in them.
- [ ] There are some potential performance improvements to be made with avoiding cloning `Context` by passing around `&'a Context<'a>` instead of `&Context<'a>` in

[2020-09-18 07:58] AurelienFT opened #265 "Performance vs Juniper"
Hello,

I'm currently working on a project which use `Juniper`. I'm really interesting to switch to `async-graphl` but I would have some more precisions about performances. You said [here](https://github.com/async-graphql/async-graphql/issues/208#issuecomment-693244653) that you have better perfomance than Juniper. Can you provide more explanations about it please ?

Anyway, your repository is rea

[2020-09-18 09:48] sunli829 commented on #265
Here is a simple benchmark. 🙂
In fact, whether it is `juniper` or `async-graphql`, the performance is quite good.

https://github.com/async-graphql/benchmark

[2020-09-18 10:01] sunli829 commented on #208
Can we use `Value` instead of `ConstValue`? This makes the code simpler. @Koxiaet

[2020-09-18 10:18] AurelienFT commented on #265
Oh didn't see the juniper file. Thank you.

[2020-09-18 10:18] #265 closed

[2020-09-18 10:21] AurelienFT commented on #149
Hello,

Keep two different structures is a choice or it will evolve in the future to allow us  to have one structure ?
@sunli829

[2020-09-18 10:50] sunli829 commented on #149
I thought about it, I can support this feature, I am trying.

[2020-09-18 10:57] AurelienFT commented on #149
This will be awesome because Juniper do not support it at all.

[2020-09-18 14:52] Koxiaet commented on #208
Does it?  I don't think it makes much sense for resolvers to return and variables to contain variables, so wouldn't ConstValue be easier?

[2020-09-18 15:03] sunli829 commented on #208
These two types are actually similar. Of course, it is strange that ConstValue contains variables, but it looks simpler. We don't need to implement two sets of methods with similar functions for Value and ConstValue. What do you think? 🙂

[2020-09-18 16:37] Koxiaet commented on #208
@sunli829 It's a tough question, but I still think that keeping them separate will be better. It's a bit complex on the implementation side, but it's worth it as it can be less confusing for users.

[2020-09-19 02:47] mwilliammyers commented on #208
@Koxiaet RE: async `UploadValue`, see: https://github.com/async-graphql/async-graphql/issues/151

(I still 100% agree, it should be async)

[2020-09-19 02:51] mwilliammyers commented on #208
Can we expose a public API for `async-graphql-parser` so we don't need to depend on that crate directly?

I had to depend on that crate to:
[code]
In order to make a custom `Logger` extension.

I don't know if that has been addressed, because I am about 1-2 months behind on updates.

[2020-09-19 04:41] sunli829 commented on #208
`async_graphql::parser`

It's actually hidden.😃

[2020-09-19 05:17] Koxiaet commented on #208
@mwilliammyers I've made `async_graphql::parser` public now.

[2020-09-19 20:01] mwilliammyers opened #267 "Derive additional implementations for MaybeUndefined"
It would be very helpful if `MaybeUndefined<T>` implemented:
- `Debug`
- `Clone`
- `Serialize`
- `Deserialize`

Iff `T` implements those, so we don't require `T` to implement them.

Is everyone ok with that?

I think that is a conservative enough list?

[2020-09-19 20:16] mwilliammyers commented on #267
This compiles:
[code]
but I have never thought about it in detail. Does this mean "implement `Clone` for all `T` that implements `Clone`, otherwise: do not implement `Clone`"? I would assume so, because it compiles and I didn't need to add constraints on `T`. [This SO post](https://stackoverflow.com/a/48045960) seems to indicate that I only need to add that attribute.

Or do I need to do something

[2020-09-19 20:25] longfellowone opened #268 "Not compatable with Actix v3"
Receiving the following error when trying to use with actix-web 3.0

[code]

[2020-09-19 20:34] mwilliammyers commented on #267
FYI: You only need to add the attributes and Rust automatically takes care of adding the appropriate constraints 😄

e.g. `#[derive(Deserialize)]` expands to:
[code]

[2020-09-20 00:49] danjenson opened #270 "enum strings in query variables are not converted to proper enums"
If you use variables for queries and mutations, you have to use strings for enums. These don't appear to be parsed into the proper enums server-side:
![image](https://user-images.githubusercontent.com/4793438/93691879-756cd700-faa0-11ea-8d01-ed1051cecb0e.png)

Running the query without variables and _not_ quoting GOOGLE works just fine.

[2020-09-20 01:40] sunli829 commented on #268
Do you use async-graphql 2.0？

[2020-09-20 01:48] #267 closed

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 01:58] longfellowone commented on #268
No I am using version 1.18, do I need to use version 2? Is there anyway to access the book for v2?

[2020-09-20 02:17] sunli829 commented on #268
Examples repo and book has been replaced for Async-graphql v2.😃

[2020-09-20 03:53] longfellowone commented on #268
Thanks! 👍

[2020-09-20 03:53] #268 closed

[2020-09-20 05:13] mwilliammyers commented on #208
We should rename `GQLResponse` and everything that starts with `GQL` everywhere (e.g. the integrations crates) to match the rename that happened the other day.

[2020-09-20 05:32] sunli829 commented on #270
Fixed in `v2.0.0-alpha.14`.

[2020-09-20 05:36] mwilliammyers opened #271 "Still possible to add extensions after schema is finalized?"
I used to be able to add my custom logger extension after an HTTP request came in like this:
[code]

Is that not possible anymore? I have spent the past hour looking but can't seem to find anything...

It looks like my only option is to build the schema afresh for each request?

[2020-09-20 05:42] Koxiaet commented on #271
Yes, we removed it because we didn't realize that it would be used. We will add it again now :)

[2020-09-20 05:44] mwilliammyers commented on #271
THANK YOU, THANK YOU! 🙏

[2020-09-20 05:47] sunli829 commented on #208
I removed all GQL prefixes, but now there is a very annoying problem, we now have async_graphql::Request, async_graphql_actix_web::Request, async_graphql_warp::Request, async_graphql_rocket::Request, which makes me very confused.

[2020-09-20 05:59] mwilliammyers commented on #208
You will only (99% of the time) ever have two requests in a single project `async_graphql::Request` and one of the integrations, so it is not that confusing. It might be confusing for async-graphql devs, but it is the end user that matters 🙂

Also, the style guide [recommends to avoid redundant prefixes](https://doc.rust-lang.org/1.0.0/style/style/naming/README.html#avoid-redundant-prefixes-[rfc-3

[2020-09-20 06:51] mwilliammyers commented on #208
Was it intentional that all the `DateTime*` types are now named `DateTime`? e.g. `DateTimeUtc` was renamed to `DateTime`.

[2020-09-20 07:08] sunli829 commented on #208
Yes, I think time zone doesn't seem to make much sense to GraphQL?

[2020-09-20 07:33] mwilliammyers commented on #208
While I agree this is much cleaner, it was explicit that the datetime needed to be in UTC, especially if the underlying Chrono type requires UTC. (or a fixed offset)

[2020-09-20 07:36] sunli829 commented on #208
In fact, the time passed in the GraphQL query is always rfc3339, which has its own time zone information, and async-graphql can convert it to Utc, Local or FixedOffset.

[2020-09-20 09:23] mwilliammyers commented on #208
So if a user passes in `2020-09-20T07:00:00-07:00`, I will get `2020-09-20T14:00:00+00:00` (not `2020-09-20T07:00:00+00:00`) even if it is a `chrono:: DateTime<Utc>` (not `chrono:: DateTime<FixedOffset>`) in my code?

[2020-09-20 09:32] sunli829 commented on #208
Yes, now it seems more reasonable for the type name to be DateTime?

[2020-09-20 09:33] mwilliammyers commented on #208
Yup! Perfect name and behavior. Thanks!

[2020-09-20 09:36] mwilliammyers commented on #208
What does `2020-09-20T07:00:00` default to? Local timezone of the server?

[2020-09-20 09:46] sunli829 commented on #208
I don't know, I will try. . . 😂

[2020-09-21 09:39] Weasy666 commented on #191
So...i would like to mention, that a lot of GraphQL libraries offer a functionality to export/print a schema. For example, GraphQL-Ruby has the `Schema::Printer` class and GraphQL-JS has the `printSchema` method which take a schema object/class and export/print it as an artifact, which then can be used for validation.

I don't think an external tool that first needs a running GraphQL web server to

[2020-09-21 15:21] Koxiaet commented on #191
@Weasy666 In your example how is `async-graphql` supposed to know about `Node`? We can't use global state because then any crate could just add arbitrary types to your schema. You can [manually register types in your schema](https://docs.rs/async-graphql/1.18.1/async_graphql/struct.SchemaBuilder.html#method.register_type) if you wish.

[2020-09-21 20:49] Weasy666 commented on #191
That was not the initial point i wanted to make, but...doesn't `async-graphql` already know about `Node`? I thought `#[derive(GQLInterface)]` specifies that the `Node` enum is an interface for every struct that is the inner value of one of the enum variants.

But...that i think that this issue is not the right place for that topic. If the point of validating a schema on build time instead of on ru

[2020-09-21 23:14] phated commented on #208
@Koxiaet I'm super excited for the work on Context! The difficulties with working with it are what caused me to put my project on hold.

Something else that I noticed wasn't mentioned was an investigation on whether GraphQL interfaces could be supported as traits instead of enums. I believe the issues with it previously were tied to the current implementation of macros. What do you think?

[2020-09-22 07:28] Koxiaet commented on #208
@phated What would you in particular like to change about `Context`? I have no real ideas atm so anything would be helpful.

The main complication with allowing traits is that all types need to be registered in the registry but you can't know at compile time all the implementors of a trait. You'd have to list the implementors of the trait when you define it, but that would make it very easy to acc

[2020-09-22 13:42] kop commented on #270
Is it possible to somehow backport this to v1? I'm hitting same issue in v1.18.

[2020-09-22 19:06] mwilliammyers opened #273 "Allow invalid graphql keys in JSON scalars represented as objects"
For various reasons I won't get into here, I have my own custom `Map` scalar that is a JSON object that serializes to an object for clients (`async_graphql::Value::Object`). I sometimes get data with invalid graphql `Names` in it (e.g. with `.` in them). I use `Name::new_unchecked` and everything is good for `release` builds, but it means I have to remember not to query that field during `debug` b

[2020-09-22 23:27] sunli829 commented on #191
I adding export `SDL` now...

[2020-09-23 00:25] sunli829 commented on #270
Released `v1.18.2`. @kop

[2020-09-23 04:05] chipsenkbeil opened #274 "Examples of generic impl"
Hi there! I've recently tried `2.0.0-alpha.14` and have a variety of structs and enums that I've applied derives or implemented objects. However, I seem to be misunderstanding how to use `async-graphql` with a generic struct.

When trying to apply `async_graphql::Object` to a variety of specific implementations of a generic, it seems like only the first application sticks. In my case, I have a str

[2020-09-23 05:47] sunli829 commented on #274
Generics are currently not supported, and I haven't thought of a good way to support this. 🙂

[2020-09-23 06:06] chipsenkbeil commented on #274
Bummer. I guess I can create proxy structs that my generics can transform into, but I'll have to manually define each of my structs.

For reference, Juniper requires an explicit name on top of each manual implementation: https://graphql-rust.github.io/juniper/current/advanced/objects_and_generics.html

[2020-09-23 06:18] sunli829 commented on #274
This is a good compromise! 👍

This async-graphql should also be supported.

[2020-09-23 06:24] chipsenkbeil commented on #274
Are you saying that async-graphql already supports this? Or might eventually support this?

I'll rewrite my work tomorrow with the newtype wrappers since it'll give a clean break between my data and graphql impl, but curious on future support :)

[2020-09-23 06:39] sunli829 commented on #274
Yes, it is supported now, for this I just added a test case.

[2020-09-23 06:54] Koxiaet commented on #273
I think the best thing to do is to replace the output type of resolvers and scalars to an associated type of `OutputValueType` which implements `Serialize`.

[2020-09-23 06:58] Koxiaet commented on #208
Actually I've just discovered the [inventory](https://github.com/dtolnay/inventory) crate which may just allow us to support trait-based interfaces without having to statically declare all implementations of the trait.

[2020-09-23 07:09] mwilliammyers commented on #208
Are we going to keep the ability to define interfaces using enums too? I like the flexibility of having both choices.

[2020-09-23 07:26] Koxiaet commented on #208
Yes, of course!

[2020-09-23 07:46] sunli829 commented on #208
My opinion is that unless it can be easier to use than the current `Interface`, it is better not to change it.

[2020-09-23 14:20] Koxiaet commented on #208
I think it can be. Traits are a lot easier to write out than the custom attribute syntax, and duplicating the list of implementations isn't ideal. It also allows for crates to extend other crate's interfaces (I don't know if this will be useful or not though). Additionally it's far more intuitive than enums.

But since it's a non-breaking addition we should probably focus on 2.0 first.

[2020-09-23 16:13] Koxiaet commented on #191
What about implementing `Display` for `Schema` instead and doing everything through `Formatter` instead of `String`?

[2020-09-23 16:41] phated commented on #208
@Koxiaet yeah, I was thinking the traits could use a macro that could then expand to something like the `inventory` registration (maybe that could just be done ourselves?).

After using Context a bunch, I found that it's probably just a trap to support custom data being added to a global context at all. Once a project grows, you'll want custom dataloaders and other things that need to be scoped on

[2020-09-23 17:15] Koxiaet commented on #198
This issue should be closed now, but I wanted to ask whether it's even worth _not_ supporting batch requests in GraphQL integrations. Is there a use case for that or should everything use batching by default?

[2020-09-23 21:14] chipsenkbeil opened #276 "Best practices for foreign enums"
I've got a couple of enums that come from other crates. While I see how I can go about wrapping foreign structs and enums that have variants with arguments in a newtype and defining those manually, the only way I see to handle a foreign enum is to explicitly write a new enum that has all of the exact values as the original and add the annotation to its impl.

### foreign crate

[code]

### my crat

[2020-09-24 01:36] sunli829 commented on #191
The advantage of implementing `Display` is that it can reduce memory allocation, for example, directly output to `stdout`, but because this function is not called frequently, so if there is a need to optimize later. 😁

[2020-09-24 01:37] #274 closed

[2020-09-24 01:42] sunli829 commented on #208
I don't think this is a good idea, it greatly improves the difficulty of using the library, because the CtxData parameter will be passed everywhere, but only brings a negligible performance improvement.

[2020-09-24 01:50] phated commented on #208
@sunli829 I did not mention performance. I am discussing working on large projects with a big team of developers. The issue remains that context is dynamic and the team does not know what is available.

[2020-09-24 01:58] sunli829 commented on #208
In fact, `Juniper` currently uses such a design, but it is not easy to use, which is why I will use a design similar to `Actix-web`.

[2020-09-24 01:59] sunli829 commented on #271
If this problem is resolved, please close it. @mwilliammyers

[2020-09-24 02:01] phated commented on #208
@sunli829 "easy" is fine until you actually need to work with large teams. I'd recommend the talk "Simple made easy" by Rich Hickey. If your desire is for async-graphql to be usable by large teams, you can't lean so heavily into dynamic features (that's not why they chose rust).

[2020-09-24 02:03] sunli829 commented on #198
Convenient functions like`tide::Endpoint`, I think `receive_batch` can be used by default, what do you think?

[2020-09-24 02:15] sunli829 commented on #208
Regarding the shortcomings of generic CtxData, this issue(Juniper #655) has a more detailed explanation, you can refer to it.

[2020-09-24 02:18] phated commented on #208
I've already reviewed that issue extensively and the user is just asking for MORE dynamic dispatch. If you research the people, they are just hobbyists building simple things where dynamic dispatch doesn't matter. Meanwhile, I am actively talking to large teams trying to build large GraphQL servers and they don't want to risk using the project currently. There are a lot of rough edges that don't s

[2020-09-24 02:32] sunli829 commented on #208
Any suggestions for amendments are welcome, like Koxiaet's #261, this is a huge change.
But regarding CtxData, your suggestion to use generics also has its benefits, but I still have to think about whether it is worth making a lot of changes for this.

[2020-09-24 02:35] sunli829 commented on #208
So, we wait for @Koxiaet  to give his thoughts, if he also thinks this change is necessary, then I will do it immediately. 😁

[2020-09-24 03:05] sunli829 commented on #276
Let me think about it. 😁

[2020-09-24 03:12] sunli829 commented on #276
[code]

With the above definition, automatically generating the following conversion function is the only thing I can do.

[code]

[2020-09-24 03:19] sunli829 commented on #276
This is of course possible. Derive macros are not allowed to take parameters, but you can write them like this.

[code]

[2020-09-24 05:52] Koxiaet commented on #198
@sunli829 I agree but I was asking for all of them. In general users will want to enable batch requests but having separate `_batch` functions I think has the risk of them not using it.

[2020-09-24 05:57] sunli829 commented on #198
I haven't used the batch requests. In fact, this function doesn't have much advantage under http2. (Just my personal opinion.) 😁

[2020-09-24 06:31] Koxiaet commented on #198
Oh that's true, I didn't think of it. I'm just unhappy with the code duplication that supporting both batch and non-batch causes. Maybe it can be done generically over a request trait? I don't want to do that if there's only two though, I'm trying to think if there are any other possible uses of the trait.

[2020-09-24 07:04] sunli829 commented on #198
It is very strange to let the user choose `BatchRequest` or `Request`. We let the user understand a feature that he may not use at all, so I think he needs to understand `BatchRequest` when he needs batch request. Maybe we only provide `async_graphql ::http::receive_batch_body` and `async_graphql::http::receive_batch_json` are completely sufficient. I don't want to make the integration difficult t

[2020-09-24 07:32] Koxiaet commented on #198
I was able to avoid code duplication implementing the regular and batch functions by always deserializing batch and then erroring if it there's multiple in the batch. Maybe we could repeat this pattern whereever both single and batch requests can be used, so the function dependency graph would look like

[code]

Instead of

[code]
Which would have more code duplication.

[2020-09-24 07:38] Koxiaet commented on #208
Is it possible to give users the choice? So `Context` would become an alias for `???<Data>` but you could also use `???<SomeUserType>`. I don't know what ??? should be named yet. It's more complex than either of the two other solutions but only by a small amount, and is more modular so may even be easier but I don't really know. Thoughts?

[2020-09-24 07:48] sunli829 commented on #198
Do you mean to implement the `Request` trait for `BatchRequest` and `SingleRequest`?

[2020-09-24 09:22] AurelienFT opened #277 "Example of context"
Hello,

I try to find example of the implementation of a simple context but I didn't find one in tests or examples. I want to implement a simple context to keep a connection open to my database and a simple example as this one could be useful.

Examples to build a context from integrations like warp could be cool too if we want to build a context with a userID which is in a JWT token in a header o

[2020-09-24 10:34] sunli829 commented on #277
Maybe this example will help you.

https://github.com/async-graphql/examples/tree/master/warp/token-from-header

[2020-09-24 11:11] kop opened #278 "Can not make Tracing extension work"
Hello,
I'm trying to set up the Tracing extension to report execution traces to Jaeger.
Whatever I do I can not make it work - spans from extension never get to the dispatcher.
I don't think it's `tracing` problem, because spans from other places (e.g. `actix-web` middleware) are working.
Maybe I'm doing something wrong and there is some working example exists somewhere?

[2020-09-24 11:22] sunli829 commented on #278
Can manually call the `tracing::event` macro output the correct content?

[2020-09-24 11:25] kop commented on #278
@sunli829 in other places of the program - yes. All traces/events are properly logged and delivered to jaeger.
But in `Tracing` extension, any calls to span/event seem to be completely ignored.

[2020-09-24 11:29] sunli829 commented on #278
Do you enable the Tracing extension? 😂

[2020-09-24 11:32] kop commented on #278
Lol. Of course. Other extensions are working. I also have a custom Logging extension that uses `tracing::event`s and they are working just fine.

[2020-09-24 11:34] kop commented on #278
So I assume that it's somehow related to the fact that `Tracing` is using `tracing::dispatcher::get_default()`. Maybe it's not available in that context for some reason...

[2020-09-24 11:39] sunli829 commented on #278
Could you help us solve this problem? 🙂

[2020-09-24 11:43] kop commented on #278
I was trying to solve it for the last 4 hrs with no luck.
That's why I created issue instead of PR :) But I will work on it more.

[2020-09-24 11:50] sunli829 commented on #278
Could you provide the simplest example project?

[2020-09-24 12:01] sunli829 commented on #278
Maybe you need to call `tracing_core::dispatcher::set_global_default`?

[2020-09-24 12:03] AurelienFT commented on #277
Thanks a lot. I'm really blind.

[2020-09-24 12:03] #277 closed

[2020-09-24 13:54] kop commented on #278
I have prepared an example project here: https://github.com/kop/async_graphql_tracing

It is done at https://github.com/kop/async_graphql_tracing/blob/master/src/main.rs#L75.

[2020-09-24 14:26] Koxiaet commented on #198
@sunli829 No, no request trait - just always putting the real logic in batch functions and having all other functions call their batch equivalents and fail if it's batch. Has the disadvantage of failing far later than necessary if a batch request is sent but not supported, however that's such a cold path it's fine.

[2020-09-24 19:09] kop commented on #278
Ok, I managed to get tracing working. I wrote a custom extension that is using `opentelemetry` directly instead of relying on `tracing` and this did the trick.

However, in the end, I realized that it's not what I want. The resulting image looks like this:

<img width="839" alt="jaeger_1" src="https://user-images.githubusercontent.com/645148/94188311-ddad2580-feb1-11ea-8197-97e2c32bf1f1.png">
<img

[2020-09-24 20:17] phated commented on #208
@Koxiaet that would fit along with my idea of re-exporting context as an alias of the more complex type, so I like it! I think the way you access the internal data would need to change though, is that correct?

[2020-09-25 07:06] sunli829 commented on #278
@kop Good news! I solved the problem of tracing extension, and now it is very cool to use!

[2020-09-25 08:40] kop commented on #278
@sunli829 just tried the master branch, still not works for me :(
Do you have some test project where you are testing this? Maybe I'm doing something wrong.

[2020-09-25 08:57] sunli829 commented on #278
https://github.com/tokio-rs/tracing/blob/6f0122657009e47077c9a2207d592e1fc38c910f/examples/examples/opentelemetry.rs#L19

I just used this function to do initialization Tracing.

[2020-09-26 00:44] #270 closed

[2020-09-26 00:44] #191 closed

[2020-09-26 03:32] sunli829 commented on #278
I tried the example you provided and it works fine.

![image](https://user-images.githubusercontent.com/20092316/94329234-fae60f00-ffeb-11ea-8122-be0aea9e82fc.png)

[2020-09-26 15:31] meh opened #280 "Persisted queries."
Is it me or are [persisted queries](https://www.apollographql.com/docs/react/api/link/persisted-queries/) impossible to implement with the current `Extension` trait?

[2020-09-26 16:11] Koxiaet commented on #280
Yeah, they would actually require some changes to implement. We have an `extensions` field on `Request` but it contains `async-graphql` extensions not GraphQL extensions - we'll have to change that. Additionally it means that the `query` field of a request has to be `Option<String>` instead of `String` (or maybe we can simply add `#[serde(default)]` to it).

[2020-09-26 16:15] meh commented on #280
I'd really like for this to be possible to implement before #208 happens, I was going to abuse the extension to also do demand control :(

[2020-09-27 02:11] sunli829 opened #281 "Make Object and Subscription macros support `#cfg(...)` attribute."
## Removed `#[field(feature=...)]` attribute, supports standard `#cfg` attribute.

The original feature attribute is not really conditional compilation, it just returns an error when the condition is not true.

### Example

[code]

[2020-09-27 02:18] sunli829 commented on #281
@bnjjj

[2020-09-27 02:24] #281 closed

[2020-09-27 05:06] chipsenkbeil opened #282 "Tips on diagnosing runtime errors with schema and execution"
I've successfully written out a first draft of my entire data model, wrapped in async_graphql. Yay!

Now I seem to be hitting errors at runtime when trying out graphiql or the graphql playground. With graphiql, I get errors about schema and execution. With graphql playground, I can execute a query and it works, but I cannot view and docs or schema with the interface constantly stuck at polling sch

[2020-09-27 05:15] sunli829 commented on #282
I am looking at this problem.

[2020-09-27 05:16] chipsenkbeil commented on #276
Would certainly be handy in the future! I wrote all of mine by hand, which was quite painful. Maybe something like this as an optional extension that can be applied for those that want it?

[2020-09-27 05:27] chipsenkbeil commented on #282
Added more clarity where possible. Graphiql fails on schema, docs, and execution. Graphql playground fails on schema and docs, but execution works!

I'm using `2.0.0-alpha19` at the moment.

[2020-09-27 05:29] sunli829 commented on #282
This definition does not conform to the GraphQL specification because `Placeholder` is also a union.

[code]

[2020-09-27 05:32] sunli829 commented on #282
I will impose restrictions on `Union` procedural macro.

[2020-09-27 05:32] chipsenkbeil commented on #282
Ah, missed that disclaimer. Interesting that it compiles despite it not conforming. I've got several similar situations, so I guess the best fix is to make an object in between?

[2020-09-27 05:33] sunli829 commented on #282
Yes. 😁

[2020-09-27 05:40] chipsenkbeil commented on #282
@sunli829 going to close this. Is there anything I can do to thank you for the help? You've been fast, friendly, and helpful on multiple occasions. Would love to show thanks in some way. Donation?

[2020-09-27 05:40] #282 closed

[2020-09-27 05:46] Koxiaet commented on #282
There's additionally a bug where `Variables` cannot deserialize from `null` which was causing the 500 error, that'll also have to be fixed.

[2020-09-27 05:53] sunli829 commented on #282
Thank you, but I am not doing this for money, I am very happy to be able to help you. 😁

[2020-09-27 05:54] sunli829 commented on #282
I will solve it now. 😁

[2020-09-27 09:18] Koxiaet commented on #282
@sunli829 Yes - Clients do send `null` in the `variables` option and I tested it and currently `#[serde(default)]` does not account for `null`.

[2020-09-27 09:27] rkudryashov opened #283 "Apollo Federation doesn't work"
In the latest alpha versions, I encountered the following error at Apollo Server startup:

[code]

As you can see, my project contains 3 services, and `auth-service` can't be loaded. I didn't manage to reproduce the error in my repro-project, but the schema looks like:

[code]

[code]

I don't know what GraphQL types led to this error. Only can notice that type system contains empty Query and does

[2020-09-27 10:27] sunli829 commented on #276
I added a `remote` attribute to the `Enum` macro, it can automatically implement the conversion functions of `impl From<Local> for Remote` and `impl From<Remote> for Local` enumeration types.
If you are free, please help me add a paragraph describing this feature in `define_enum.md`. 🙂

**Here is test code**

https://github.com/async-graphql/async-graphql/blob/397650bb0df210e22d16eb0d711d0255c3a93

[2020-09-27 10:49] sunli829 commented on #283
Thank you for helping us test the alpha version, I have fixed this problem. 🙂

[2020-09-27 11:11] sunli829 commented on #282
This problem has been resolved. 🙂

[2020-09-27 19:03] chipsenkbeil commented on #276
Cool. Added a little info to the book per your description. See #285.

[2020-09-27 19:08] chipsenkbeil opened #286 "Feature to flatten nested GraphQL unions"
Per discussion in #282 where GraphQL doesn't allow nested unions, I wonder if it is possible and would make sense to support a **flatten** attribute on a variant of a union that could add all of the sub-union's variants to the top-level union.

[code]

would yield the equivalent of

[code]

[2020-09-28 03:14] #276 closed

[2020-09-28 03:17] sunli829 commented on #286
I added this feature, please help me improve the book. 😂 @chipsenkbeil

[2020-09-28 03:32] chipsenkbeil commented on #286
@sunli829 any chance of another alpha release so I can try out the new feature?

[2020-09-28 03:32] sunli829 commented on #286
`InputObject` also supports the `flatten` attribute. Could you add it to the book when you are free? 😁

#255

[2020-09-28 03:34] sunli829 commented on #286
Released `2.0.0-alpha.20`. 😁

[2020-09-28 12:48] stevenxie opened #287 "Deserialization failure when request variables are not present."
Hello! I've been using `async-graphql` with `warp`, and I noticed after testing out my `graphiql` endpoint that `serde` fails to  deserialize a `BatchRequest` when a query with null or missing `variables` are made (likely because `Request.variables` are of type `Variables`, rather than `Option<Variables>`).

I'm open to work on a PR to change the type of `Request.variables` an `Option<Variables>`,

[2020-09-28 13:00] Koxiaet commented on #287
@stevenxie Are you using version `alpha.20`? It was fixed in [this commit](https://github.com/async-graphql/async-graphql/commit/bf42c4e9156a8c67ac56815b5b1b3748ef897de9).

[2020-09-28 13:07] stevenxie commented on #287
Oh, didn't notice that `alpha.20` was out! Thanks :)

[2020-09-28 13:07] #287 closed

[2020-09-29 05:42] sunli829 opened #288 "Rework async-graphql-derive"
- [x] Using `darling` crate to parse the parameters of the macros can provide better error messages.

- [x] Remove all `desc` attributes, only support `rustdoc` to add GraphQL description.
- [x] Enum Item: `#[item]` to `#[graphql]`.
- [x] Object Field: `#[field]` to `#[graphql]`.
- [x] Argument: `#[arg]` to `#[graphql]`.
- [x] Federation Entity: `#[entity]` to `#[graphql(entity)]`.

[2020-09-29 11:11] sunli829 opened #289 "Add the `tide` integration tutorial to the book."

[2020-09-29 12:45] sunli829 commented on #271
I removed the `Request::extension` function, because now the extension has a context object through which context `data` can be accessed. I think this is better.

[2020-09-29 21:03] mwilliammyers commented on #271
Can I still create an extension with that though? I need to create my `Logger` extension.

[2020-09-29 23:56] sunli829 commented on #271
Add the extension when creating the schema, add `requester_id` to `data` when executing the query, and then you can access it through the `ExtensionContext`. 🙂

[2020-09-29 23:57] sunli829 commented on #280
I am adding this feature.

[2020-09-30 00:00] meh commented on #280
Thank you so much, you're a hero!

[2020-09-30 01:23] Bajix opened #290 "Streaming uploads?"
How does one accomplish streaming uploads? My use case is to directly upload an incoming file to Cloudinary using a POST request such that this can be uploading to cloudinary as the file is uploading to the API.

[2020-09-30 02:38] sunli829 commented on #290
https://github.com/async-graphql/async-graphql/issues/255#issuecomment-686790291

[2020-09-30 03:42] sunli829 commented on #280
Only support memory-based LRU cache right now. If you need to support `Redis`,  need to implement `CacheStorage` yourself, which is very easy.

[2020-09-30 03:52] sunli829 commented on #286
If the problem has been resolved, please close it.

[2020-09-30 03:52] sunli829 commented on #278
If the problem has been resolved, please close it.

[2020-09-30 03:53] sunli829 commented on #283
If the problem has been resolved, please close it.

[2020-09-30 04:15] chipsenkbeil commented on #286
It works! I haven't had time to write the updates to the documentation, though. Did you want me to go ahead and close this one?

[2020-09-30 04:16] sunli829 commented on #286
It's okay, wait until you have time to add documents before closing it.

[2020-09-30 06:01] rkudryashov commented on #283
Can't test the project because of compilation errors:

[code]

[2020-09-30 06:06] sunli829 commented on #283
There is a major modification.

https://github.com/async-graphql/async-graphql/issues/288

[2020-09-30 07:16] rkudryashov commented on #283
next error

[code]

[2020-09-30 07:48] sunli829 commented on #283
[code]

[2020-09-30 07:56] rkudryashov commented on #283
Thank you, now the issue has been resolved

[2020-09-30 07:56] #283 closed

[2020-09-30 08:02] rkudryashov commented on #283
But such a comment is not shown in GraphQL IDE. How to show it?

[2020-09-30 08:06] sunli829 commented on #283
If not, it is certainly a bug.

[2020-09-30 08:25] rkudryashov commented on #283
I just change this

[code]

to this

[code]

[2020-09-30 08:27] rkudryashov commented on #283
Previously `desc` value was shown as GraphQL comment

[2020-09-30 08:33] rkudryashov commented on #283
My mistake, comments are not shown only in Apollo Server playground

Standalone app shows them

[2020-09-30 09:43] kop commented on #278
@sunli829 please give me a couple of days. I will return to this issue once I'll have a chance. I want to understand why it was not working in my setup and maybe add corresponding instructions to the book.

[2020-09-30 20:13] mwilliammyers commented on #271
Was this implemented in https://github.com/async-graphql/async-graphql/commit/af2e480b70d8e00dd0d64c01d648d7ddef7bd6d0 ?

[2020-09-30 22:56] sunli829 commented on #271
Yes.😃

[2020-10-01 01:47] #288 closed

[2020-10-01 03:19] #286 closed

[2020-10-01 03:28] sunli829 commented on #280
If the problem has been resolved, please close it.

[2020-10-01 05:29] Bajix commented on #290
Touché. Coming soon!

[2020-10-01 10:49] sunli829 commented on #290
Use `Upload` type to support file upload, the following is an example.

https://github.com/async-graphql/examples/tree/master/models/files

[2020-10-01 10:58] sunli829 commented on #208
@Koxiaet Is it really necessary to remove the dependency on `serde_json`?

[2020-10-01 12:47] #280 closed

[2020-10-01 14:19] Koxiaet commented on #208
Ideally we would - GraphQL is transport agnostic. What's the problem?

[2020-10-01 15:41] sunli829 commented on #208
It's a lot of work.😂

[2020-10-02 13:49] AurelienFT opened #293 "Rework guard parsing"
Hello,

I use the repository for a project in my company and I want to help a bit to contribute to the amazing work you guys doing.

I figured out that guard only support (implicitly) `and` operator which accept `x` numbers of rules and the implementation is very specific to this operator.

If we take [graphql-shield](https://github.com/maticzav/graphql-shield) (a huge guard module for graphql api

[2020-10-02 14:09] sunli829 commented on #293
Great, look forward to it! Post guard I think you can delete it, it's not too useful. Attributes parsing for procedural macros is recommended use `darling` crate, which is very handy. 😃

[2020-10-02 14:17] AurelienFT commented on #293
I don't know `darling`, I started doing the parsing the same functions that you used. Maybe I can make a v2 with `darling` after I practice with macros

[2020-10-03 01:05] sunli829 opened #295 "Remove the dependency on `serde_json`."
@Koxiaet I am doing this. 😁

[2020-10-03 01:28] sunli829 commented on #295
I am considering whether it is worth removing the dependency on `serde_json`, because the only difference between `serde_json::Value` and `async_graphql::Value` is the addition of a `Name` type. Custom transfer coding, this is an optimization point, because Name is usually fixed.

[2020-10-03 05:07] Koxiaet commented on #295
I opened [this issue](https://github.com/graphql/graphql-spec/issues/785), and that presents a problem for us - what should the type of `Variables` be? It can't be `serde_json::Value` _or_ `async_graphql::Value`, it would ideally be some transport-agnostic type that can represent any value.

[2020-10-03 09:08] Koxiaet commented on #295
I am currently replacing `InputValueType` with a supertrait of `Deserialize` and `ScalarType` with a supertrait of `Serialize` and `Deserialize`. This has other benefits too like removing the potentially confusing `InputValueError` and supporting automatic implementations.

[2020-10-03 15:21] Koxiaet commented on #295
I encountered a problem with this approach: How to differentiate null and undefined. There are 3 options:
1. Treat arguments as `Option<Value>`. However this would fail to deserialize `null` to `Option<i32>` since the value is present but `null` isn't an `i32` so is not a good idea.
1. Swap null and undefined and use an `Option<Value>`. This way `Option<i32>` matches `null` and `5` but not undefin

[2020-10-03 16:27] Koxiaet commented on #295
Oh dear, I just realized another major problem - uploads. Since variables are no longer `async_graphql::Value`s, they can no longer contain files. We'll have to completely rethink our approach to supporting file uploads. This isn't something introduced by this change by the way, before the implementation wasn't spec-compliant since it only supported `async_graphql::Value`s in variables.

After som

[2020-10-03 17:59] AurelienFT commented on #295
Hello @Koxiaet

About your first comment, even if I did understand all very well, I find out some resources about this that could help you :
- A SO post about (I think) your second option : https://stackoverflow.com/questions/44331037/how-can-i-distinguish-between-a-deserialized-field-that-is-missing-and-one-that
- A issue on github with an answer of the maintenainer of serde which show an example

[2020-10-03 18:41] Koxiaet commented on #295
I've [committed to the `scalar-serde` branch now](https://github.com/async-graphql/async-graphql/commit/32bb69f1b6f8d466b51b7c871ee779c9d5decb98). It doesn't compile yet (obviously) but it's a start. I'll be back in 10 hours so if you want to continue work in the meantime you can :).

[2020-10-03 19:13] AurelienFT commented on #295
I don't know enough about the code base of the project that's why I currently working on #293 . But I tried to help you with resources that can be useful. I think the third that I linked could be very cool (if I understood well your problem)

[2020-10-03 22:12] AurelienFT commented on #293
I don't think implement the `not` operator seems relevant because we can't return the error defined in the `check` function of the user.

What do you think about it @sunli829 ?

[2020-10-03 23:04] rkudryashov opened #297 "Rename function"
I think `propogate` function should be renamed to `propagate`

[code]

[2020-10-03 23:45] sunli829 commented on #293
you're right. 😁

[2020-10-03 23:47] sunli829 commented on #297
Yes, this is a spelling error.

[2020-10-03 23:56] sunli829 commented on #295
Do we need to deserialize `Json` to `Variables` according to the type definition in the schema?

`Value::Name` cannot be deserialized from `Json`, causing the enum of `async-graphql` to actually allow two types of values, `string` and `Name`.

[2020-10-04 00:16] #297 closed

[2020-10-04 06:32] Koxiaet commented on #295
@sunli829 What do you mean? `Variables` will be a map of `Name`s to `serde_value::Value`s, and those `Value`s can't contain `Name`s - they just contain strings. With this new implementation `async_graphql::Value` really won't be used at all any more - it will just be an opaque `Deserializer`.

[2020-10-04 07:38] sunli829 commented on #295
`Variables::parse_json` cannot recognize `enum` type values.

So there will be the following code, but this does not actually comply with the GraphQL specification.

[code]

[2020-10-04 07:49] sunli829 commented on #295
I have studied GraphQL implementations in other languages, and they actually have a function like `ScalarType::parse_json(value:serde_json::Value)` that is specifically used to deserialize scalars.
Then `Variables::parse_from_json` does not directly parse the `Json` and convert it to the internal `Value`, but calls the `parse_json` function of the corresponding scalar type.

[2020-10-04 08:28] Koxiaet commented on #295
@sunli829 So variables would become a `BTreeMap<Name, Box<dyn Any>>`, and we'd downcast it to the correct type when it's needed? That could work, it would avoid deserializing the variables multiple times. It would require input values to implement `Deserializer` though, as `Value`s can contain variables.

I actually removed EnumType and replaced it with a generated implementation of Deserialize fo

[2020-10-04 09:14] sunli829 commented on #295
Maybe we need to be more considerate.😃

[2020-10-04 12:24] sunli829 commented on #295
But this means that we cannot completely remove the dependency on `serde_json`, at least `Variables::from_json` also x...

[2020-10-04 12:31] Koxiaet commented on #295
@sunli829 `Variables::from_json` would be removed, we'd just deserialize straight into it.

[2020-10-04 12:54] sunli829 commented on #295
The third option looks good, don't you think?😃

[2020-10-04 12:58] sunli829 commented on #295
I actually did this a long time ago, and I thought it was ok.😃

[2020-10-04 13:07] sunli829 commented on #295
Sorry, I'm in a small city where access to Github is so slow, it takes me 5 minutes to open a page, and I only have my phone. So my reply was rather slow, but fortunately I will be able to go home tomorrow. 😂

发自我的iPhone

[2020-10-04 18:55] simoneromano96 opened #299 "[Help] Actix-web and federation has some weird behaviour"
Hello, I'm experimenting with this library in my public [repo](https://github.com/simoneromano96/federation-graphql-rust) for a future article.

So I noticed some weird behaviour when creating the queries and mutations in the services.

`accounts-services/src/graphql/query.rs`
[code]

In this query I only have to expose the "me" query, but I had to add the "echo" query otherwise it was empty on th

[2020-10-04 21:31] mwilliammyers commented on #273
Would that allow me to use a custom JSON scalar (`Map`) and put keys in it that violate the graphql spec (e.g. kebab-case fields?) The issue is that `async_graphql::Value::Object` requires valid keys, I believe?

[2020-10-04 22:40] sunli829 commented on #299
`#[graphql(entity)]` is used to mark an entity lookup method. It should only be used in the `Query` object. The parameter of the method is the `key` of the returned object.

https://www.apollographql.com/docs/federation/entities/#defining

[code]

The above schema defines that `upc` is the key of `Product`, so a lookup method must be provided for `Product`.

[code]

`#[graphql(entity)]` should not

[2020-10-04 22:58] sunli829 commented on #295
Now all types that can be supported by `serde` automatically become scalars, right? @Koxiaet

[2020-10-05 03:19] mwilliammyers commented on #208
Something that came up in Juniper semi-frequently, and something that will inevitably come up here is: should there be a public parser API/crate?

I am already running into issues trying to create a custom logger extension... I have made it through a few rounds of updates but I think I hit a wall with  `ExecutableDefinition` being renamed to `DefinitionItem` and made private. I think? It is really

[2020-10-05 03:26] mwilliammyers commented on #271
I am going to for things to settle down before I re-implement my custom Logger... I can't keep up with all the changes 😂  Once I can re-implement my custom Logger I can figure out if this will work for me or not.

[2020-10-05 03:35] mwilliammyers commented on #271
Side-note: the primary reason I am implementing a custom logger is so I don't accidentally log passwords (I have a `login` mutation). I just log the query/mutation name instead of the entire document. The docs might want to mention that the logger is potentially insecure depending on your schema?

[2020-10-05 03:54] mwilliammyers commented on #295
Will `MaybeUndefined` no longer derive `Serialize`?

[2020-10-05 05:13] mwilliammyers opened #300 "Cannot load playground if last route in warp Filter"
I updated from 559e7c4 to 2.0.0-alpha.22 (and 2.0.0-alpha.23) and I opened my browser to my apollo playground and I get the following error:
[code]

I think the issue is happening because I have the `graphql_post` before the playground routes:
[code]

`graphql_post` is just a more complicated version of the one from the [warp example](https://github.com/async-graphql/examples/blob/1aa5151b113d2650

[2020-10-05 05:28] Koxiaet commented on #273
@mwilliammyers It's not in the normal format because it's not a GraphQL error, it's a transport error. But we are working on this in #295.

[2020-10-05 05:30] Koxiaet commented on #208
@mwilliammyers There is. [async-graphql-parser](https://crates.io/crates/async-graphql-parser), although its version numbers are kept in sync with `async-graphql`, is a standalone crate.

[2020-10-05 06:39] mwilliammyers commented on #208
Ahh, I thought that wasn't being published anymore because things got shuffled around. 👍

[2020-10-05 11:05] leebenson opened #301 "Interfaces can return empty results"
**TL;DR - If no fields being requested in an interface query match, the empty set should be omitted.**

In [Vector](https://vector.dev), we have an interface named `Resource` that has concrete implementations as `Source`, `Transform`, and `Sink`.

When querying for a resource via an interface, we'd like for _just_ the type being spread on to be returned. So something like this:

[code]

Would retu

[2020-10-05 11:47] sunli829 commented on #301
Let me see what is the reason, but I will fix this problem in the 2.0.0-alpha version. We have done a lot of optimization and refactoring, and it will be released soon. 🙂

[2020-10-05 11:48] leebenson commented on #301
Thanks @sunli829 !

[2020-10-05 12:23] sunli829 commented on #301
I checked the GraphQL specification and it doesn't seem to stipulate that if the fragments in the `List` cannot be applied, no results will be returned.
So the current result should be correct?

[2020-10-05 12:25] leebenson commented on #301
👍 I checked the spec too this morning, and couldn't see a particular mention either. I'm pretty sure in other implementations, I've come across empty results being filtered out. I'll whip up a quick demo in Apollo and see how they handle it. Will report back soon.

[2020-10-05 12:57] sunli829 commented on #301
Thank you！😃

[2020-10-05 17:28] simoneromano96 commented on #299
Hi, thanks for the help, It's a bit clearer now, there is one thing though, I want to expose to the gateway a query to get a single item by its ID, does this mean that I have to duplicate the logic?
If I put only the `#[graphql(entity)]` I can't find the `find_coffee_by_id` query, if I eliminate the `find_coffee_by_id` there are, of course now that it is clearer, no queries. Is there some kind of

[2020-10-06 01:32] sunli829 commented on #300
Did this code work before?

[2020-10-06 09:41] AurelienFT commented on #293
Implemented with https://github.com/async-graphql/async-graphql/pull/296

[2020-10-06 09:41] #293 closed

[2020-10-06 11:58] AurelienFT opened #302 "Discussion about new context"
Following this comment of @Koxiaet : https://github.com/async-graphql/async-graphql/issues/208#issuecomment-694711145 We need to think about a new way to manage the context.

I agree with the fact that the generic parameter is painful to understand and use.

It could be cool if we write the different proposal in this issue.

### My proposal

Make context a structure that can be defined by the user

[2020-10-06 12:06] AurelienFT opened #303 "Add templates issues"
The repository is growing and even if he is really well maintained the numbers of issues will increase too.

I would like to add issues templates for bug report/bug help.

The template must add the label bug each time he is used.

# Proposal of template :

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  1.
  1.

## Specifications

  - Version:
  - Platform:
  -

[2020-10-07 03:54] chipsenkbeil commented on #30
@sunli829, what became of this issue? I wasn't able to follow along properly to understand if this was implemented. There was mention of passing new schemas to validators and not having a context available. Then there was discussion about a guard and it looks like that was implemented, although I don't recall seeing guards mentioned in the book.

A use case I have in mind is enabling users of [vim

[2020-10-09 12:22] sunli829 commented on #295
The changes in the `serde-scalar` branch are too large, just to completely remove the dependency of `serde_json`, I feel that this is unnecessary.
I hope to stabilize version 2.0 soon.😂 @Koxiaet

[2020-10-09 15:00] Koxiaet commented on #295
Ok, pehaps we could just replace `serde_json::Value` and `async_graphql::Value` with `serde_value::Value` across the library instead. Serde traits are the ideal solution for performance and ease of use, but I agree that the churn is possibly too much.

[2020-10-09 22:55] danjenson opened #305 "Tide: how to add context data"
It looks like the Tide integration recently changed, before this is what I had:

[code]

Bit now it looks like this has been broken apart into endpoint, etc. How can I add, for instance, the User to each request after pulling it out and verifying the bearer token? How can I even access the original request?

[2020-10-10 01:10] sunli829 commented on #305
https://github.com/async-graphql/examples/blob/1aa5151b113d265053ea36a855fe17562eec15d9/tide/token-from-header/src/main.rs#L44

[2020-10-10 01:14] sunli829 commented on #295
There is not much difference between `serde_json::Value` and `serde_value::Value`, are they? I even think `serde_json::Value` is better to use. 😁

[2020-10-10 01:18] sunli829 commented on #295
I first removed the `Name::new_uncheck` function to support parsing variables:

[code]

[2020-10-10 05:08] Koxiaet commented on #295
@sunli829 Well `serde_value::Value` supports things not supported by JSON like non-string keys and raw byte sequences.

But after some thought switching to `serde_value::Value` will cause about as much breakage as switching to serde traits. If you're concerned about whether we can get it implemented soon, I will have much more time to work on it this week than last.

Also, don't use `Arc<String>`

[2020-10-10 05:32] sunli829 commented on #295
I tested it, and now there is a 30% performance improvement.

I am going to change this now.

[2020-10-10 05:33] sunli829 commented on #295
`serde_value` does not support arbitrary precision `Number`, I think this is a big problem.

[2020-10-10 05:40] Koxiaet commented on #295
@sunli829 `serde-value` doesn't support it because `serde` doesn't support it - there's no way for `serde_json` to represent something `serde-value` doesn't, as `serde-value` is strictly a superset of `serde_json`.

[2020-10-10 05:45] sunli829 commented on #295
- [ ] Change Name(String) to Name(Arc<str>). @Koxiaet Could you help me with this, I really don't know how to create
- [ ] Implement Serializer/Deserializer for `ConstValue`.

[2020-10-10 05:48] sunli829 commented on #295
We don't need to use `serde_value`, just use `ConstValue`, which has better performance, now the field name does not need to be deep cloned. 😁

[2020-10-10 05:54] Koxiaet commented on #295
@sunli829 `ConstValue` has the major problem of being way too restrictive though. We should support non-`Name` object keys.

[2020-10-10 07:08] sunli829 commented on #295
In fact, I removed the Name constraint. 😂

[2020-10-10 07:47] Koxiaet commented on #295
@sunli829 But there's still going to be the issue of non-string keys. IMO ConstValue should just be a parsing construct and nothing else - using it for anything else is overloading it's purpose too much. Everything should go through Serde or serde value.

[2020-10-10 07:56] snnsnn opened #306 "Federated API Gateway in Rust?"
Hi, I was wondering if we need to depend on Apollo Gateway to combine federated graphql services because I checked some performance comparisons and it seems Apollo server is slower than express implementation? If so, why not implement in Rust? Is it something on the road map?

[2020-10-10 08:18] sunli829 commented on #295
Do you mean that GraphQL actually supports non-string keys?

[2020-10-10 08:38] sunli829 commented on #306
We currently have no plan to implement Federation with rust. 😁

[2020-10-10 09:06] Koxiaet commented on #295
@sunli829 Yes - [see the issue I linked earlier](https://github.com/graphql/graphql-spec/issues/785). GraphQL is also protocol-agnostic so if it supports non-`Name` values it supports non-JSON values.

[2020-10-10 16:35] hapcode commented on #295
I'm trying to migrate my project from async-graphql `1.17.14` to `2.0.0-alpha.24`. I've the scalar which doesn't work in a new version:

[code]
[code]
What is the correct way to rewrite the code? Do I've to do the conversion manually like [here](https://github.com/async-graphql/async-graphql/blob/78341f23927893cfcb4ead88727c86fc17a289df/src/types/external/json_object/btreemap.rs#L17)?

[2020-10-10 18:14] danjenson commented on #305
thx

[2020-10-10 18:14] #305 closed

[2020-10-10 19:27] #306 closed

[2020-10-10 19:38] smmoosavi commented on #208
maybe we can use the "inventory" idea instead of MergeObject API.

[2020-10-10 19:42] smmoosavi opened #307 "MergedObject and Interface don't work together."
I have tried to use `Interface` and `MergedObject` together but I got this error. what is the correct code

code:

[code]

error:

[code]

[2020-10-11 02:32] sunli829 commented on #295
Need to add functions similar to `serde_json::to_value` and `serde_json::from_value`, I am working on this.

[2020-10-11 07:06] chipsenkbeil opened #308 "panic with IndexMap: key not found"
I seem to be hitting some unexpected errors again; this time with `async-graphql-alpha.24`. When adding this method to one of my GraphQL objects, I get different errors for graphiql and graphql playground:

[code]

If you want the full source where this happens, this commit introduced the issue for me: https://github.com/chipsenkbeil/vimwiki-server/commit/8eed2d6ff107099b5ad6421195618e4e5be4838e

[2020-10-11 09:17] rkudryashov opened #309 "Integrate GraphQL subscription and Kafka consumer"
I didn't manage to do this, the example below is not compiled:

[code]

Error message:

[code]

I asked for help in a Rust chat, and one of assumptions was that this is a strange behavior of `Subscription` macro, because without the macro  the example is compiled without errors.

Explicit lifetimes was needed just for clarification; they will be removed when the example is compiled.

[2020-10-11 13:37] sunli829 commented on #295
@hapcode

Upgrade to `v2.0.0-alpha.26`.

[code]

[2020-10-11 17:37] hapcode commented on #295
Parsing is okay, but `to_value` doesn't work with `Language` key. I got the following error:
[code]

[2020-10-11 20:33] mwilliammyers commented on #300
Yep! As of at least 559e7c4, that code worked. I have been using it for more than 6 months like that.

[2020-10-11 20:41] mwilliammyers commented on #273
I saw in #295 that `Name::new_unchecked` is being completely removed. Is there anyway I will be able to support arbitrary JSON as a graphql scalar represented by a JSON object (ie plain ol Javascript object) *with* invalid graphql keys/names?

[2020-10-11 23:35] sunli829 commented on #295
I don't think it makes much sense to implement this feature, because there is no GraphQL client to support this, what do you think? 🙂

[2020-10-11 23:52] sunli829 commented on #295
Upgrade to `v2.0.0-alpha.27`. @hapcode  😂

[2020-10-12 02:21] sunli829 commented on #300
The ʻasync_graphql_warp::graphql` function now handles `GET` requests, a long time ago it only handled `POST` requests.

[code]

[2020-10-12 03:09] sunli829 commented on #308
Upgrade to `v2.0.0-alpha.28`. 😁

[2020-10-12 03:15] sunli829 commented on #301
@leebenson Is this correct? 😁

[2020-10-12 03:18] sunli829 commented on #299
Sorry, I was ill the other day, so I didn’t reply immediately.
In this case, maybe you can extract a common function to eliminate duplicate code. 😁

[2020-10-12 03:19] #290 closed

[2020-10-12 03:19] sunli829 commented on #273
@mwilliammyers This problem has been resolved in `2.0.0-alpha.28` version.

[2020-10-12 04:31] chipsenkbeil commented on #308
Fixed :)

[2020-10-12 04:31] #308 closed

[2020-10-12 06:53] sunli829 commented on #309
`MergedObject` cannot be placed in `Interface` and will not be supported in the future. 😁

[2020-10-12 06:53] sunli829 commented on #307
`MergedObject` cannot be placed in `Interface` and will not be supported in the future. 😁

[2020-10-12 07:03] simoneromano96 commented on #299
Thank you very much

[2020-10-12 07:03] #299 closed

[2020-10-12 07:14] sunli829 commented on #309
Upgrade to `v2.0.0-alpha.29`.

In fact, you only need to look like the following.

[code]

[2020-10-12 07:23] sunli829 commented on #303
Thank you, this one looks great!

[2020-10-12 07:30] Koxiaet commented on #295
In that case there's no point in removing serde json, since that's all we're going to support.

`Name` was originally made for the invariant that it must be a GraphQL name - removing that makes it useless. Sure there's an optimization to be made but I don't think it's worth it.

Since we're only supporting JSON we should move `async_graphql::Value` and `Name` to just a parsing construct, it makes

[2020-10-12 07:55] sunli829 commented on #295
After switching the output value from `serde_json::Value` to `ConstValue`, the performance improved by 30%. In fact, this is my original intention to remove `serde_json`. 😂

[2020-10-12 07:58] sunli829 commented on #295
I admit that there is still a lot of room for improvement, but I hope to release the stable `v2.0.0` soon. 😂

[2020-10-12 12:45] rkudryashov commented on #309
Thanks, now it works, but with different lifetimes config:

[code]

[2020-10-12 13:12] sunli829 commented on #295
@hapcode Upgrade to `2.0.0-alpha.30`, I added a `scalar` macro, it will be more convenient to use this macro in your situation. 🙂

[2020-10-12 15:05] hapcode commented on #295
Great. I've two similar scalars and the `scalar!` allows me to avoid code duplication. Many thanks.

[2020-10-13 06:21] #208 closed

[2020-10-13 10:37] AurelienFT commented on #303
Yep I din't had time those days I'll do it today or tomorrow.

[2020-10-13 21:01] phated commented on #302
I think the trait makes sense. What is an unbounded generic, exactly?

I thought context carried a lot of internals around with it?

[2020-10-14 06:32] Koxiaet commented on #302
A generic without bounds, just `<T>`. Since the trait is empty there's no reason to have it.

[2020-10-14 06:34] phated commented on #302
The trait would provide all of the default implementations for the internals used by the library, right?

[2020-10-14 08:25] sunli829 commented on #302
This trait seems useless? 😳

[2020-10-14 18:06] Snnappie opened #311 "Can no longer derive Union for union types with lifetimes."
I am attempting to upgrade a project which was pinned to version `1.17.2` to version 2. After changing various `#[SimpleObject]` to `#[derive(SimpleObject)]`, things were looking good until I came across this issue. Consider the following code:

[code]
This was compiling (and working fine) on 1.17.2.

[2020-10-14 20:06] leebenson commented on #301
@sunli829 - I can confirm Apollo Server works exactly the same way.

I'm a little surprised the GraphQL spec allows empty object results, but what you're doing right now does indeed look right 👍

This is the JS test code I used:

[code]

And the playground result:

<img width="796" alt="Screenshot 2020-10-14 at 21 02 42" src="https://user-images.githubusercontent.com/719722/96039529-b3bba300-0e60-

[2020-10-14 20:06] #301 closed

[2020-10-14 20:27] Snnappie commented on #311
So I dug into this some more with `cargo expand`. The relevant snippet of code is here:
[code]

I can replace the `#[derive(Union)]` with the expanded code and replace the marked `'b` lifetimes with `'_` and now it compiles fine.

[2020-10-14 21:15] phated commented on #302
So maybe this needs to be a macro?

[code]

[2020-10-14 21:46] Snnappie commented on #311
Some more digging - it is due to this section of code: https://github.com/async-graphql/async-graphql/blob/bc5cf2f2a2b5f0cb71e392a07a21332a8c23b1bc/derive/src/union.rs#L71-L93

In particular the static assertions on lines 73 and 84. If I remove them, my code compiles. I'm not sure if they are necessary. I spent some time trying to trick the generated code to have the appropriate lifetime specified

[2020-10-15 01:00] sunli829 commented on #311
@Snnappie Thank you for helping me find the cause of the problem, I fixed it in `v2.0.3`. 😁

[2020-10-15 01:01] #309 closed

[2020-10-15 01:56] #295 closed

[2020-10-15 01:56] #307 closed

[2020-10-15 01:58] sunli829 commented on #300
@mwilliammyers Has this problem been resolved?

[2020-10-15 01:58] #278 closed

[2020-10-15 01:58] #273 closed

[2020-10-15 01:59] #247 closed

[2020-10-15 01:59] mwilliammyers commented on #300
I haven't had time to check yet, but I will re-open it if I run into more issues.

[2020-10-15 01:59] #300 closed

[2020-10-15 02:02] sunli829 commented on #301
Thanks! 😁

[2020-10-15 02:31] sunli829 opened #312 "Discussion: Improve Interface"
`Interface` is currently implemented through call forwarding. The advantage of this is that we can find errors in interface definitions during compilation. But it cannot support types like `MergedObject`, which makes users feel very strange.

If we check whether all the fields of the interface match all the objects that implement this interface when registering the Interface (if they don’t match,

[2020-10-15 05:15] Koxiaet commented on #302
@phated What's wrong with a generic parameter though, it's a lot simpler. That method also can't really be done as the `Context` needs a lifetime parameter and generic parameter.

[2020-10-15 05:17] phated commented on #302
I thought everyone hated the generic parameter when I proposed it? As for the lifetime, that could be solved with something like smolstr, right?

[2020-10-15 05:20] sunli829 commented on #302
There is no difference the following two:

[code]

[code]

But the first one has a generic parameter that will spread everywhere.

[2020-10-15 05:25] phated commented on #302
See?? Type safety and autocompletion, come to mind....

[2020-10-15 05:29] sunli829 commented on #302
When your data always has only one type, you don't need to consider type safety at all. Isn't this the same as adding generic parameters to `Context`?

[2020-10-15 05:38] sunli829 commented on #302
The first one has the type safety problem you mentioned.

[code]

what about this?

[code]

[2020-10-15 05:44] phated commented on #302
If I remember correctly, I believe you can't destructure values from that (but I haven't tested in 6 months).

[2020-10-15 05:49] sunli829 commented on #302
So, the second one can solve your question about type safety? 😂

[2020-10-15 08:42] QuentinPerez commented on #247
thanks @sunli829 🙂

[2020-10-15 08:44] sunli829 commented on #247
In fact, now you can easily convert the result into flexbuffer, message pack, CBOR, BSON, etc...

[2020-10-15 09:30] AurelienFT commented on #303
Made in https://github.com/async-graphql/async-graphql/pull/313

[2020-10-15 09:30] #303 closed

[2020-10-15 14:14] Snnappie commented on #311
@sunli829 Perfect, my code compiles with `2.0.3` now. Thanks!

[2020-10-15 14:14] #311 closed

[2020-10-16 03:18] #198 closed

[2020-10-18 01:20] mwilliammyers commented on #271
I am having quite a difficult time updating my custom Logger (that just logs the operation name, instead of the whole query/mutation) to accommodate the parser changes.

Do you have any pointers? This is what it used to be:
[code]

[2020-10-18 02:47] mwilliammyers commented on #271
Actually, this is much easier:

[code]

But I am not sure if I am setting the extension context correctly, because when I call `context.data()` it is an `Err`:
[code]

[2020-10-18 03:00] sunli829 commented on #271
This is a good way.

I am writing a test case to confirm whether this problem exists.

[2020-10-18 03:17] sunli829 commented on #271
Where did you call `context.data()`?

[2020-10-18 03:26] sunli829 commented on #271
Here is the test case, it works well.

https://github.com/async-graphql/async-graphql/blob/75107413111aa55a8f93f0b7c93f5f95de253606/tests/extension.rs#L7

[2020-10-18 09:10] rkudryashov opened #314 "Kafka consumer per client's subscription"
How to create one Kafka consumer on each subscription?

I tried it in this way:

[code]

but the compiler says:

[code]

Maybe consumer should be `Subscription`'s field?

[2020-10-18 09:49] Koxiaet commented on #314
The best way to create self-referential streams like that is with the [`async-stream`](https://github.com/tokio-rs/async-stream) ([docs.rs link](https://docs.rs/async-stream)) crate:

[code]

[2020-10-18 10:16] rkudryashov commented on #314
Thanks, this works fine

[2020-10-18 10:16] #314 closed

[2020-10-19 00:42] mwilliammyers commented on #271
I finally figured it out.

I had:
[code]
but it worked once I removed the reference.

This happened because I mindlessly lifted it from elsewhere in my code where I have:
[code]

I wish that could be caught at compile time... I guess this is an example where type safety is important even if `context` is a single type 😉   https://github.com/async-graphql/async-graphql/issues/302#issuecomment-708907

[2020-10-19 00:42] #271 closed

[2020-10-19 13:53] frigus02 opened #315 "Introspection query returns type MergedObjectTail without any fields"
Thanks for all your work on async-graphql. We really enjoy working with it.

We use the introspection query to generate a GraphQL schema, which we can share with clients of the API. In version 2.0.5 this doesn't work anymore. Please let me know if I'm doing something wrong 🙂

## Expected Behavior

Introspection query returns valid result, which can be used in apps like the GraphQL Playground.

##

[2020-10-19 13:56] Koxiaet commented on #222
This should probably be closed now, `async-graphql-rocket` isn't released but that's blocked on Rocket itself.

[2020-10-19 13:56] #222 closed

[2020-10-19 21:46] frigus02 commented on #315
I tried to find out the issue may be in the schema validation. I found https://github.com/graphql/graphql-js/issues/937 and https://github.com/graphql/graphql-spec/issues/568:

- The spec says the field definition for Object types is optional

- But the validation rules for objects start with

Not sure what that means for async-graphql. Should it filter out types without fields from the introspect

[2020-10-20 01:22] sunli829 commented on #315
This is a bug, and I am solving it.

[2020-10-20 03:53] sunli829 commented on #315
Please upgrade to `v2.0.6`, this problem has been resolved. 😁

[2020-10-20 08:47] frigus02 commented on #315
Super quick, thanks a lot!

[2020-10-20 08:47] #315 closed

[2020-10-20 09:04] frigus02 opened #316 "Federation not working with MergedObject mutation"
After the fix of #315 I'm seeing another issue with federation and mutation generated by MergedObject.

## Expected Behavior

If the query has at least one entity definition, I would expect federation to be enabled. I would expect the mutation to be irrelevant.

## Actual Behavior

The above works fine until I add a mutation made using `MergedObject`. When I create the mutation like this:

[code]

[2020-10-20 10:21] sunli829 commented on #316
I can't reproduce this problem. Is it because I did something wrong?

[code]

[2020-10-20 10:31] Weasy666 opened #317 "async_graphql::Error and thiserror"
Since upgrading to `async-graphql 2.0` i have kind of a problem with `async_graphql::Error` in combination with `thiserror`.

[code]

the above code does not compile with the following errors:

[code]

With the old version of `async-graphql` everything worked fine, so....i feel kinda dumb, but am i missing some kind of import or is this just not possible anymore?

[2020-10-20 10:50] sunli829 commented on #317
Is this error obtained from `Response::into_result()`?

[2020-10-20 10:50] Koxiaet commented on #317
This is because `async_graphql::Error` doesn't implement the `Error` trait. This is an intentional design decision, as `async_graphql::Error` is a GraphQL-specific error and shouldn't be used as a general error. You can use format `message` field of the `Error` if you like, which is a `String`. Can you give more details about your use case?

[2020-10-20 11:11] frigus02 commented on #316
Ah, sorry. Apparently I didn't test enough to make a proper minimal example. But here we go now.

The change to your example that triggers the issue is:

- The mutation returns the same type as the entity function.

[code]

[2020-10-20 11:33] Weasy666 commented on #317
I'm just beginning to implement the API, so the way i use errors is not really set. I just wanted to initally use and expose the errors throught he API for ease of development. So...for that i will use the `message` field and report back if i really need the `Error` trait and as such have a valid use case. Until then, everything is fine 👍 and thanks for clarifying.

[2020-10-20 11:59] sunli829 commented on #316
Thank you, this is a very serious bug that I accidentally added today. 😂
I have fixed this problem in `v2.0.7` version.

[2020-10-20 12:22] frigus02 commented on #316
No worries 🙂

Thanks for the super quick resolution. I can confirm that everything is working great now with 2.0.7. 🎉

[2020-10-20 12:22] #316 closed

[2020-10-21 16:45] rkudryashov opened #318 "Ability not to define a query"
After upgrading from 2.0.3 (not sure, maybe earlier version) to 2.0.7 one of my services stopped compiling:

[code]

It doesn't have any query, it contains just a couple of mutations. Is it possible to return this ability or maybe create `EmptyQuery` by analogy with mutation and subscription?

[2020-10-21 17:11] rkudryashov commented on #318
That is a pet project, so I definitely can add some query :) And it is hard to imagine real service without a single query.

So just FYI.

[2020-10-21 18:00] Koxiaet commented on #318
We _could_ allow this, but it is explicitly disallowed by the [GraphQL spec](https://spec.graphql.org/June2018/#sec-Objects):

And I don't think that allowing invalid schemas is a good idea.

You might want to [fix this issue](https://github.com/graphql/graphql-spec/issues/568) if you would like this feature in GraphQL itself.

[2020-10-21 20:00] rkudryashov commented on #318
I understand that an empty type is invalid. Earlier, that code could be compiled and final schema didn't include `Query` GraphQL type at all. Thank you for link, I found an answer:

(https://spec.graphql.org/June2018/#sec-Root-Operation-Types)

[2020-10-21 20:00] #318 closed

[2020-10-22 10:26] Weasy666 opened #320 "Re-introduce Rocket Fairing"
In 7caff6beee391bbec60ba713aede674bc7bdce9f you removed GraphQL as a fairing.

I think it would be great if you put that back in. In Rocket additional features/functionsare mostly introduced as a fairing, as that is Rockets concept of a [middleware](https://rocket.rs/master/guide/fairings/#fairings). That is exactly why i initially did that. This allows a user to see in the logs on server startup,

[2020-10-22 14:38] Koxiaet commented on #320
I didn't feel the fairing added much to the integration. Attaching the schema, being one expression, is much easier done manually - `.attach(graphql)` is no shorter than `.manage(schema)`, and the latter makes it more clear to the user what's actually happening. The same applies to multipart options; `.manage(opts)`, while slightly more hard to discover, is equally concise as managing it through t

[2020-10-22 15:09] Weasy666 commented on #320
But shouldn't a integration be consistend with the library/framework it integrates with? The whole point of the fairing and logging at the time when the fairing will be attached, was to make it consistent with the rest of the `Rocket` ecosystem. If you "need" to use `async-graphql` with `Rocket` the way it is now, then it does not feel consistent with other `Rocket` integrations. The logging is pa

[2020-10-22 15:34] Koxiaet commented on #320
Ah, I was not aware of Rocket's ecosystem conventions. But I still don't think a GraphQL fairing is a good idea - GraphQL fundamentally isn't middleware, it's an endpoint and adding a fairing can be confusing and unintuitive. Also, what would the logging represent? There is no action performed that requires logging, since it will be instantly and infallibly run on startup. The only place where log